/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.nav-menu-open-button {
    /* Display: */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 6px;
    /* Size: */
    width: 46px;
    height: 46px;
    padding: 5px;
    /* Style: */
    background: transparent;
    border-radius: 6px;
    border: 2px solid transparent;
    outline: none;
    /* Content: */
    font-size: 1px;
    /* Actions: */
    cursor: pointer;
    /* Animations: */
    transition-property: background, box-shadow;
    transition-duration: calc(var(--theme-transition-fast) * 1ms);
    transition-timing-function: ease;
}

::deep.nav-menu-open-button .nav-menu-open-button-line {
    /* Display: */
    display: block;
    /* Size: */
    width: 100%;
    height: 4px;
    /* Style: */
    background: var(--theme-nav-menu-mobile-button-color);
    border-radius: 100px;
    /* Animations: */
    transition-property: background;
    transition-duration: calc(var(--theme-transition-fast) * 1ms);  
}

/* Styles [highlight] ------------------------------------------------------------------------------------------------------------------ */
::deep.nav-menu-open-button:hover .nav-menu-open-button-line,
::deep.nav-menu-open-button:focus-visible .nav-menu-open-button-line {
    /* Style: */
    background: var(--theme-nav-menu-mobile-button-highlight-color);
}

::deep.nav-menu-open-button:focus-visible {
    /* Style: */
    background: var(--theme-nav-menu-mobile-button-focus-background);
    box-shadow: var(--theme-nav-menu-mobile-button-focus-box-shadow);
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.nav-menu-open-button {
        /* Display: */
        display: none;
    }
}
