/* Variables --------------------------------------------------------------------------------------------------------------------------- */
::deep.field.radio-button-option {
    /* Style: */
    --radio-button-color: unset;
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.field.radio-button-option .radio-button-element {
    /* Position: */
    position: relative;
    /* Display: */
    display: inline-flex;
    align-items: center;
    /* Size: */
    width: 100%;
    height: 100%;
    /* Style: */
    color: var(--radio-button-color, inherit);
    /* Base: */
    font-size: var(--field-base-size);
}

::deep.field.radio-button-option .radio-button-content {
    /* Position: */
    position: relative;
    /* Display: */
    display: inline-flex;
}

/* Align ------------------------------------------------------------------------------------------------------------------------------- */
::deep.field.radio-button-option.align-left .radio-button-element { justify-content: flex-start; }

::deep.field.radio-button-option.align-center .radio-button-element { justify-content: center; }

::deep.field.radio-button-option.align-right .radio-button-element { justify-content: flex-end; }

/* Variant [primary] ------------------------------------------------------------------------------------------------------------------- */
::deep.field.radio-button-option.variant-primary {
    /* Style: */
    --radio-button-color: var(--theme-radio-button-primary-color);
}

::deep.field.radio-button-option.variant-primary .radio-button-element {
    /* Style: */
    background: var(--theme-radio-button-primary-background);
    border-radius: var(--field-border-radius);
    border: none;
    outline-style: solid;
    outline-color: transparent;
    box-shadow: var(--theme-radio-button-primary-box-shadow);
    /* Actions: */
    cursor: pointer;
    /* Animations: */
    transition-property: color background outline box-shadow;
    transition-duration: calc(var(--theme-transition-fast) * 1ms);
    transition-timing-function: ease-in-out;
}

/* Variant [primary][selected] --------------------------------------------------------------------------------------------------------- */
::deep.field.radio-button-option.variant-primary.selected {
    /* Style: */
    --radio-button-color: var(--theme-radio-button-primary-selected-color);
}

::deep.field.radio-button-option.variant-primary.selected .radio-button-element {
    /* Style: */
    background: var(--theme-radio-button-primary-selected-background);
    box-shadow: var(--theme-radio-button-primary-selected-box-shadow);
    outline-color: var(--theme-radio-button-primary-selected-outline-color);
}

/* Variant [primary][highlight] -------------------------------------------------------------------------------------------------------- */
::deep.field.radio-button-option.variant-primary:not(.disabled):has(:hover),
::deep.field.radio-button-option.variant-primary:not(.disabled):has(:focus-visible) {
    /* Style: */
    --radio-button-color: var(--theme-radio-button-primary-highlight-color);
}

::deep.field.radio-button-option.variant-primary:not(.disabled):has(:hover) .radio-button-element,
::deep.field.radio-button-option.variant-primary:not(.disabled):has(:focus-visible) .radio-button-element {
    /* Style: */
    background: var(--theme-radio-button-primary-highlight-background);
    box-shadow: var(--theme-radio-button-primary-highlight-box-shadow);
}

/* Variant [primary][highlight][selected] ---------------------------------------------------------------------------------------------- */
::deep.field.radio-button-option.variant-primary.selected:not(.disabled):has(:hover),
::deep.field.radio-button-option.variant-primary.selected:not(.disabled):has(:focus-visible) {
    /* Style: */
    --radio-button-color: var(--theme-radio-button-primary-highlight-selected-color);
}

::deep.field.radio-button-option.variant-primary.selected:not(.disabled):has(:hover) .radio-button-element,
::deep.field.radio-button-option.variant-primary.selected:not(.disabled):has(:focus-visible) .radio-button-element {
    /* Style: */
    background: var(--theme-radio-button-primary-highlight-selected-background);
    box-shadow: var(--theme-radio-button-primary-highlight-selected-box-shadow);
    outline-color: var(--theme-radio-button-primary-highlight-selected-outline-color);
}

/* Variant [primary][disabled] --------------------------------------------------------------------------------------------------------- */
::deep.field.radio-button-option.variant-primary.disabled {
    /* Style: */
    --radio-button-color: var(--theme-radio-button-primary-disabled-color);
}

::deep.field.radio-button-option.variant-primary.disabled .radio-button-element {
    /* Style: */
    background: var(--theme-radio-button-primary-disabled-background);
    box-shadow: var(--theme-radio-button-primary-disabled-box-shadow);
    /* Actions: */
    cursor: not-allowed;
}

/* Variant [primary][disabled][selected] ----------------------------------------------------------------------------------------------- */
::deep.field.radio-button-option.variant-primary.disabled.selected {
    --radio-button-color: var(--theme-radio-button-primary-disabled-selected-color);
}

::deep.field.radio-button-option.variant-primary.disabled.selected .radio-button-element {
    /* Style: */
    background: var(--theme-radio-button-primary-disabled-selected-background);
    box-shadow: var(--theme-radio-button-primary-disabled-selected-box-shadow);
    outline-color: var(--theme-radio-button-primary-disabled-selected-outline-color);
}

/* Variant [primary][size-s] ----------------------------------------------------------------------------------------------------------- */
::deep.field.radio-button-option.variant-primary.size-s .radio-button-element {
    /* Size: */
    padding: 8px 20px;
    /* Style: */
    outline-width: 3px; 
}

::deep.field.radio-button-option.variant-primary.size-s .radio-button-content {
    /* Content: */
    font-size: 14px;
}

/* Variant [primary][size-m] ----------------------------------------------------------------------------------------------------------- */
::deep.field.radio-button-option.variant-primary.size-m .radio-button-element {
    /* Size: */
    padding: 12px 30px;
    /* Style: */
    outline-width: 4px;
}

::deep.field.radio-button-option.variant-primary.size-m .radio-button-content {
    /* Content: */
    font-size: 16px;
}

/* Variant [primary][size-l] ----------------------------------------------------------------------------------------------------------- */
::deep.field.radio-button-option.variant-primary.size-l .radio-button-element {
    /* Size: */
    padding: 16px 40px;
    /* Style: */
    outline-width: 5px;
}

::deep.field.radio-button-option.variant-primary.size-l .radio-button-content {
    /* Content: */
    font-size: 18px;
}
