/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.container.footer {
    /* Position: */
    bottom: 0;
    /* Display: */
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* Size: */
    width: 100vw;
    min-height: calc(var(--theme-size-footer-height-mobile) * 1px);
    padding-top: 30px;
    padding-bottom: 35px;
    /* Content: */
    text-align: center;
}

::deep.container.footer .paragraph.footer-text {
    /* Content: */
    text-align: center;
}

::deep.container.footer .paragraph.copyright {
    /* Content: */
    margin-top: 20px;
}

::deep.container.footer .paragraph.version {
    /* Content: */
    margin-top: 7px;
}

/* Display ----------------------------------------------------------------------------------------------------------------------------- */
::deep.container.footer:not(.display) {
    /* Display: */
    display: none;
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.container.footer {
        min-height: calc(var(--theme-size-footer-height-tablet) * 1px);
    }

    ::deep.container.footer {
        padding-top: 40px;
        padding-bottom: 45px;
    }

    ::deep.container.footer .paragraph.copyright {
        margin-top: 22px;
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.container.footer {
        min-height: calc(var(--theme-size-footer-height-desktop) * 1px);
    }

    ::deep.container.footer {
        padding-top: 50px;
        padding-bottom: 55px;
    }

    ::deep.container.footer .paragraph.copyright {
        margin-top: 24px;
    }
}
