/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.collapse {
    /* Display: */
    display: flex;
    flex-direction: column;
    gap: 6px;
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.collapse {
        /* Display: */
        gap: 7px;
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.collapse {
        /* Display: */
        gap: 8px;
    }
}
