/* Keyframes --------------------------------------------------------------------------------------------------------------------------- */
@keyframes notification-fade-out-fix {
    0% {
      max-height: 100vh;
      margin-bottom: 0;
      opacity: 1;
    }
    100% {
      max-height: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
    }
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.body .ant-notification {
    /* Position: */
    top: 7px !important;
    z-index: var(--theme-z-index-notification);
    /* Size: */
    width: 100%;
    margin-top: 0px !important;
    margin-right: 10px;
    /* Actions: */
    pointer-events: none;
}

::deep.body .ant-notification > div {
    /* Display: */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Size: */
    width: 100%;
    max-width: 100vw;
}

::deep.body .ant-notification .ant-notification-notice {
    /* Position: */
    position: relative;
    /* Display: */
    display: flex !important;
    /* Size: */
    width: 100%;
    max-width: calc(100% - 20px);
    padding: 23px 22px;
    margin-top: 0px !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px !important;
    /* Style: */
    background: transparent;
    box-shadow: none;
    /* Content: */
    overflow: visible;
    /* Actions: */
    pointer-events: none;
}
::deep.body .ant-notification-fade-leave.ant-notification-fade-leave-active {
    /* Animations: */
    animation-name: notification-fade-out-fix;
    animation-play-state: running;
}
::deep.body .ant-notification-fade-leave *, ::deep.body .ant-notification-fade-leave-active *,
::deep.body .ant-notification-fade-leave:before, ::deep.body .ant-notification-fade-leave-active:before {
    /* Actions: */
    pointer-events: none !important;
}

::deep.body .ant-notification .ant-notification-notice * {
    /* Position: */
    z-index: 2;
    /* Actions: */
    pointer-events: all;
}

::deep.body .ant-notification .ant-notification-notice-message {
    /* Display: */
    display: -webkit-box;
    /* Size: */
    padding-right: 32px;
    margin-left: 0;
    margin-bottom: 0;
    min-height: 24px;
    /* Style: */
    color: var(--theme-text-color);
    /* Content: */
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep.body .ant-notification .ant-notification-notice-with-icon .ant-notification-notice-message {
    /* Size: */
    margin-left: 32px;
}

::deep.body .ant-notification .ant-notification-notice-description {
    /* Display: */
    display: block;
    display: -webkit-box;
    /* Size: */
    margin-left: 0;
    /* Style: */
    color: var(--theme-text-color);
    /* Content: */
    -webkit-box-orient: vertical;
    line-clamp: 10;
    -webkit-line-clamp: 10;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep.body .ant-notification .ant-notification-notice-description .ant-notification-message-space {
    /* Size: */
    width: 100%;
    padding-top: 10px;
}

::deep.body .ant-notification .ant-notification-notice .ant-notification-notice-content {
    /* Size: */
    width: 100%;
}

::deep.body .ant-notification .ant-notification-notice::before {
    /* Position: */
    position: absolute;
    top: 5px;
    left: 0;
    bottom: 5px;
    right: 0;
    z-index: 1;
    /* Display: */
    display: block;
    /* Size: */
    width: 100%;
    /* Style: */
    background: var(--theme-surface-background);
    border-radius: 9px;
    box-shadow: var(--theme-notification-box-shadow);
    /* Content: */
    content: "";
    font-size: 1px;
    /* Actions: */
    pointer-events: all;
}

::deep.body .ant-notification .anticon {
    /* Size: */
    margin-left: 0;
}

::deep.body .ant-notification .ant-notification-notice .ant-notification-notice-close {
    /* Position: */
    top: 21px;
    right: 19px;
}

::deep.body .ant-notification .ant-notification-notice .ant-notification-notice-close-x {
    /* Position: */
    position: relative;
    /* Display: */
    display: flex;
}

::deep.body .ant-notification .ant-notification-notice .ant-notification-notice-close svg {
    /* Size: */
    width: 20px !important;
    height: 21px !important;
    /* Style: */
    color: var(--theme-notification-control-color);
    /* Animations: */
    transition: color calc(var(--theme-transition-fast) * 1ms);
}
::deep.body .ant-notification .ant-notification-notice .ant-notification-notice-close:hover svg,
::deep.body .ant-notification .ant-notification-notice .ant-notification-notice-close:focus-visible svg {
    /* Style: */
    color: var(--theme-notification-control-highlight-color);
}

/* Status ------------------------------------------------------------------------------------------------------------------------------ */
::deep.body .ant-notification .ant-notification-notice-icon-error {
    /* Style: */
    color: var(--theme-status-danger-accent-color);
}
::deep.body .ant-notification .ant-notification-notice-icon-success {
    /* Style: */
    color: var(--theme-status-success-accent-color);
}
::deep.body .ant-notification .ant-notification-notice-icon-warning {
    /* Style: */
    color: var(--theme-status-warning-accent-color);
}
::deep.body .ant-notification .ant-notification-notice-icon-info {
    /* Style: */
    color: var(--theme-status-info-accent-color);
}

/* ARIA -------------------------------------------------------------------------------------------------------------------------------- */
::deep.notification-aria {
    /* Position: */
    position: absolute;
    top: 0;
    left: 0;
    /* Style: */
    opacity: 0;
    /* Actions: */
    pointer-events: none;
}

@media all and (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.body .ant-notification {
        /* Position: */
        top: 18px !important;
        /* Size: */
        margin-right: 24px !important;
    }

    ::deep.body .ant-notification .ant-notification-notice {
        /* Size: */
        width: auto;
        max-width: 440px;
        min-width: 200px;
        padding: 28px 24px;
    }
    
    ::deep.body .ant-notification .ant-notification-notice::before {
        /* Position: */
        top: 7px;
        bottom: 7px;
    }

    ::deep.body .ant-notification .ant-notification-notice .ant-notification-notice-close {
        /* Position: */
        top: 26px;
        right: 21px;
    }
}
