@namespace Jumpeno.Client.Components

@inherits ServiceComponent<Notification>

@foreach (var notification in AriaNotifications) {
    <p class="notification-aria" aria-live="assertive" role="alert">
        @($"{notification.Title}: {notification.Message}")
    </p>
}
