/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.password-strength {
    /* Display: */
    display: flex;
    flex-direction: column;
    /* Size: */
    width: 100%;
    height: 100%;
}

::deep.password-strength .bar {
    /* Display: */
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Size: */
    margin-bottom: 8px;
    margin-top: 8px;
}

::deep.password-strength .segment {
    /* Size: */
    flex: 1;
    height: 14px;
    /* Style: */
    border-radius: 2px;
    background: var(--theme-password-strength-bar-segment-background);
    border: 2px solid var(--theme-text-color);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    /* Transform: */
    transform: scaleY(0.7) skewX(-30deg);
    /* Animations: */
    transition: transform 0.3s ease, background-size 0.8s ease;   
}

::deep.password-strength .segment.filled {
    /* Style: */
    background-size: 100% 100%;
    /* Transform: */
    transform: scaleY(1) skewX(-30deg);
}

::deep.password-strength .segment:nth-child(1) {
    /* Style: */
    background-image: var(--theme-password-strength-bar-segment-n1-filled-background);
}

::deep.password-strength .segment:nth-child(2) {
    /* Style: */
    background-image: var(--theme-password-strength-bar-segment-n2-filled-background);
}

::deep.password-strength .segment:nth-child(3) {
    /* Style: */
    background-image: var(--theme-password-strength-bar-segment-n3-filled-background);
}

::deep.password-strength .segment:nth-child(4) {
    /* Style: */
    background-image: var(--theme-password-strength-bar-segment-n4-filled-background);
}

/* Rules Section ----------------------------------------------------------------------------------------------------------------------- */
::deep.password-strength .rules-section {
    /* Display: */
    display: flex;
    gap: 6px;
    flex-direction: column;
    flex-grow: 1;
}

::deep.password-strength .rules-header {
    /* Display: */
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    /* Size: */
    padding-bottom: 4px;
    /* Content: */
    font-weight: 600;
    color: var(--theme-text-color);
}

::deep.password-strength .rules-header-content {
    /* Display: */
    display: flex;
}

::deep.password-strength .info-circle {
    /* Size: */
    margin-top: 5px;
    margin-right: 5px;
}

::deep.password-strength .rules {
    /* Display: */
    display: flex;
    gap: 4px;
    flex-direction: column;
    /* Content: */
    font-size: 13px;
}

::deep.password-strength .rule {
    /* Display: */
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

/* Rule States ------------------------------------------------------------------------------------------------------------------------- */
::deep.password-strength .rule.comp {
    /* Style: */
    color: var(--theme-password-strength-rule-completed-text-color);
    /* Content: */
    font-weight: 600;
    /* Animations: */
    transition: color 0.3s ease;
}

::deep.password-strength .rule.not-comp {
    /* Style: */
    color: var(--theme-text-color);
    /* Animations: */
    transition: color 0.3s ease;
}

::deep.password-strength .dot {
    /* Display: */
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
    /* Size: */
    width: 18px;
    margin-top: -1px;
    /* Content: */
    font-weight: 700;
}

::deep.password-strength:not(.hide-lock) .lock-icon {
    /* Display: */
    display: block;
    /* Size: */
    margin: auto;
    /* Style: */
    opacity: 0.4;
    /* Content: */
    font-size: 120px;
}
