.vs
.vscode
Jumpeno.Client/bin
Jumpeno.Client/obj
Jumpeno.Server/bin
Jumpeno.Server/obj
Jumpeno.Shared/bin
Jumpeno.Shared/obj
Scripts/ThemeProvider/ThemeProvider/bin
Scripts/ThemeProvider/ThemeProvider/obj