/* Variables --------------------------------------------------------------------------------------------------------------------------- */
.dropdown {
    /* Button: */
    --dropdown-button-width: 40px;
    --dropdown-button-height: 40px;
    --dropdown-button-radius: 0;
    /* Options: */
    --dropdown-options-right: auto;
    --dropdown-options-left: auto;
    --dropdown-options-translate: 0%;
    --dropdown-options-radius: 10px;
    --dropdown-options-min-width: 60px;
    --dropdown-options-max-width: 400px;
    /* Option: */
    --dropdown-option-font-size: 16px;
    --dropdown-option-padding: 10px 18px;
    --dropdown-option-justify: flex-start;
}

/* Override ---------------------------------------------------------------------------------------------------------------------------- */
.dropdown-button {
    position: relative;
    width: var(--dropdown-button-width);
    height: var(--dropdown-button-height);
    border-radius: var(--dropdown-button-radius);
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.dropdown {
    position: relative;
    display: flex;
}

.dropdown-start,
.dropdown-end {
    position: absolute;
    inset: 0;
    z-index: 0;
    outline: none;
    pointer-events: none;
}

.dropdown-menu {
    position: absolute;
    display: none;
    width: 100%;
    bottom: 0;
    z-index: var(--z-index-dropdown);
    opacity: 0;
    transition: display calc(var(--transition-fast) * 1ms) allow-discrete,
                opacity calc(var(--transition-fast) * 1ms);
}
.displayed .dropdown-menu {
    display: flex;
    opacity: 1;
}
@starting-style {
    .displayed .dropdown-menu {
        opacity: 0;
    }
}

.dropdown-mark {
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%) rotateZ(45deg);
    background-color: rgb(var(--color-base-invert));
    box-shadow: 0 0 8px 2px rgba(var(--color-base), 0.2);
}

.dropdown-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: var(--dropdown-options-min-width);
    max-width: var(--dropdown-options-max-width);
    min-height: 24px;
    overflow: hidden;
    left: var(--dropdown-options-left);
    right: var(--dropdown-options-right);
    bottom: -12px;
    border-radius: var(--dropdown-options-radius);
    box-shadow: 0 0 16px rgba(var(--color-base), 0.3);
    background-color: rgb(var(--color-base-invert));
    transform: translate(var(--dropdown-options-translate), 100%);
}

/* Themes ------------------------------------------------------------------------------------------------------------------------------ */
.light-theme ::deep .dropdown-options {
    box-shadow: 0 0 12px rgba(var(--color-base), 0.2);
}
