/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.error-boundary {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    /* Size: */
    width: 100%;
    padding: 40px 0;
}

::deep.error-boundary .heading.error-boundary-heading {
    /* Size: */
    margin-bottom: 6px;
    /* Content: */
    text-align: center;
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.error-boundary {
        /* Size: */
        padding: 60px 0;
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.error-boundary {
        /* Size: */
        padding: 80px 0;
    }
}
