@namespace Jumpeno.Client.Components

@inherits BasicComponent

<ErrorBoundaryBase @ref="@ErrorBoundary" Context="Exception">
    <ChildContent>
        @ChildContent
    </ChildContent>
    <ErrorContent>
        <div class="error-boundary">
            <AntIcon Type="warning" Theme="outline" Style="font-size: 200px; margin-top: -30px; margin-bottom: -24px;" />
            <Heading1 Class="error-boundary-heading">@I18N.T("An unexpected error occurred!")</Heading1>
            <Button Size="BUTTON_SIZE.M" OnClick="Refresh">
                <Icon><AntIcon Type="sync" Theme="outline" /></Icon>
                <Text>@I18N.T("Reload page")</Text>
            </Button>
        </div>
    </ErrorContent>
</ErrorBoundaryBase>
