@namespace Jumpeno.Client.Pages

@inherits Page
@attribute [Route(GamePage.ROUTE_EN)]
@attribute [Route(GamePage.ROUTE_SK)]

<div class="game-page">
    <DocTitle Value="@I18N.T("Game")" />
    @if (GameVM is null) {
        if (!ConnectVM.Create) {
            <ConnectBox @ref="View" VM="ConnectVM" />
        } else {
            <CreateBox @ref="View" VM="ConnectVM" />
        }
    } else switch (GameVM.Game.State) {
        case GAME_STATE.LOBBY:
        case GAME_STATE.SCOREBOARD:
        case GAME_STATE.PAUSE:
            <Lobby @ref="View" VM="GameVM" />
        break;
        case GAME_STATE.GAMEPLAY:
        case GAME_STATE.SHRINKING:
            <GameScreen @ref="View" VM="GameVM" />
        break;
    }
</div>
