@namespace Jumpeno.Client.Pages

@inherits Page
@attribute [Route(GamePage.ROUTE_EN)]
@attribute [Route(GamePage.ROUTE_SK)]

<div class="game-page">
    <DocTitle Value="@I18N.T("Game")" />
    @if (GameVM is null || IsNavigating) {
        <ConnectBox ViewModel="ConnectBoxVM" @key="@ConnectBoxVM.Key()" />
    } else switch (GameVM.Game.State) {
        case GAME_STATE.LOBBY:
        case GAME_STATE.SCOREBOARD:
            <Lobby ViewModel="GameVM" />
        break;
        case GAME_STATE.GAMEPLAY:
        case GAME_STATE.SHRINKING:
            <GameScreen ViewModel="GameVM" />
        break;
    }
</div>
