/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.game-page {
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: 100%;
}
