/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.user-login-form {
    /* Display: */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* Size: */
    width: 400px;
    max-width: 100%;
}

::deep.user-login-form .heading.login-heading {
    /* Content: */
    text-align: center;
}

::deep.user-login-form .login-inputs {
    /* Display: */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Size: */
    width: 100%;
}

::deep.user-login-form .paragraph.register-block {
    /* Content: */
    text-align: center;
    /* Size: */
    margin-bottom: -8px
}

::deep.user-login-form .login-options {
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

::deep.user-login-form .option-delimiter {
    /* Position: */
    position: relative;
    top: -2px;
}

::deep.user-login-form .icon-admin {
    /* Position: */
    position: relative;
    bottom: -1px;
    /* Content: */
    font-size: 15px;
}
