/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.modal.password-change-modal .password-change-form {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: 100%;
}

::deep.modal.password-change-modal .password-change-form .password-change-box {
    /* Display: */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    /* Size: */
    width: 320px;
    max-width: 100%;
}

::deep.modal.password-change-modal .password-change-form .password-change-inputs {
    /* Display: */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Size: */
    width: 100%;
}

@media (min-width: 420px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.modal.password-change-modal .password-change-form .password-change-inputs {
        /* Size: */
        max-width: 360px;
    }
}
