/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.page-loader {
    /* Position: */
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--theme-z-index-page-loader);
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    /* Style: */
    background: var(--theme-body-backdrop);
    outline: none;
    opacity: 0;
    /* Actions: */
    cursor: default;
    pointer-events: none;
    /* Animations: */
    transition: opacity calc(var(--theme-transition-semi-bolt) * 1ms) ease-in;
}

/* Styles [displayed] ------------------------------------------------------------------------------------------------------------------ */
::deep.page-loader.displayed {
    /* Style: */
    opacity: 1;
    /* Actions: */
    pointer-events: all;
}

::deep.page-loader:not(.displayed) {
    /* Animations: */
    transition: opacity calc(var(--theme-transition-ultra-fast) * 1ms) ease-out;
}

::deep.page-loader.displayed.custom-loader {
    /* Style: */
    opacity: 0;
}
