/* Variables --------------------------------------------------------------------------------------------------------------------------- */
::deep.loader {
    /* Size: */
    --size: 30;
    /* Style: */
    --color: var(--theme-loader-color);
    --background: var(--theme-loader-background);
}

/* Keyframes --------------------------------------------------------------------------------------------------------------------------- */
@keyframes loader-spinner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.loader {
    /* Display: */
    flex-shrink: 0;
    /* Size: */
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
    /* Style: */
    border-radius: 50%;
    border: calc(var(--size) / 6 * 1px) solid;
    border-color: var(--background);
    border-right-color: var(--color);
    /* Animations: */
    animation: loader-spinner 1s infinite linear;
}
