/* Constants --------------------------------------------------------------------------------------------------------------------------- */
::deep.game-control-page {
    --game-control-form-width: 400px;
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.game-control-page {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Size: */
    width: 100%;
    padding: 0;
}

::deep.game-control-page .game-control-form {
    /* Display: */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* Size: */
    width: var(--game-control-form-width);
    max-width: 100%;
}

::deep.game-control-page .heading.game-control-heading {
    /* Content: */
    text-align: center;
}

::deep.game-control-page .form-inputs {
    /* Display: */
    display: flex;
    flex-direction: column;
    /* Size: */
    width: 100%;
}

::deep.game-control-page .game-controls {
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    /* Size: */
    width: 100%;
}

::deep.game-control-page .button.variant.size.button-end-game {
    /* Size: */
    --button-icon-size: 28px;
}

::deep.game-control-page .player-control-form {
    /* Display: */
    flex-direction: column;
    gap: 10px;
    /* Size: */
    width: var(--game-control-form-width);
    max-width: 100%;
    --box-padding: 16px;
    /* Style: */
    --box-border-radius: 16px;
}

::deep.game-control-page .player-control-area {
    /* Display: */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    /* Size: */
    width: 100%;
}

::deep.game-control-page .player-form-heading {
    /* Content: */
    text-align: center;
}

::deep.game-control-page .player-form-heading-icon {
    /* Position: */
    position: relative;
    top: 0.1em;
    /* Size: */
    margin-right: 0.16em;
    /* Content: */
    font-size: 1.3em;
}

::deep.game-control-page .player-controls {
    /* Display: */
    display: flex;
    gap: 8px;
}

::deep.game-control-page .button.variant.size.button-player-kick {
    /* Size: */
    --button-icon-size: 24px;
}

::deep.game-control-page .game-illustration-icon {
    /* Variables: */
    --translation: 380px;
    /* Position: */
    position: absolute;
    top: 50%;
    /* Display: */
    display: none;
    /* Style: */
    color: var(--theme-text-color);
    opacity: 0.1;
    /* Content: */
    font-size: 140px;
    /* Transform: */
    transform: translateY(-50%);
    /* Actions: */
    pointer-events: none;
}
::deep.game-control-page .game-illustration-left { left: calc(50% - var(--translation)); }
::deep.game-control-page .game-illustration-right { right: calc(50% - var(--translation)); }

@media (min-width: 320px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.game-control-page .player-control-area {
        /* Display: */
        flex-direction: row;
        gap: 16px;
    }

    ::deep.game-control-page .player-form-heading {
        /* Content: */
        text-align: left;
    }
}

@media (min-width: 420px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.game-control-page {
        /* Size: */
        padding: 16px 0;
    }

    ::deep.game-control-page .player-control-form {
        /* Size: */
        --box-padding: 30px 30px 40px;
        margin: 10px 0 0;
    }
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.game-control-page {
        /* Size: */
        padding: 20px 0;
    }

    ::deep.game-control-page .game-illustration-icon {
        /* Display: */
        display: block;
    }
}

@media (min-width: 960px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.game-control-page .game-illustration-icon {
        /* Variables: */
        --translation: 460px;
        /* Content: */
        font-size: 200px;
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.game-control-page {
        /* Size: */
        padding: 24px 0;
    }
}
