/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.button-component.button {
    /* Style: */
    border-radius: 100px;
    /* Animations: */
    transition-property: color, background, box-shadow;
    transition-duration: calc(var(--theme-transition-fast) * 1ms);
    transition-timing-function: ease;
}
::deep.button-component.button .button-text {
    /* Content: */
    font-weight: 500;
}

/* Size [size-s] ----------------------------------------------------------------------------------------------------------------------- */
::deep.button-component.button.size-s {
    /* Variables: */
    --base-size: 0.8px;
    --button-icon-size: 18px;
    --button-gap: 7px;
    /* Size: */
    height: 41px;
    padding: 9px 22px;
}
::deep.button-component.button.size-s .button-text {
    /* Size: */
    margin-top: 1px;
    /* Content: */
    font-size: 13px;
}

/* Size [size-m] ----------------------------------------------------------------------------------------------------------------------- */
::deep.button-component.button.size-m {
    /* Variables: */
    --base-size: 1px;
    --button-icon-size: 22px;
    --button-gap: 9px;
    /* Size: */
    height: 52px;
    padding: 13px 28px;
}
::deep.button-component.button.size-m .button-text {
    /* Content: */
    font-size: 16px;
    /* Size: */
    margin-top: 1px;
}

/* Size [size-l] ----------------------------------------------------------------------------------------------------------------------- */
::deep.button-component.button.size-l {
    /* Variables: */
    --base-size: 1.2px;
    --button-icon-size: 26px;
    --button-gap: 11px;
    /* Size: */
    height: 64px;
    padding: 17px 34px;
}
::deep.button-component.button.size-l .button-text {
    /* Content: */
    font-size: 19px;
    /* Size: */
    margin-top: 1px;
}

/* Variant [primary] ------------------------------------------------------------------------------------------------------------------- */
::deep.button-component.button.variant-primary {
    /* Style: */
    color: var(--theme-button-primary-color);
    background: var(--theme-button-primary-background);
}
::deep.button-component.button.variant-primary:not(.no-shadow) {
    /* Style: */
    box-shadow: var(--theme-button-primary-box-shadow);
}

/* Variant [primary][highlight] */
::deep.button-component.button.variant-primary:not(.disabled):hover,
::deep.button-component.button.variant-primary:not(.disabled):focus-visible {
    /* Style: */
    color: var(--theme-button-primary-highlight-color);
    background: var(--theme-button-primary-highlight-background);
}
::deep.button-component.button.variant-primary:not(.disabled):not(.no-shadow):hover,
::deep.button-component.button.variant-primary:not(.disabled):not(.no-shadow):focus-visible {
    /* Style: */
    box-shadow: var(--theme-button-primary-highlight-box-shadow);
}

/* Variant [primary][disabled] */
::deep.button-component.button.variant-primary.disabled {
    /* Style: */
    color: var(--theme-button-disabled-color);
    background: var(--theme-button-disabled-background);
}
::deep.button-component.button.variant-primary.disabled:not(.no-shadow) {
    /* Style: */
    box-shadow: var(--theme-button-disabled-box-shadow);
}

/* Variant [secondary] ----------------------------------------------------------------------------------------------------------------- */
::deep.button-component.button.variant-secondary {
    /* Style: */
    color: var(--theme-button-secondary-color);
    background: var(--theme-button-secondary-background);
}
::deep.button-component.button.variant-secondary:not(.no-shadow) {
    /* Style: */
    box-shadow: var(--theme-button-secondary-box-shadow);
}

/* Variant [secondary][highlight] */
::deep.button-component.button.variant-secondary:not(.disabled):hover,
::deep.button-component.button.variant-secondary:not(.disabled):focus-visible {
    /* Style: */
    color: var(--theme-button-secondary-highlight-color);
    background: var(--theme-button-secondary-highlight-background);
}
::deep.button-component.button.variant-secondary:not(.disabled):not(.no-shadow):hover,
::deep.button-component.button.variant-secondary:not(.disabled):not(.no-shadow):focus-visible {
    /* Style: */
    box-shadow: var(--theme-button-secondary-highlight-box-shadow);
}

/* Variant [secondary][disabled] */
::deep.button-component.button.variant-secondary.disabled {
    /* Style: */
    color: var(--theme-button-disabled-color);
    background: var(--theme-button-disabled-background);
}
::deep.button-component.button.variant-secondary.disabled:not(.no-shadow) {
    /* Style: */
    box-shadow: var(--theme-button-disabled-box-shadow);
}

/* Variant [tertiary] ------------------------------------------------------------------------------------------------------------------- */
::deep.button-component.button.variant-tertiary {
    /* Style: */
    color: var(--theme-button-tertiary-color);
    background: var(--theme-button-tertiary-background);
}
::deep.button-component.button.variant-tertiary:not(.no-shadow) {
    /* Style: */
    box-shadow: var(--theme-button-tertiary-box-shadow);
}

/* Variant [tertiary][highlight] */
::deep.button-component.button.variant-tertiary:not(.disabled):hover,
::deep.button-component.button.variant-tertiary:not(.disabled):focus-visible {
    /* Style: */
    color: var(--theme-button-tertiary-highlight-color);
    background: var(--theme-button-tertiary-highlight-background);
}
::deep.button-component.button.variant-tertiary:not(.disabled):not(.no-shadow):hover,
::deep.button-component.button.variant-tertiary:not(.disabled):not(.no-shadow):focus-visible {
    /* Style: */
    box-shadow: var(--theme-button-tertiary-highlight-box-shadow);
}

/* Variant [tertiary][disabled] */
::deep.button-component.button.variant-tertiary.disabled {
    /* Style: */
    color: var(--theme-button-disabled-color);
    background: var(--theme-button-disabled-background);
}
::deep.button-component.button.variant-tertiary.disabled:not(.no-shadow) {
    /* Style: */
    box-shadow: var(--theme-button-disabled-box-shadow);
}

/* Variant [quaternary] ------------------------------------------------------------------------------------------------------------------- */
::deep.button-component.button.variant-quaternary {
    /* Style: */
    color: var(--theme-button-quaternary-color);
    background: var(--theme-button-quaternary-background);
}
::deep.button-component.button.variant-quaternary:not(.no-shadow) {
    /* Style: */
    box-shadow: var(--theme-button-quaternary-box-shadow);
}

/* Variant [quaternary][highlight] */
::deep.button-component.button.variant-quaternary:not(.disabled):hover,
::deep.button-component.button.variant-quaternary:not(.disabled):focus-visible {
    /* Style: */
    color: var(--theme-button-quaternary-highlight-color);
    background: var(--theme-button-quaternary-highlight-background);
}
::deep.button-component.button.variant-quaternary:not(.disabled):not(.no-shadow):hover,
::deep.button-component.button.variant-quaternary:not(.disabled):not(.no-shadow):focus-visible {
    /* Style: */
    box-shadow: var(--theme-button-quaternary-highlight-box-shadow);
}

/* Variant [quaternary][disabled] */
::deep.button-component.button.variant-quaternary.disabled {
    /* Style: */
    color: var(--theme-button-disabled-color);
    background: var(--theme-button-disabled-background);
}
::deep.button-component.button.variant-quaternary.disabled:not(.no-shadow) {
    /* Style: */
    box-shadow: var(--theme-button-disabled-box-shadow);
}
