/* Variables --------------------------------------------------------------------------------------------------------------------------- */
.button {
    --button-width: auto;
    --button-height: auto;
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.button {
    display: inline-flex;
    width: var(--button-width);
    height: var(--button-height);
    --button-propagate-width: var(--button-width);
    --button-propagate-height: var(--button-height);
    max-width: 100%;
}

::deep > .surface-all > .surface-all {
    --button-width: var(--button-propagate-width);
    --button-height: var(--button-propagate-height);
    --button-font-weight: 500;
    --button-border-radius: 100px;
    --button-text-top: 2px;
    --button-transition-properties: color, background-color, box-shadow;
}

/* Variants ---------------------------------------------------------------------------------------------------------------------------- */
.variant-primary ::deep > * > .surface-all {
    --button-color: rgba(var(--color-button-primary));
    --button-color-transition: rgba(var(--color-button-primary));
    --button-background: rgba(var(--color-button-primary-surface));
    --button-background-transition: rgba(var(--color-button-primary-surface-highlight));
}
.variant-primary:not(.no-shadow) ::deep > * > .surface-all {
    --button-box-shadow: var(--shadow-button-primary);
    --button-box-shadow-transition: var(--shadow-button-primary-transition);
}

.variant-secondary ::deep > * > .surface-all {
    --button-color: rgba(var(--color-button-secondary));
    --button-color-transition: rgba(var(--color-button-secondary));
    --button-background: rgba(var(--color-button-secondary-surface));
    --button-background-transition: rgba(var(--color-button-secondary-surface-highlight));
}
.variant-secondary:not(.no-shadow) ::deep > * > .surface-all {
    --button-box-shadow: var(--shadow-button-secondary);
    --button-box-shadow-transition: var(--shadow-button-secondary-transition);
}

.variant-tertiary ::deep > * > .surface-all {
    --button-color: rgba(var(--color-button-tertiary));
    --button-color-transition: rgba(var(--color-button-tertiary));
    --button-background: rgba(var(--color-button-tertiary-surface));
    --button-background-transition: rgba(var(--color-button-tertiary-surface-highlight));
}
.variant-tertiary:not(.no-shadow) ::deep > * > .surface-all {
    --button-box-shadow: var(--shadow-button-tertiary);
    --button-box-shadow-transition: var(--shadow-button-tertiary-transition);
}

.variant-quaternary ::deep > * > .surface-all {
    --button-color: rgba(var(--color-button-quaternary));
    --button-color-transition: rgba(var(--color-button-quaternary));
    --button-background: rgba(var(--color-button-quaternary-surface));
    --button-background-transition: rgba(var(--color-button-quaternary-surface-highlight));
}
.variant-quaternary:not(.no-shadow) ::deep > * > .surface-all {
    --button-box-shadow: var(--shadow-button-quaternary);
    --button-box-shadow-transition: var(--shadow-button-quaternary-transition);
}

/* Sizes ------------------------------------------------------------------------------------------------------------------------------- */
.size-s ::deep > * > .surface-all {
    --button-height: 41px;
    --button-font-size: 13px;
    --button-icon-size: 18px;
    --button-padding: 9px 22px;
    --button-gap: 7px;
}

.size-m ::deep > * > .surface-all {
    --button-height: 52px;
    --button-font-size: 16px;
    --button-icon-size: 22px;
    --button-padding: 13px 28px;
    --button-gap: 9px;
}

.size-l ::deep > * > .surface-all {
    --button-height: 64px;
    --button-font-size: 19px;
    --button-icon-size: 26px;
    --button-padding: 17px 34px;
    --button-gap: 11px;
}
