@namespace Jumpeno.Client.Components

@inherits BasicComponent

<div class="link-logo">
    <Link Href="@(I18N.Link<HomePage>())" Match="LINK_MATCH.ALL" NoWrap Underline="false" Class="logo-link" OnClick="OnClick">
        <Image URL="@IMAGE.JUMPER_YELLOW" Transparent NoTransition Class="logo-image" />@AppSettings.Name
    </Link>
</div>
