/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.logo-link {
    /* Display: */
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    /* Size: */
    padding: 5px 13px 5px 10px;
    border-radius: 8px;
    /* Style: */
    color: var(--theme-logo-link-color);
    background: var(--theme-logo-link-background);
    box-shadow: var(--theme-logo-link-box-shadow);
    /* Content: */
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    /* Actions: */
    cursor: pointer;
    /* Animations: */
    transition-property: color, background, box-shadow;
    transition-duration: calc(var(--theme-transition-fast) * 1ms);
    transition-timing-function: ease-in-out;
}

::deep.logo-link .logo-image {
    /* Position: */
    --image-fit: contain;
    --image-position: 0 center;
    /* Size: */
    --image-width: 40px;
    --image-height: 40px;
}

/* Styles [focus] ---------------------------------------------------------------------------------------------------------------------- */
::deep.logo-link:focus-visible {
    /* Style: */
    color: var(--theme-logo-link-focus-color);
    background: var(--theme-logo-link-focus-background);
    box-shadow: var(--theme-logo-link-focus-box-shadow);
}

@media (min-width: 480px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.nav-menu .logo-link {
        /* Position: */
        position: absolute;
        left: 50%;
        /* Transform: */
        transform: translateX(-50%);
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.nav-menu .logo-link {
        /* Position: */
        position: relative;
        left: 0;
        /* Transform: */
        transform: none;
    }
}
