@namespace Jumpeno.Client.Components

@inherits BasicComponent

<div class="@ComputeClass()">
    @if (!Component.HideLabel) {
        <FormLabel For="@ViewModel.FormID" Label="@Component.Label" Size="Component.Size" />
    }
    <FormError
        Type="Type" ViewModel="ViewModel.Error"
        Disabled="@ViewModel.Disabled" DisabledCursor="DisabledCursor"
    >
        @ChildContent
    </FormError>
</div>
