/* Variables --------------------------------------------------------------------------------------------------------------------------- */
.input-base {
    --input-width: 100%;
    --input-height: 100%;
    --input-padding: 10px;
    --input-border-radius: 6px;
    --input-font-family: var(--font-primary);
    --input-font-size: 16px;
    --input-font-weight: 400;
    --input-line-height: 1;
    --input-text-align: left;

    --input-clear-size: 18px;
    --input-clear-padding: 6px;
    --input-clear-show-transition-duration: calc(var(--transition-fast) * 1ms);
    --input-clear-transition-duration: calc(var(--transition-fast) * 1ms);
    
    --input-icon-size: 22px;
    --input-icon-gap-inner: 6px;
    --input-icon-gap-outer: 8px;
    
    --input-transform: none;
    --input-transform-transition: none;
    --input-transition-properties: color, background-color, box-shadow, border-color, outline;
    --input-transition-duration: calc(var(--transition-fast) * 1ms);
    --input-transition-timing: ease;
}

.input-base ::deep .input-wrap .input-error {
    --input-error-input-radius: var(--input-border-radius);
}

.input-base.surface-primary {
    --input-color: rgb(var(--color-primary));
    --input-color-transition: rgb(var(--color-primary));
    --input-color-placeholder: rgba(var(--color-primary-highlight), 0.6);
    --input-color-placeholder-transition: rgba(var(--color-primary-highlight), 0.6);
    --input-background: rgb(var(--color-base-invert));
    --input-background-transition: rgb(var(--color-base-invert));
    --input-border: 1px solid rgba(var(--color-base), 0.2);
    --input-border-transition: 1px solid rgba(var(--color-base), 0.2);
    --input-text-shadow: none;
    --input-text-shadow-transition: none;
    --input-box-shadow: none;
    --input-box-shadow-transition: 0 0 5px rgba(var(--color-base), 0.4);

    --input-clear-color: rgb(var(--color-primary));
    --input-clear-color-transition: rgb(var(--color-base));
    --input-clear-background: rgb(var(--color-primary-shade), 0.7);
    --input-clear-background-transition: rgb(var(--color-primary-shade-strong), 0.6);
    --input-clear-box-shadow: none;
    --input-clear-box-shadow-transition: none;
}
.input-base.surface-secondary {
    --input-color: rgb(var(--color-secondary-surface));
    --input-color-transition: rgb(var(--color-secondary-surface));
    --input-color-placeholder: rgba(var(--color-secondary-surface-highlight), 0.6);
    --input-color-placeholder-transition: rgba(var(--color-secondary-surface-highlight), 0.6);
    --input-background: rgb(var(--color-base-invert));
    --input-background-transition: rgb(var(--color-base-invert));
    --input-border: 1px solid rgba(var(--color-base), 0.2);
    --input-border-transition: 1px solid rgba(var(--color-secondary-surface), 0.6);
    --input-text-shadow: none;
    --input-text-shadow-transition: none;
    --input-box-shadow: none;
    --input-box-shadow-transition: 0 0 8px rgba(var(--color-base-invert), 0.9);

    --input-clear-color: rgb(var(--color-secondary-surface));
    --input-clear-color-transition: rgb(var(--color-base));
    --input-clear-background: rgb(var(--color-secondary-shade), 0.4);
    --input-clear-background-transition: rgb(var(--color-secondary-shade-strong), 0.4);
    --input-clear-box-shadow: none;
    --input-clear-box-shadow-transition: none;
}
.input-base.surface-floating {
    --input-color: rgb(var(--color-floating));
    --input-color-transition: rgb(var(--color-floating));
    --input-color-placeholder: rgba(var(--color-floating-highlight), 0.6);
    --input-color-placeholder-transition: rgba(var(--color-floating-highlight), 0.6);
    --input-background: rgb(var(--color-base-invert));
    --input-background-transition: rgb(var(--color-base-invert));
    --input-border: 1px solid rgba(var(--color-base), 0.2);
    --input-border-transition: 1px solid rgba(var(--color-base), 0.2);
    --input-text-shadow: none;
    --input-text-shadow-transition: none;
    --input-box-shadow: none;
    --input-box-shadow-transition: 0 0 5px rgba(var(--color-base), 0.3);
    
    --input-clear-color: rgb(var(--color-floating));
    --input-clear-color-transition: rgb(var(--color-base));
    --input-clear-background: rgb(var(--color-floating-shade), 0.7);
    --input-clear-background-transition: rgb(var(--color-floating-shade-strong), 0.6);
    --input-clear-box-shadow: none;
    --input-clear-box-shadow-transition: none;
}

.light-theme .input-base.surface-secondary {
    --input-color: rgb(var(--color-floating));
    --input-color-transition: rgb(var(--color-floating));
    --input-color-placeholder: rgba(var(--color-floating-highlight), 0.6);
    --input-color-placeholder-transition: rgba(var(--color-floating-highlight), 0.6);
    --input-background: rgb(var(--color-base-invert));
    --input-background-transition: rgb(var(--color-base-invert));
    --input-border: 1px solid rgba(var(--color-base), 0.2);
    --input-border-transition: 1px solid rgba(var(--color-base), 0.2);
    --input-text-shadow: none;
    --input-text-shadow-transition: none;
    --input-box-shadow: none;
    --input-box-shadow-transition: 0 0 5px rgba(var(--color-base), 0.3);

    --input-clear-color: rgb(var(--color-secondary));
    --input-clear-color-transition: rgb(var(--color-base));
    --input-clear-background: rgb(var(--color-secondary-shade), 0.6);
    --input-clear-background-transition: rgb(var(--color-secondary-shade-strong), 0.5);
    --input-clear-box-shadow: none;
    --input-clear-box-shadow-transition: none;
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.input-base {
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: auto;
}

.input-base-component {
    position: relative;
    display: inline-flex;
    align-items: center;
    
    width: var(--input-width);
    height: var(--input-height);

    padding: 0;
    border-radius: var(--input-border-radius);
    overflow: hidden;

    background-color: var(--input-background);
    border: var(--input-border);
    box-shadow: var(--input-box-shadow);

    transform: var(--input-transform);
    transition-property: var(--input-transition-properties);
    transition-duration: var(--input-transition-duration);
    transition-timing-function: var(--input-transition-timing);

    z-index: 0;
    pointer-events: all;
}

.input-base-input {
    position: relative;
    display: block;
    align-items: center;
    appearance: none;

    width: var(--input-width);
    height: var(--input-height);
    padding: var(--input-padding);

    font-family: var(--input-font-family);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    line-height: var(--input-line-height);
    text-align: var(--input-text-align);
    text-shadow: var(--input-text-shadow);

    color: var(--input-color);
    background-color: transparent;

    cursor: text;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;

    transition-property: var(--input-transition-properties);
    transition-duration: var(--input-transition-duration);
    transition-timing-function: var(--input-transition-timing);
}

.input-base-input::placeholder {
    color: var(--input-color-placeholder);
}

.input-base-input[type="password"]:not(:placeholder-shown) {
    font-weight: 600;
    letter-spacing: calc(0.25 * var(--input-font-size));
}

/* Align ------------------------------------------------------------------------------------------------------------------------------- */
.align-left .input-base-input {
    text-align: left;
}
.align-center .input-base-input {
    text-align: center;
}
.align-right .input-base-input {
    text-align: right;
}

/* TextMode ---------------------------------------------------------------------------------------------------------------------------- */
.text-mode-lowercase .input-base-input {
    text-transform: lowercase;
}
.text-mode-normal .input-base-input {
    text-transform: none;
}
.text-mode-uppercase .input-base-input {
    text-transform: uppercase;
}

/* States ------------------------------------------------------------------------------------------------------------------------------ */
.input-base:hover .input-base-component,
.input-base:focus-within .input-base-component {
    background-color: var(--input-background-transition);
    border: var(--input-border-transition);
    box-shadow: var(--input-box-shadow-transition);
    transform: var(--input-transform-transition);
}

.input-base:hover .input-base-input,
.input-base:focus-within .input-base-input {
    color: var(--input-color-transition);
    text-shadow: var(--input-text-shadow-transition);
}
.input-base:hover .input-base-input::placeholder,
.input-base:focus-within .input-base-input::placeholder {
    color: var(--input-color-placeholder-transition);
}

/* Icons ------------------------------------------------------------------------------------------------------------------------------- */
.icon-before .input-base-input {
    padding-left: calc(var(--input-icon-gap-inner) + var(--input-icon-size) + var(--input-icon-gap-outer));
}
.icon-after .input-base-input {
    padding-right: calc(var(--input-icon-gap-inner) + var(--input-icon-size) + var(--input-icon-gap-outer));
}

.input-icon-before,
.input-icon-after {
    position: absolute;
    pointer-events: none;
    z-index: 1;
}
.input-icon-before {
    left: var(--input-icon-gap-outer);
}
.input-icon-after {
    right: var(--input-icon-gap-outer);
}
.input-icon-before ::deep > *,
.input-icon-after ::deep > * {
    pointer-events: all;
    cursor: pointer;
}

/* Clear ------------------------------------------------------------------------------------------------------------------------------- */
.input-clear {
    position: absolute;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    min-width: var(--input-clear-size);
    width: var(--input-clear-size);
    max-width: var(--input-clear-size);
    height: 100%;
    right: var(--input-icon-gap-outer);
    top: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 1;
    transition: opacity var(--input-clear-show-transition-duration) ease;
}
.value-default .input-clear {
    opacity: 0;
}

.input-clear-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    font-size: 0;
    line-height: 0;
    flex-shrink: 0;
    border: none;
    outline: none;
    min-width: var(--input-clear-size);
    width: var(--input-clear-size);
    max-width: var(--input-clear-size);
    min-height: var(--input-clear-size);
    height: var(--input-clear-size);
    max-height: var(--input-clear-size);
    color: var(--input-clear-color);
    background-color: var(--input-clear-background);
    box-shadow: var(--input-clear-box-shadow);
    border-radius: 100%;
    cursor: pointer;
    pointer-events: all;
    transition-property: color, background-color;
    transition-duration: var(--input-clear-transition-duration);
    transition-timing-function: ease;
}
.value-default .input-clear-button {
    pointer-events: none;
}
.input-clear-button:hover, .input-clear-button:focus-visible  {
    color: var(--input-clear-color-transition);
    background-color: var(--input-clear-background-transition);
    box-shadow: var(--input-clear-box-shadow-transition);
}

::deep .input-clear-button svg {
    width: calc(var(--input-clear-size) - var(--input-clear-padding));
    height: calc(var(--input-clear-size) - var(--input-clear-padding));
}

.allow-clear .input-base-input {
    padding-right: calc(var(--input-icon-gap-inner) + var(--input-clear-size) + var(--input-icon-gap-outer));
}
.icon-after .input-clear {
    right: calc(var(--input-icon-gap-inner) + var(--input-icon-size) + var(--input-icon-gap-outer));
}
.icon-after.allow-clear .input-base-input {
    padding-right: calc(var(--input-icon-gap-inner) + var(--input-clear-size) + var(--input-icon-gap-inner) + var(--input-icon-size) + var(--input-icon-gap-outer));
}

/* Autofill ---------------------------------------------------------------------------------------------------------------------------- */
.input-base-input:-webkit-autofill,
.input-base-input:-webkit-autofill:hover, 
.input-base-input:-webkit-autofill:focus, 
.input-base-input:-webkit-autofill:active  {
    color: var(--input-color) !important;
    -webkit-text-fill-color: var(--input-color) !important;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    transition: background-color 0s ease-in-out 1000s;
}
