.select-culture {
    position: relative;
    display: inline-flex;
}

.select-culture ::deep .surface-all {
    --input-width: auto;
    --input-height: auto;
    --input-padding: 8px;
    --input-border-radius: 4px;
    --input-font-family: var(--font-primary);
    --input-font-size: 13px;
    --input-font-weight: 400;
    --input-line-height: 1;
    --input-icon-size: 14px;
    --input-gap: 3px;
    --input-transform: none;
    --input-transform-transition: none;
    --input-transition-properties: color, background-color, box-shadow;
    --input-transition-duration: calc(var(--transition-fast) * 1ms);
    --input-transition-timing: ease;
}
.select-culture ::deep .surface-primary {
    --input-color: rgb(var(--color-primary));
    --input-color-transition: rgb(var(--color-primary-highlight));
    --input-background: rgb(var(--color-base-invert));
    --input-background-transition: rgb(var(--color-base-invert));
    --input-border: 1px solid rgba(var(--color-base), 0.2);
    --input-border-transition: 1px solid rgba(var(--color-base), 0.2);
    --input-text-shadow: none;
    --input-text-shadow-transition: none;
    --input-box-shadow: none;
    --input-box-shadow-transition: 0 0 6px rgba(var(--color-base), 0.3);
}
.select-culture ::deep .surface-secondary {
    --input-color: rgb(var(--color-secondary));
    --input-color-transition: rgb(var(--color-secondary));
    --input-background: rgba(var(--color-base-invert), 0.08);
    --input-background-transition: rgba(var(--color-base-invert), 0.18);
    --input-border: 1px solid transparent;
    --input-border-transition: 1px solid transparent;
    --input-text-shadow: none;
    --input-text-shadow-transition: none;
    --input-box-shadow: 0 2px 6px rgba(var(--color-base), 0.4);
    --input-box-shadow-transition: 0 2px 10px rgba(var(--color-base), 0.8);
}
.select-culture ::deep .surface-floating {
    --input-color: rgb(var(--color-primary));
    --input-color-transition: rgb(var(--color-primary-highlight));
    --input-background: rgb(var(--color-base-invert));
    --input-background-transition: rgb(var(--color-base-invert));
    --input-border: 1px solid rgba(var(--color-base), 0.2);
    --input-border-transition: 1px solid rgba(var(--color-base), 0.2);
    --input-text-shadow: none;
    --input-text-shadow-transition: none;
    --input-box-shadow: none;
    --input-box-shadow-transition: 0 0 6px rgba(var(--color-base), 0.3);
}

.light-theme .select-culture ::deep .surface-secondary {
    --input-box-shadow: none;
    --input-box-shadow-transition: 0 1px 6px rgba(var(--color-base), 0.3);
    --input-border: 1px solid rgba(var(--color-base), 0.2);
    --input-border-transition: 1px solid rgba(var(--color-base), 0.2);
}
