/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.connect-box {
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: 100%;
    padding: 6px 0;
}

::deep.connect-box .box.connect-form {
    /* Display: */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Size: */
    width: 400px;
}

::deep.connect-box .connect-input-box {
    /* Display: */
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* Size: */
    width: 100%;
    margin-bottom: 2px;
}

::deep.connect-box .heading.connect-heading {
    /* Display: */
    display: none;
    /* Content: */
    text-align: center;
}

::deep.connect-box .heading.connect-heading.connect-heading-mobile {
    /* Display: */
    display: block;
}

::deep.connect-box .paragraph.connect-text {
    /* Content: */
    text-align: center;
}

::deep.connect-box .connect-buttons {
    /* Variables: */
    --connect-buttons-gap: 12px;
    /* Display: */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--connect-buttons-gap);
    /* Size: */
    width: 100%;
}

::deep.connect-box .connect-button {
    /* Display: */
    flex-shrink: 1;
    flex-grow: 1;
    /* Size: */
    min-width: calc(50% - var(--connect-buttons-gap) / 2);
}

::deep.connect-box .web-link.create-link {
    /* Size: */
    margin: 8px 0 6px;
    /* Content: */
    text-align: center;
}
::deep.connect-box .create-icon {
    /* Position: */
    position: relative;
    bottom: -0.1em;
    right: -0.1em;
    /* Content: */
    font-size: 1.3em;
}

::deep.connect-box .connect-gap {
    /* Position: */
    position: relative;
    /* Size: */
    width: 100%;
    height: 0px;
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.connect-box {
        /* Size: */
        padding: 30px 0;
    }

    ::deep.connect-box .box.connect-form {
        /* Display: */
        gap: 24px;
        /* Size: */
        width: 450px;
    }

    ::deep.connect-box .heading.connect-heading {
        /* Display: */
        display: block;
    }

    ::deep.connect-box .heading.connect-heading.connect-heading-mobile {
        /* Display: */
        display: none;
    }

    ::deep.connect-box .connect-input-box {
        /* Display: */
        gap: 12px;
        /* Size: */
        margin-bottom: 4px;
    }

    ::deep.connect-box .connect-buttons {
        /* Variables: */
        --connect-buttons-gap: 14px;
        /* Display: */
        flex-direction: row;
    }

    ::deep.connect-box .web-link.settings-link {
        /* Size: */
        margin: 8px 0 2px;
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.connect-box .box.connect-form {
        /* Display: */
        gap: 28px;
        /* Size: */
        width: 500px;
    }

    ::deep.connect-box .connect-input-box {
        /* Display: */
        gap: 16px;
        /* Size: */
        margin-bottom: 6px;
    }

    ::deep.connect-box .connect-buttons {
        /* Variables: */
        --connect-buttons-gap: 16px;
    }

    ::deep.connect-box .web-link.settings-link {
        /* Size: */
        margin: 10px 0 0;
    }
}
