/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.button-component.menu-button {
    /* Variables: */
    --button-icon-size: 20px;
    --button-gap: 9px;
    /* Size: */
    padding: 10px 18px;
    /* Style: */
    border-radius: 8px;
    /* Animations: */
    transition-property: color, background, box-shadow;
    transition-duration: calc(var(--theme-transition-fast) * 1ms);
    transition-timing-function: ease;
}
::deep.button-component.menu-button .button-text {
    /* Size: */
    margin-top: 2px;
    /* Content: */
    font-size: 15px;
}

/* Styles [mobile] --------------------------------------------------------------------------------------------------------------------- */
::deep.button-component.menu-button {
    /* Style: */
    color: var(--theme-menu-button-mobile-color);
    background: var(--theme-menu-button-mobile-background);
    box-shadow: var(--theme-menu-button-mobile-box-shadow);
}

/* Styles [mobile][hover] */
::deep.button-component.menu-button:not(.disabled):hover {
    /* Style: */
    color: var(--theme-menu-button-mobile-hover-color);
    background: var(--theme-menu-button-mobile-hover-background);
    box-shadow: var(--theme-menu-button-mobile-hover-box-shadow);
}

/* Styles [mobile][focus] */
::deep.button-component.menu-button:not(.disabled):focus-visible {
    /* Style: */
    color: var(--theme-menu-button-mobile-focus-color);
    background: var(--theme-menu-button-mobile-focus-background);
    box-shadow: var(--theme-menu-button-mobile-focus-box-shadow);
}

/* Styles [mobile][disabled] */
::deep.button-component.menu-button.disabled {
    /* Style: */
    color: var(--theme-button-disabled-color);
    background: var(--theme-button-disabled-background);
    box-shadow: var(--theme-button-disabled-box-shadow);
}

/* Styles [mobile][active] ------------------------------------------------------------------------------------------------------------- */
::deep.button-component.menu-button.active {
    /* Style: */
    color: var(--theme-menu-button-mobile-active-color);
    background: var(--theme-menu-button-mobile-active-background);
    box-shadow: var(--theme-menu-button-mobile-active-box-shadow);
}

/* Styles [mobile][active][hover] */
::deep.button-component.menu-button.active:not(.disabled):hover {
    /* Style: */
    color: var(--theme-menu-button-mobile-active-hover-color);
    background: var(--theme-menu-button-mobile-active-hover-background);
    box-shadow: var(--theme-menu-button-mobile-active-hover-box-shadow);
}

/* Styles [mobile][active][focus] */
::deep.button-component.menu-button.active:not(.disabled):focus-visible {
    /* Style: */
    color: var(--theme-menu-button-mobile-active-focus-color);
    background: var(--theme-menu-button-mobile-active-focus-background);
    box-shadow: var(--theme-menu-button-mobile-active-focus-box-shadow);
}

/* Styles [mobile][active][disabled] */
::deep.button-component.menu-button.active.disabled {
    /* Style: */
    color: var(--theme-button-disabled-color);
    background: var(--theme-button-disabled-background);
    box-shadow: var(--theme-button-disabled-box-shadow);
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.button-component.menu-button {
        /* Style: */
        color: var(--theme-menu-button-color);
        background: var(--theme-menu-button-background);
        box-shadow: var(--theme-menu-button-box-shadow);
    }

    /* Media > Styles [highlight] */
    ::deep.button-component.menu-button:not(.disabled):hover,
    ::deep.button-component.menu-button:not(.disabled):focus-visible {
        /* Style: */
        color: var(--theme-menu-button-highlight-color);
        background: var(--theme-menu-button-highlight-background);
        box-shadow: var(--theme-menu-button-highlight-box-shadow);
    }

    /* Media > Styles [disabled] */
    ::deep.button-component.menu-button.disabled {
        /* Style: */
        color: var(--theme-button-disabled-color);
        background: var(--theme-button-disabled-background);
        box-shadow: var(--theme-button-disabled-box-shadow);
    }

    /* Media > Styles [active] --------------------------------------------------------------------------------------------------------- */
    ::deep.button-component.menu-button.active {
        /* Style: */
        color: var(--theme-menu-button-active-color);
        background: var(--theme-menu-button-active-background);
        box-shadow: var(--theme-menu-button-active-box-shadow);
    }

    /* Media > Styles [active][highlight] */
    ::deep.button-component.menu-button.active:not(.disabled):hover,
    ::deep.button-component.menu-button.active:not(.disabled):focus-visible {
        /* Style: */
        color: var(--theme-menu-button-active-highlight-color);
        background: var(--theme-menu-button-active-highlight-background);
        box-shadow: var(--theme-menu-button-active-highlight-box-shadow);
    }

    /* Media > Styles [active][disabled] */
    ::deep.button-component.menu-button.active.disabled {
        /* Style: */
        color: var(--theme-button-disabled-color);
        background: var(--theme-button-disabled-background);
        box-shadow: var(--theme-button-disabled-box-shadow);
    }
}
