/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.main-layout .scroll-area.page {
    /* Position: */
    position: relative;
    /* Size: */
    width: 100vw;
    height: 100vh;
    height: 100dvh;
}

::deep.main-layout .background.main-layout-background {
    /* Position: */
    --background-position: center 0;
    --background-color: var(--theme-surface-background);
    /* Style: */
    --loading-transition-color: var(--theme-surface-background);
}

::deep.main-layout .container.main-layout-container {
    /* Position: */
    position: relative;
    /* Display: */
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    /* Size: */
    min-height: calc(100vh - var(--theme-size-header-height) * 1px - var(--theme-size-footer-height-mobile) * 1px);
    min-height: calc(100dvh - var(--theme-size-header-height) * 1px - var(--theme-size-footer-height-mobile) * 1px);
}

::deep.main-layout.no-navigation .container.main-layout-container {
    /* Size: */
    min-height: 100vh;
    min-height: 100dvh;
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.main-layout .container.main-layout-container {
        min-height: calc(100vh - var(--theme-size-header-height) * 1px - var(--theme-size-footer-height-tablet) * 1px);
        min-height: calc(100dvh - var(--theme-size-header-height) * 1px - var(--theme-size-footer-height-tablet) * 1px);
    }
}

@media (min-width: 1200px) {    
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.main-layout .container.main-layout-container {
        min-height: calc(100vh - var(--theme-size-header-height) * 1px - var(--theme-size-footer-height-desktop) * 1px);
        min-height: calc(100dvh - var(--theme-size-header-height) * 1px - var(--theme-size-footer-height-desktop) * 1px);
    }
}
