::deep.password-change-tab {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

::deep.password-change-tab .section {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    /* Size: */
    margin-top: 25px;
    width: 100%;
}

::deep.password-change-tab .input-label {
    /* Display: */
    align-self: center;
    /* Size: */
    margin-bottom: -15px;
    margin-top: -5px;
    /* Style: */
    color: var(--theme-modal-profile-input-label-color);
    /* Content: */
    font-size: 13px;
}

::deep.password-change-tab .input-field-password {
    /* Display: */
    min-width: 350px;
    width: 100%;
}

::deep.password-change-tab .password-strength-pc {
    /* Display: */
    display: none;
}

::deep.password-change-tab .password-strength-mobile {
    /* Display: */
    display: block;
}

::deep.password-change-tab .border-mobile,
::deep.password-change-tab .border {
    /* Style: */
    border: 2px solid var(--theme-modal-profile-border-color);
    box-shadow: 0 0 15px 0 var(--theme-modal-profile-border-color);
    border-radius: 10px;
}

::deep.password-change-tab .strength-meter {
    /* Size: */
    padding: 5px 20px 5px 20px;
}

@media (min-width: 768px) {
    ::deep.password-change-tab {
        /* Display: */
        flex-direction: row;
    }

    ::deep.password-change-tab .border {
        /* Size: */
        margin-left: -50px;
    }

    ::deep.password-change-tab .password-strength-pc {
        /* Display: */
        display: block;
    }

    ::deep.password-change-tab .password-strength-mobile {
        /* Display: */
        display: none;
    }

    ::deep.password-change-tab .input-field-password {
        /* Display: */
        min-width: 0px;
    }
}
