.select-culture {
    position: relative;
    display: inline-flex;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: auto;
}

.select-culture ::deep .select-base {
    --input-width: auto;
    --input-height: auto;
    --input-padding: 8px;
    --input-border-radius: 4px;
    --input-font-family: var(--font-primary);
    --input-font-size: 13px;
    --input-font-weight: 400;
    --input-line-height: 1;
    --input-icon-size: 14px;
    --input-gap: 3px;
    --input-transform: none;
    --input-transform-transition: none;
    --input-transition-properties: color, background-color, box-shadow;
    --input-transition-duration: calc(var(--transition-fast) * 1ms);
    --input-transition-timing: ease;
    /* Colors: */
    --input-color: rgb(var(--color-secondary));
    --input-color-transition: rgb(var(--color-secondary));
    --input-background: rgba(var(--color-base-invert), 0.08);
    --input-background-transition: rgba(var(--color-base-invert), 0.18);
    --input-border: var(--border-select-culture);
    --input-border-transition: var(--border-select-culture-transition);
    --input-text-shadow: none;
    --input-text-shadow-transition: none;
    --input-box-shadow: var(--shadow-select-culture);
    --input-box-shadow-transition: var(--shadow-select-culture-transition);
}
