/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.password-change-modal {
    /* Size: */
    --modal-min-width: 800px;
    --modal-max-width: 1200px;
    --modal-min-height: 600px;
}

::deep.password-change-modal .password-change-form {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Size: */
    width: 100%;
    padding: 40px 0;
}

::deep.password-change-modal .password-change-form .password-change-box {
    /* Display: */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* Size: */
    width: 400px;
    max-width: 100%;
}

::deep.password-change-modal .password-change-form .heading.password-change-heading {
    /* Content: */
    text-align: center;
}

::deep.password-change-modal .password-change-form .password-change-inputs {
    /* Display: */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Size: */
    width: 100%;
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.password-change-modal {
        /* Size: */
        padding: 60px 0;
    }    
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.password-change-modal {
        /* Size: */
        padding: 80px 0;
    }    
}
