/* Variables [aspect ratio] ------------------------------------------------------------------------------------------------------------ */
::deep.lobby {
    --lobby-width: 90vw;
    --lobby-height: 67.5vw;
    --lobby-padding: 5vw;
    --lobby-size: var(--lobby-width);
}

@media (min-aspect-ratio: 12 / 9) {
    ::deep.lobby {
        --lobby-width: 120dvh;
        --lobby-height: 90dvh;
        --lobby-padding: 5dvh;
        --lobby-size: var(--lobby-width);
    }
}

/* Variables [components] -------------------------------------------------------------------------------------------------------------- */
::deep.lobby {
    /* Panels: */
    --lobby-gap: calc(var(--lobby-size) * 0.03);
    --lobby-primary-width: calc(var(--lobby-width) * 0.68 - var(--lobby-gap) / 2);
    --lobby-secondary-width: calc(var(--lobby-width) * 0.32 - var(--lobby-gap) / 2);
    /* Boxes: */
    --lobby-box-padding: calc(var(--lobby-size) * 0.04);
    --lobby-box-radius: calc(var(--lobby-size) * 0.017);
    --lobby-box-base-size: var(--lobby-size);
    --lobby-box-shadow: var(--theme-lobby-box-shadow);
    /* Game box: */
    --game-box-height: calc(var(--lobby-height) * 0.174);
    --game-box-padding-vertical: calc(var(--lobby-height) * 0.046);
    --game-box-inside-height: calc(var(--game-box-height) - 2 * var(--game-box-padding-vertical));
    --game-name-height: calc(var(--game-box-inside-height) * 0.5);
    --game-gap-height: calc(var(--game-box-inside-height) * 0.22);
    --game-info-height: calc(var(--game-box-inside-height) * 0.28);
    /* Round line: */
    --round-line-height: calc(var(--lobby-height) * 0.055) + var(--lobby-gap);
    --round-line-inside-height: calc(var(--round-line-height) - var(--lobby-gap));
    /* Player box: */
    --player-box-height: calc(var(--lobby-height) - (var(--game-box-height) + var(--round-line-height)));
    --player-box-inside-height: calc(var(--player-box-height) - 2 * var(--lobby-box-padding));
    --player-title-height: calc(var(--player-box-height) * 0.07);
    --player-title-inside-height: calc(var(--player-title-height) * 0.7);
    --player-title-margin: calc(var(--player-title-height) * 0.3);
    --player-table-height: calc(var(--player-box-inside-height) - var(--player-title-height));
    --player-line-height: calc(var(--player-table-height) / 10);
    /* QRCode box: */
    --qrcode-box-height: var(--lobby-secondary-width);
    /* Chat box: */
    --chat-box-height: calc(var(--lobby-height) - var(--qrcode-box-height) - var(--lobby-gap));
}

/* General styles ---------------------------------------------------------------------------------------------------------------------- */
::deep.lobby {
    /* Position: */
    position: relative;
    justify-content: center;
    align-items: flex-start;
    /* Display: */
    display: flex;
    flex-direction: row;
    gap: var(--lobby-gap);
    /* Size: */
    width: var(--lobby-width);
    height: var(--lobby-height);
}

::deep.lobby .lobby-panel {
    /* Display: */
    display: flex;
    flex-direction: column;
    gap: var(--lobby-gap);
}
::deep.lobby .lobby-panel.primary {
    /* Size: */
    width: var(--lobby-primary-width);
}
::deep.lobby .lobby-panel.secondary {
    /* Size: */
    width: var(--lobby-secondary-width);
    height: 100%;
}

::deep.lobby .box.lobby-box {
    /* Variables: */
    --base-size: var(--lobby-box-base-size);
    /* Size: */
    padding: var(--lobby-box-padding);
    /* Style: */
    border-radius: var(--lobby-box-radius);
    box-shadow: var(--lobby-box-shadow);
}

::deep.lobby .lobby-text {
    /* Size: */
    width: 100%;
    padding: 0;
    margin: 0;
    /* Content: */
    line-height: 1;
    white-space: nowrap;
}

/* Game box ---------------------------------------------------------------------------------------------------------------------------- */
::deep.lobby .lobby-box.game {
    /* Display: */
    flex-direction: column;
    /* Size: */
    width: 100%;
    max-width: 100%;
    padding: var(--game-box-padding-vertical) var(--lobby-box-padding);
}

::deep.lobby .lobby-text.game-name {
    /* Size: */
    padding-top: calc(var(--game-gap-height) * 2);
    padding-bottom: calc(var(--game-gap-height) * 2);
    margin: calc(var(--game-gap-height) * -2) 0 calc(var(--game-gap-height) * -1);
    /* Content: */
    font-size: var(--game-name-height);
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep.lobby .game-info {
    /* Display: */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Size: */
    width: 100%;
    height: var(--game-info-height);
}

::deep.lobby .lobby-text.game-code {
    /* Size: */
    width: 50%;
    /* Content: */
    font-size: var(--game-info-height);
}

::deep.lobby .lobby-text.game-code *:not(b) {
    /* Style: */
    opacity: 0.7;
}

::deep.lobby .lobby-text.game-code b {
    /* Content: */
    font-weight: 600;
}

::deep.lobby .lobby-text.spectators {
    /* Display: */
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: calc(var(--game-info-height) * 0.4);
    /* Size: */
    width: 50%;
    padding: 0;
    /* Content: */
    font-size: var(--game-info-height);
    font-weight: 600;
    text-align: right;
}

::deep.lobby .watch-icon {
    /* Content: */
    font-size: calc(var(--game-info-height) * 1.5);
}

/* Round line -------------------------------------------------------------------------------------------------------------------------- */
@keyframes lobby-game-state-animation {
    0% { opacity: 0.4; }
    50% { opacity: 1; }
    100% { opacity: 0.4; }
}

::deep.lobby .round-line {
    /* Position: */
    position: relative;
    /* Display: */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* Size: */
    width: 100%;
    margin: calc(var(--lobby-gap) * -0.5) 0;
    height: var(--round-line-inside-height);
}

::deep.lobby .game-round {
    /* Position: */
    position: absolute;
    /* Size: */
    width: auto;
    padding-left: var(--lobby-box-padding);
    margin: 0;
    /* Content: */
    font-size: calc(var(--round-line-inside-height) * 0.5);
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
}

::deep.lobby .game-round b {
    /* Content: */
    font-weight: 700;
}

::deep.lobby .game-state {
    /* Size: */
    width: 100%;
    margin: 0;
    /* Style: */
    color: var(--theme-game-state-color);
    text-shadow: var(--theme-game-state-text-shadow);
    /* Content: */
    font-size: calc(var(--round-line-inside-height) * 0.66);
    line-height: 1;
    font-weight: 700;
    letter-spacing: calc(var(--lobby-width) * 0.0025);
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    /* Animations: */
    animation: lobby-game-state-animation 1.5s infinite ease-in-out;
}

/* Players box ------------------------------------------------------------------------------------------------------------------------- */
::deep.lobby .lobby-box.players {
    /* Display: */
    flex-direction: column;
    /* Size: */
    width: 100%;
    height: var(--player-box-height);
}

::deep.lobby .player-titles {
    /* Display: */
    display: flex;
    justify-content: space-between;
    /* Size: */
    width: 100%;
    height: var(--player-title-height);
    padding-bottom: var(--player-title-margin);
}

::deep.lobby .lobby-text.player-title {
    /* Size: */
    width: auto;
    /* Content: */
    font-size: var(--player-title-inside-height);
    font-weight: 500;
}

::deep.lobby .player-table {
    /* Display: */
    display: flex;
    flex-direction: column;
    /* Size: */
    width: 100%;
}

::deep.lobby .player-line {
    /* Position: */
    position: relative;
    /* Display: */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--player-line-height) * 0.4);
    /* Size: */
    width: 100%;
    height: var(--player-line-height);
    padding: 0 calc(var(--player-line-height) * 0.3);
    /* Style: */
    border-radius: calc(var(--player-line-height) * 0.2);
    /* Content: */
    font-size: calc(var(--player-line-height) * 0.4);
}

::deep.lobby .player-line.current {
    /* Size: */
    margin: calc(var(--player-line-height) * 0.05) 0;
    height: calc(var(--player-line-height) * 0.9);
    /* Style: */
    background: var(--theme-lobby-line-background);
}

::deep.lobby .player-line .player-presence {
    /* Position: */
    position: relative;
    /* Display: */
    flex-shrink: 0;
    /* Size: */
    width: calc(var(--player-line-height) * 0.24);
    height: calc(var(--player-line-height) * 0.24);
    margin-right: calc(var(--player-line-height) * -0.15);
    /* Style: */
    background: var(--theme-status-success-neon-color);
    border-radius: 50%;
    box-shadow: var(--theme-lobby-presence-box-shadow);
    /* Content: */
    font-size: var(--player-line-height);
}

::deep.lobby .player-line.disconnected .player-presence {
    /* Style: */
    background: var(--theme-status-danger-neon-color);
}

::deep.lobby .player-name {
    /* Display: */
    flex-shrink: 0;
    /* Size: */
    width: auto;
    max-width: calc(100% - 100px);
    height: var(--player-line-height);
    /* Content: */
    line-height: var(--player-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep.lobby .player-line-dash {
    /* Position: */
    position: relative;
    /* Display: */
    display: block;
    /* Size: */
    width: 100%;
    /* Style: */
    border-bottom: 1px dashed var(--theme-lobby-dash-color);
}

::deep.lobby .player-score {
    /* Display: */
    flex-shrink: 0;
    /* Size: */
    width: auto;
}

::deep.lobby .lobby-text.players-empty {
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: 100%;
    height: var(--player-table-height);
    /* Content: */
    font-size: calc(var(--player-line-height) * 0.35);
    /* Style: */
    color: var(--theme-lobby-empty-color);
}

::deep.lobby .player-table:not(:empty) + .lobby-text.players-empty {
    /* Display: */
    display: none;
}

/* QRCode box -------------------------------------------------------------------------------------------------------------------------- */
::deep.lobby .lobby-box.qrcode {
    /* Size: */
    padding: calc(var(--lobby-width) * 0.02);
    /* Style: */
    background: var(--theme-qr-code-background);
}

::deep.lobby .qrcode-image {
    /* Position: */
    --image-fit: contain;
    --image-position: center center;
    /* Size: */
    --image-width: 100%;
    --image-height: auto;
    --image-height-ratio: 100%;
}

/* Chat box ---------------------------------------------------------------------------------------------------------------------------- */
::deep.lobby .lobby-box.chat {
    /* Display: */
    align-items: center;
    /* Size: */
    height: var(--chat-box-height);
}

::deep.lobby .chat-message {
    /* Size: */
    width: 100%;
    margin: 0;
    /* Content: */
    font-size: calc(var(--lobby-height) * 0.02);
    text-align: center;
}

@media (max-width: 1000px) or (max-height: 780px) {
    /* Media [mobile view] > Variables [aspect ratio]----------------------------------------------------------------------------------- */
    ::deep.lobby {
        --lobby-width: min(90vw, calc(100vw - 2px * var(--theme-size-container-padding-mobile)));
        --lobby-height: 576px;
        --lobby-padding: max(2vw, var(--theme-size-container-padding-mobile) * 1px);
        --lobby-size: 768px;
    }

    /* Media [mobile view] > Variables [components] ------------------------------------------------------------------------------------ */
    ::deep.lobby {
        /* Panels: */
        --lobby-primary-width: var(--lobby-width);
        --lobby-secondary-width: 0;
        /* Game box: */
        --game-info-height: calc(var(--game-box-inside-height) * 0.3);
        /* Player box: */
        --player-line-height: 38px;
    }

    /* Media [mobile view] > General styles -------------------------------------------------------------------------------------------- */
    ::deep.lobby {
        /* Size: */
        height: auto;
        padding: var(--lobby-padding) 0;
    }

    ::deep.lobby .lobby-panel.secondary {
        /* Display: */
        display: none;
    }
    
    ::deep.lobby .lobby-text.game-name {
        /* Content: */
        text-align: center;
    }

    /* Media [mobile view] > Players box ----------------------------------------------------------------------------------------------- */
    ::deep.lobby .lobby-box.players {
        /* Size: */
        height: auto;
    }

    ::deep.lobby .lobby-text.players-empty {
        /* Size: */
        height: auto;
        padding: 24px 0 30px;
        /* Content: */
        font-size: calc(var(--player-line-height) * 0.48);
    }
}

@media (max-width: 479.98px) {
    /* Media [small mobile] > Variables [components] ----------------------------------------------------------------------------------- */
    ::deep.lobby {
        /* Boxes: */
        --lobby-box-padding: calc(var(--theme-size-container-padding-mobile) * 1px + 4px);
        /* Player box: */
        --player-line-height: 33px;
    }
}

@media (max-width: 379.98px) {
    /* Media [round state shift on small mobile] > Round line -------------------------------------------------------------------------- */
    ::deep.lobby .game-round {
        /* Position: */
        position: relative;
    }
}

@media (max-width: 269.98px) or (max-height: 269.98px) {
    /* Media [device small] > General styles ------------------------------------------------------------------------------------------- */
    ::deep.lobby > * { display: none !important; }
    ::deep.lobby .small-device { display: flex !important; }
}
