@namespace Jumpeno.Client.Components

@inherits BasicComponent

<DocTitle Value="@I18N.T("Reset password")" />

<div class="password-form">
    <Heading1 Class="password-heading" Size="TEXT_SIZE.L">@I18N.T("Reset password")</Heading1>
    <div class="form-inputs">
        <InputField ViewModel="VMEmail" Name="email" Label="@I18N.T("Email address verification")" Size="FORM_SIZE.M" Align="FORM_ALIGN.CENTER" Autocomplete />
    </div>
    <Button Size="BUTTON_SIZE.M" OnClick="Send">
        <Text>@I18N.T("Send")</Text>
    </Button>
    <WebLink
        Size="TEXT_SIZE.S"
        NoWrap
        OnClick="() => VM.Show(LOGIN_FORM.USER)"
        OnEnter="() => VM.Show(LOGIN_FORM.USER)"
    >
        <AntIcon Type="login" Theme="outline" Class="icon-login" />&nbsp;@I18N.T("Login")&nbsp;
    </WebLink>
</div>
