@namespace Jumpeno.Client.Components

@inherits Component

<DocTitle Value="@I18N.T("Reset password")" />

<div class="password-form">
    <Heading1 Class="password-heading" Size="TEXT_SIZE.L">@I18N.T("Reset password")</Heading1>
    <Input ViewModel="VMEmail" Size="INPUT_SIZE.M" Align="INPUT_ALIGN.CENTER" Autocomplete />
    <Button Size="BUTTON_SIZE.M" OnClick="Send">
        <Text>@I18N.T("Send")</Text>
    </Button>
    <Jumpeno.Client.Components.Link Size="TEXT_SIZE.S" NoWrap OnClick="() => VM.Show(LOGIN_FORM.USER)" Class="login-text">
        <AntIcon Type="login" Theme="outline" Class="icon-login" />&nbsp;@I18N.T("Login")&nbsp;
    </Jumpeno.Client.Components.Link>
</div>
