.info-box {
    /* NOTE: Use flex to show */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--size-container-padding-mobile) * 1px);
}

::deep .info-icon svg {
    min-width: 60px;
    min-height: 60px;
    width: min(30vw, 30vh);
    height: min(30vw, 30vh);
}

.info-text {
    font-size: max(16px, min(6vw, 6vh));
    font-weight: 500;
    padding-top: max(10px, min(2vw, 2vh));
    margin: 0;
    text-align: center;
}
