/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.info-box {
    /* Display: */
    display: none; /* NOTE: Use flex to show */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Size: */
    padding: calc(var(--theme-size-container-padding-mobile) * 1px);
}

::deep.info-box .info-icon svg {
    /* Size: */
    min-width: 60px;
    min-height: 60px;
    width: min(30vw, 30vh);
    height: min(30vw, 30vh);
}

::deep.info-box .info-text {
    /* Size: */
    padding-top: max(10px, min(2vw, 2vh));
    margin: 0;
    /* Content: */
    font-size: max(16px, min(6vw, 6vh));
    font-weight: 500;
    text-align: center;
}
