@namespace Jumpeno.Client.Components

@inherits BasicComponent

<style>
    /* Keyframes ----------------------------------------------------------------------------------------------------------------------- */
    @@keyframes server-page-loader-show {
        0% { opacity: 1; transform: scale(1); }
        100% { opacity: 0; transform: scale(1.6); }
    }

    @@keyframes server-page-loader-spinner {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    /* Styles -------------------------------------------------------------------------------------------------------------------------- */
    #server-page-loader {
        /* Position: */
        position: fixed;
        inset: 0;
        z-index: var(--theme-z-index-server-page-loader, 1000001);
        /* Display: */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        /* Size: */
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        height: 100dvh;
        margin: 0;
        padding: 0;
        /* Style: */
        outline: none;
        /* Content: */
        font-size: 0;
        line-height: 0;
        /* Animations: */
        animation: none;
    }

    #server-page-loader * {
        /* Size: */
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        outline: none;
        /* Content: */
        font-size: 0;
        line-height: 0;
    }

    #server-page-loader .server-page-loader-indicator {
        /* Size: */
        --size: 56;
        /* Display: */
        flex-shrink: 0;
        /* Size: */
        width: calc(var(--size) * 1px);
        height: calc(var(--size) * 1px);
        /* Style: */
        border-radius: 50%;
        border: calc(var(--size) / 6 * 1px) solid;
        border-color: var(--background);
        border-right-color: var(--color);
        /* Animations: */
        animation: server-page-loader-spinner 1s infinite linear;
    }

    /* Styles [hidden] ----------------------------------------------------------------------------------------------------------------- */
    #server-page-loader.hidden {
        /* Animations: */
        animation: server-page-loader-show 300ms forwards;
    }

    /* Styles [stopped] ---------------------------------------------------------------------------------------------------------------- */
    #server-page-loader.stopped .server-page-loader-indicator {
        /* Display: */
        display: none;
    }

    /* Theme [loading] ----------------------------------------------------------------------------------------------------------------- */
    body.no-theme { opacity: 0; }

    /* Theme [loading][system-dark] ---------------------------------------------------------------------------------------------------- */
    body { background: #222222; }
    
    /* Theme [loading][system-light] --------------------------------------------------------------------------------------------------- */
    @@media (prefers-color-scheme: light) {
        body { background: #ffffff; }
    }

    /* Theme [dark] -------------------------------------------------------------------------------------------------------------------- */
    body.dark-theme #server-page-loader {
        /* Style: */
        background: rgb(42, 33, 56);
    }
    body.dark-theme #server-page-loader svg path {
        /* Style: */
        fill: rgb(236, 240, 241) !important;
    }
    body.dark-theme #server-page-loader .server-page-loader-indicator {
        /* Style: */
        --color: rgb(255, 215, 0);
        --background: rgba(0, 0, 0, 0.45);
    }

    /* Theme [light] ------------------------------------------------------------------------------------------------------------------- */
    body.light-theme #server-page-loader {
        /* Style: */
        background: rgb(255, 255, 255);
    }
    body.light-theme #server-page-loader svg path {
        /* Style: */
        fill: rgb(63, 55, 76) !important;
    }
    body.light-theme #server-page-loader .server-page-loader-indicator {
        /* Style: */
        --color: rgb(235, 195, 0);
        --background: rgba(0, 0, 0, 0.45);
    }
</style>

<div id="server-page-loader" class="@ComputeClass()" style="@Style" tabindex="0" role="status" aria-label="@I18N.T("Loading")">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg
        width="160px"
        height="32px"
        viewBox="0 0 54.457649 10.092245"
        version="1.1"
        id="svg1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg"
    >
        <g
            id="layer1"
            transform="translate(-80.128867,-61.287373)"
        >
            <path
                d="m 82.431812,69.279902 q -0.699912,0 -1.309512,-0.293512 -0.609601,-0.293511 -0.993424,-0.846667 l 0.654756,-0.767646 q 0.327379,0.451557 0.733779,0.699912 0.417689,0.237067 0.914401,0.237067 1.354668,0 1.354668,-1.603024 V 62.269495 H 80.930388 V 61.28736 h 3.973693 v 5.362228 q 0,1.320801 -0.632178,1.975557 -0.62089,0.654757 -1.840091,0.654757 z m 7.134591,-0.02258 q -0.767646,0 -1.354668,-0.282223 -0.575734,-0.282222 -0.903112,-0.857956 -0.31609,-0.587023 -0.31609,-1.467557 v -3.443115 h 1.083735 v 3.318937 q 0,0.880534 0.417689,1.320801 0.428978,0.440267 1.196624,0.440267 0.564445,0 0.982134,-0.225778 0.417689,-0.237066 0.643467,-0.677334 0.225778,-0.451556 0.225778,-1.083734 v -3.093159 h 1.083735 v 5.983117 h -1.02729 v -1.614312 l 0.169333,0.428978 q -0.293511,0.598312 -0.880534,0.92569 -0.587023,0.327378 -1.320801,0.327378 z m 5.125161,-0.06773 v -5.983117 h 1.038579 v 1.591735 l -0.169334,-0.4064 q 0.282223,-0.587023 0.869246,-0.914401 0.587023,-0.327378 1.365957,-0.327378 0.857956,0 1.478846,0.428978 0.620889,0.417689 0.812802,1.275646 L 99.647391,64.67403 q 0.270934,-0.688623 0.948269,-1.106312 0.67733,-0.417689 1.58045,-0.417689 0.72248,0 1.27564,0.282222 0.55316,0.282223 0.85796,0.857957 0.31609,0.575734 0.31609,1.456268 v 3.443114 h -1.08374 v -3.318936 q 0,-0.869246 -0.4064,-1.309513 -0.4064,-0.440267 -1.14018,-0.440267 -0.54186,0 -0.94826,0.225778 -0.40641,0.225778 -0.63218,0.666045 -0.21449,0.440267 -0.21449,1.095024 v 3.081869 h -1.083737 v -3.318936 q 0,-0.869246 -0.4064,-1.309513 -0.395112,-0.440267 -1.140179,-0.440267 -0.530579,0 -0.936979,0.225778 -0.4064,0.225778 -0.632178,0.666045 -0.225778,0.440267 -0.225778,1.095024 v 3.081869 z m 15.104536,0.06773 q -0.74506,0 -1.36595,-0.338667 -0.6096,-0.349956 -0.98214,-1.02729 -0.36124,-0.677334 -0.36124,-1.693335 0,-1.016001 0.34995,-1.693335 0.36125,-0.677334 0.97085,-1.016001 0.62089,-0.338667 1.38853,-0.338667 0.88054,0 1.55787,0.383822 0.67734,0.383823 1.07245,1.072446 0.39511,0.677334 0.39511,1.591735 0,0.914401 -0.39511,1.603024 -0.39511,0.688623 -1.07245,1.072445 -0.67733,0.383823 -1.55787,0.383823 z m -3.17218,2.122313 v -8.173164 h 1.03858 v 1.614313 l -0.0677,1.388535 0.11289,1.388535 v 3.781781 z m 3.08187,-3.070581 q 0.57574,0 1.02729,-0.259644 0.46285,-0.259645 0.72249,-0.733779 0.27094,-0.485423 0.27094,-1.117601 0,-0.643467 -0.27094,-1.106312 -0.25964,-0.474134 -0.72249,-0.733779 -0.45155,-0.259645 -1.02729,-0.259645 -0.56444,0 -1.02729,0.259645 -0.45155,0.259645 -0.72249,0.733779 -0.25964,0.462845 -0.25964,1.106312 0,0.632178 0.25964,1.117601 0.27094,0.474134 0.72249,0.733779 0.46285,0.259644 1.02729,0.259644 z m 7.28133,0.948268 q -0.95955,0 -1.69333,-0.395112 -0.72249,-0.395111 -1.12889,-1.083734 -0.39511,-0.688623 -0.39511,-1.580446 0,-0.891823 0.38382,-1.580446 0.39511,-0.688623 1.07245,-1.072446 0.68862,-0.395111 1.54658,-0.395111 0.86924,0 1.53529,0.383822 0.66604,0.383823 1.03857,1.083735 0.38383,0.688623 0.38383,1.614313 0,0.06773 -0.0113,0.158044 0,0.09031 -0.0113,0.169334 h -5.09129 v -0.778934 h 4.52684 l -0.44026,0.270933 q 0.0113,-0.575734 -0.23707,-1.02729 -0.24836,-0.451556 -0.68862,-0.699912 -0.42898,-0.259644 -1.00471,-0.259644 -0.56445,0 -1.00472,0.259644 -0.44026,0.248356 -0.68862,0.711201 -0.24836,0.451556 -0.24836,1.038579 v 0.180622 q 0,0.598312 0.27094,1.072446 0.28222,0.462845 0.77893,0.72249 0.49671,0.259644 1.14018,0.259644 0.53058,0 0.95956,-0.180622 0.44027,-0.180623 0.76764,-0.541867 l 0.59831,0.699911 q -0.4064,0.474134 -1.016,0.72249 -0.59831,0.248356 -1.34338,0.248356 z m 4.24463,-0.06773 v -5.983117 h 1.03858 v 1.614313 l -0.16934,-0.428978 q 0.29351,-0.587023 0.90311,-0.914401 0.6096,-0.327378 1.42241,-0.327378 0.73377,0 1.28693,0.282222 0.56444,0.282223 0.88053,0.857957 0.31609,0.575734 0.31609,1.456268 v 3.443114 h -1.08373 v -3.318936 q 0,-0.869246 -0.42898,-1.309513 -0.41769,-0.440267 -1.18533,-0.440267 -0.57574,0 -1.00472,0.225778 -0.42897,0.225778 -0.66604,0.666045 -0.22578,0.440267 -0.22578,1.095024 v 3.081869 z m 10.25031,0.06773 q -0.90311,0 -1.60302,-0.395112 -0.69991,-0.395111 -1.10631,-1.083734 -0.4064,-0.699912 -0.4064,-1.580446 0,-0.891823 0.4064,-1.580446 0.4064,-0.688623 1.10631,-1.072446 0.69991,-0.395111 1.60302,-0.395111 0.89183,0 1.59174,0.395111 0.7112,0.383823 1.10631,1.072446 0.4064,0.677334 0.4064,1.580446 0,0.891823 -0.4064,1.580446 -0.39511,0.688623 -1.10631,1.083734 -0.69991,0.395112 -1.59174,0.395112 z m 0,-0.948268 q 0.57574,0 1.02729,-0.259644 0.46285,-0.259645 0.72249,-0.733779 0.25965,-0.485423 0.25965,-1.117601 0,-0.643467 -0.25965,-1.106312 -0.25964,-0.474134 -0.72249,-0.733779 -0.45155,-0.259645 -1.02729,-0.259645 -0.57573,0 -1.02729,0.259645 -0.45155,0.259645 -0.72249,0.733779 -0.27093,0.462845 -0.27093,1.106312 0,0.632178 0.27093,1.117601 0.27094,0.474134 0.72249,0.733779 0.45156,0.259644 1.02729,0.259644 z"
                id="text1"
                style="font-weight:500;font-size:11.2889px;font-family:Montserrat;-inkscape-font-specification:'Montserrat Medium';fill:#2a2138;stroke-width:0.4"
                aria-label="Jumpeno"
            />
        </g>
    </svg>
    <div class="server-page-loader-indicator" />
</div>
