/* Keyframes --------------------------------------------------------------------------------------------------------------------------- */
@keyframes server-loading-show {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(1.6); }
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.server-page-loader {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    gap: 28px;
    inset: 0;
    z-index: calc(var(--z-index-server-page-loader));
    background-color: rgb(var(--color-secondary-surface));
    outline: none;
    animation: none;
}
.hidden {
    animation: server-loading-show calc(var(--transition-normal) * 1ms) forwards;
}

.server-page-loader-title {
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: rgb(var(--color-secondary));
}

.light-theme .server-page-loader-title {
    color: rgba(var(--color-secondary), 0.9);
}
