/* Keyframes --------------------------------------------------------------------------------------------------------------------------- */
@keyframes server-page-loader-show {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(1.6); }
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep#server-page-loader {
    /* Position: */
    position: fixed;
    z-index: var(--theme-z-index-server-page-loader);
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    /* Size: */
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    inset: 0;
    /* Style: */
    background-color: var(--theme-server-page-loader-backdrop);
    outline: none;
    /* Animations: */
    animation: none;
}
::deep#server-page-loader.hidden {
    /* Animations: */
    animation: server-page-loader-show calc(var(--theme-transition-normal) * 1ms) forwards;
}
::deep#server-page-loader.stopped .server-page-loader-indicator {
    /* Display: */
    display: none;
}

::deep#server-page-loader .server-page-loader-title {
    /* Size: */
    margin: 0;
    /* Style: */
    color: var(--theme-server-page-loader-text-color);
    /* Content: */
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
    text-align: center;
}

::deep#server-page-loader .server-page-loader-indicator {
    /* Size: */
    --size: 56;
    /* Style: */
    --color: var(--theme-server-page-loader-color);
    --background: var(--theme-server-page-loader-background);
}
