@namespace Jumpeno.Client.Pages

@inherits Page
@attribute [Route(ChatPage.ROUTE_EN)]
@attribute [Route(ChatPage.ROUTE_SK)]

<div class="chat-page">
    <DocTitle Value="@I18N.T("Chat")" />
    <AntIcon Type="coffee" Theme="outline" Style="font-size: 180px; margin-right: -24px" />
    <Heading1 Size="TEXT_SIZE.XL" Style="text-align: center; line-height: 1.2">@I18N.T("Under construction")</Heading1>
    <Paragraph Size="TEXT_SIZE.L" Style="text-align: center">@I18N.T("We are working on the implementation of this functionality.")</Paragraph>
</div>
