/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.chat-page {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Size: */
    width: 100%;
    padding: 40px 0;
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.chat-page {
        /* Size: */
        padding: 60px 0;
    }    
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.chat-page {
        /* Size: */
        padding: 80px 0;
    }    
}
