@namespace Jumpeno.Client.Pages

@inherits Page
@attribute [Route(AdminPage.ROUTE_EN)]
@attribute [Route(AdminPage.ROUTE_SK)]

<div class="admin-page">
    <DocTitle Value="Admin" />
    <Box>
        <div class="admin-form">
            <Heading1 Class="admin-heading" Size="TEXT_SIZE.L">Admin</Heading1>
            @if (!Verified) {
                <Input ViewModel="VMEmail" Size="INPUT_SIZE.M" Align="INPUT_ALIGN.CENTER" Autocomplete />
                <Button Size="BUTTON_SIZE.M" OnClick="Login">
                    <Text>@I18N.T("Send")</Text>
                </Button>
            } else {
                <div class="verification-box">
                    <AntIcon Type="mail" Theme="outline" Class="verification-icon" />
                    <Paragraph Class="verification-text">@I18N.T("Check your email address.")</Paragraph>
                    <Paragraph Class="verification-text-info" Size="TEXT_SIZE.S">(@I18N.T("You can now close this page."))</Paragraph>
                </div>
            }
        </div>
    </Box>
</div>
