/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.admin-page {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    gap: 20px;
    /* Size: */
    width: 100%;
    padding: 20px 0;
}

::deep.admin-page .feature-panel {
    /* Position: */
    order: 2;
    /* Display: */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Size: */
    width: 100%;
}

::deep.admin-page .service-panel {
    /* Position: */
    order: 1;
    /* Display: */
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    /* Size: */
    width: 100%;
}

::deep.admin-page .heading.admin-heading {
    /* Content: */
    text-align: center;
}

/* Styles > DB ------------------------------------------------------------------------------------------------------------------------- */
::deep.admin-page .box.db-box {
    /* Display: */
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

::deep.admin-page .heading.db-heading {
    /* Content: */
    text-align: center;
}

::deep.admin-page .paragraph.db-info {
    /* Size: */
    margin-top: -6px;
    /* Content: */
    text-align: center;
}

::deep.admin-page .paragraph.db-info b {
    /* Display: */
    display: block;
    /* Size: */
    padding-bottom: 4px;
}

::deep.admin-page .db-buttons {
    /* Display: */
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 10px;
    /* Size: */
    width: 100%;
    max-width: 400px;
}

::deep.admin-page .button-component.button.db-button {
    /* Display: */
    flex-grow: 1;
}

/* Styles > Email ---------------------------------------------------------------------------------------------------------------------- */
::deep.admin-page .box.email-box {
    /* Display: */
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

::deep.admin-page .heading.email-heading {
    /* Content: */
    text-align: center;
}

::deep.admin-page .paragraph.email-info {
    /* Size: */
    margin-top: -6px;
    /* Content: */
    text-align: center;
}

::deep.admin-page .paragraph.email-info b {
    /* Display: */
    display: block;
    /* Size: */
    padding-bottom: 4px;
}

::deep.admin-page .email-buttons {
    /* Display: */
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 10px;
    /* Size: */
    width: 100%;
    max-width: 400px;
}

::deep.admin-page .button-component.button.email-button {
    /* Display: */
    flex-grow: 1;
}

::deep.admin-page .paragraph.email-factor-paragraph {
    /* Content: */
    text-align: center;
}

::deep.admin-page .map-box {
    /* Display: */
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

::deep.admin-page .heading.map-heading {
    /* Content: */
    text-align: center;
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.admin-page {
        /* Display: */
        flex-direction: row;
    }

    ::deep.admin-page .feature-panel {
        /* Position: */
        order: 1;
    }

    ::deep.admin-page .service-panel {
        /* Position: */
        order: 2;
        /* Size: */
        width: 400px;
    }

    ::deep.admin-page .heading.admin-title {
        /* Display: */
        display: block;
    }
}
