@namespace Jumpeno.Client.Pages

@inherits Page
@attribute [Route(AdminPage.ROUTE_EN)]
@attribute [Route(AdminPage.ROUTE_SK)]

<DocTitle Value="@I18N.T("Admin")" />

<div class="admin-page">
    <Heading1 Class="admin-heading">@I18N.T("Admin")</Heading1>
</div>
