/* Variables --------------------------------------------------------------------------------------------------------------------------- */
.form-label {
    --form-label-width: 100%;
    --form-label-height: auto;
    --form-label-font-size: unset;
    --form-label-font-weight: 400;
    --form-label-line-height: 1.5;
    --form-label-align: left;
    --form-label-gap: unset;
    --form-label-color: unset;
}

/* Surface ----------------------------------------------------------------------------------------------------------------------------- */
.form-label.surface-primary {
    --form-label-color: rgb(var(--color-primary));
}
.form-label.surface-secondary {
    --form-label-color: rgb(var(--color-secondary));
}
.form-label.surface-floating {
    --form-label-color: rgb(var(--color-floating));
}

/* Sizes ------------------------------------------------------------------------------------------------------------------------------- */
.form-label.size-s {
    --form-label-font-size: 12px;
    --form-label-gap: 1px;
}
.form-label.size-m {
    --form-label-font-size: 13px;
    --form-label-gap: 2px;
}
.form-label.size-l {
    --form-label-font-size: 15px;
    --form-label-gap: 3px;
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.form-label {
    position: relative;
    display: block;
    width: var(--form-label-width);
    height: var(--form-label-height);
    font-size: var(--form-label-font-size);
    font-weight: var(--form-label-font-weight);
    line-height: var(--form-label-line-height);
    color: var(--form-label-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: var(--form-label-align);
    padding-bottom: var(--form-label-gap);
    pointer-events: none;
}

.form-label label {
    max-width: 100%;
}
