@namespace Jumpeno.Client.Pages

@inherits Component

<DocTitle Value="@I18N.T("403 Not authorized")" />
<div class="error-page">
    <Heading1 Size="TEXT_SIZE.XL" Class="error-page-heading">@I18N.T("Error 403")</Heading1>
    <Paragraph Size="TEXT_SIZE.L" Class="error-page-paragraph">@I18N.T("We apologize, you are not authorized.")</Paragraph>
</div>
