/* Variables --------------------------------------------------------------------------------------------------------------------------- */
.input-error {
    --input-error-input-radius: 0;

    --input-error-top: -10px;
    --input-error-margin: 10px;
    --input-error-radius: 6px;
    --input-error-padding-vertical: 2px;
    --input-error-padding-horizontal: 8px;
    --input-error-border-size: 2px;
    --input-error-align: flex-start;

    --input-error-font-size: 12px;
    --input-error-font-weight: 400;
    --input-error-line-height: 1.5;

    --input-error-transition-duration: calc(var(--transition-ultra-fast) * 1ms);
    --input-error-transition-timing: ease;

    --input-error-z-index: var(--z-index-form-error);
}
.input-error.surface-all {
    --input-error-color: rgb(var(--color-danger));
    --input-error-color-transition: rgb(var(--color-danger-highlight));
    --input-error-background: rgb(var(--color-danger-surface));
    --input-error-background-transition: rgb(var(--color-danger-surface-highlight));
    --input-error-outline: rgb(var(--color-danger-accent));
    --input-error-outline-transition: rgb(var(--color-danger-accent-highlight));
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.input-error {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: var(--input-error-align);
    width: 100%;
    border-radius: var(--input-error-input-radius);
    pointer-events: all;
    cursor: text;
    z-index: auto;
}

.input-error-outline {
    position: absolute;
    display: inline-flex;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: 0;
    pointer-events: none;
    border-radius: var(--input-error-input-radius);
    border: var(--input-error-border-size) solid transparent;
    transition: border-color var(--input-error-transition-duration) var(--input-error-transition-timing);
}

.input-error-message {
    position: absolute;
    background-color: var(--input-error-background);
    border: var(--input-error-border-size) solid var(--input-error-outline);
    color: var(--input-error-color);
    max-width: calc(100% - 2 * var(--input-error-margin));
    border-radius: var(--input-error-radius);
    padding: var(--input-error-padding-vertical) var(--input-error-padding-horizontal);
    pointer-events: all;
    cursor: text;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: var(--input-error-margin);
    margin-right: var(--input-error-margin);
    top: 100%;
    margin-top: var(--input-error-top);
    font-size: var(--input-error-font-size);
    font-weight: var(--input-error-font-weight);
    line-height: var(--input-error-line-height);
    transition-property: opacity, background-color, border-color;
    transition-duration: var(--input-error-transition-duration);
    transition-timing-function: var(--input-error-transition-timing);
    z-index: var(--input-error-z-index);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

/* States ------------------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Error state - InputWrap.CLASS_ERROR */
.error .input-error-outline {
    border-color: var(--input-error-outline);
}
.error:hover .input-error-outline,
.error:focus-within .input-error-outline {
    border-color: var(--input-error-outline-transition);
}

.error .input-error-message {
    opacity: 1;
    pointer-events: all;
}

.error:hover .input-error-message,
.error:focus-within .input-error-message {
    color: var(--input-error-color-transition);
    background-color: var(--input-error-background-transition);
    border-color: var(--input-error-outline-transition);
}
.error:focus-within .input-error-message {
    opacity: 0;
    pointer-events: none;
}
.error:focus-within .input-error-message:focus-visible {
    opacity: 1;
}
.error:focus-within .input-error-message:focus {
    pointer-events: all;
}
