@namespace Jumpeno.Client.Components

<div id="@ID" aria-hidden="true">
    @foreach (var canvas in List) {
        <BECanvas @ref="canvas.Ref" Width="@canvas.Width" Height="@canvas.Height" />
    }
</div>
