/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep#project-canvas-pre-renderer {
    /* Position: */
    position: fixed;
    top: 100vh;
    left: 0;
    /* Display: */
    display: none;
}
