@namespace Jumpeno.Client.Components

<div class="@ComputeClass()">
    @if (!HideLabel) { <InputLabel For="@FormID">@Label</InputLabel> }
    <InputError ViewModel="ErrorVM" OnClick="HandleErrorClick" OnKeyDown="HandleErrorKeyDown">
        @ChildContent
    </InputError>
</div>
