/* Constants -------------------------------------------------------------------------------------------------------------------------- */
::deep.modal.profile-modal {
    --profile-modal-z-index: 10;
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.modal.profile-modal {
    /* Size: */
    --modal-min-width: 800px;
    --modal-max-width: 1200px;
    --modal-min-height: 600px;
}

::deep.modal.profile-modal .profile-tabs {
    /* Display: */
    align-self: center;
    /* Size: */
    width: 100%;
    margin: 0 auto;
}

::deep.modal.profile-modal .profile-tab-bar {
    /* Position: */
    position: sticky;
    top: 0; /* stick to top */
    z-index: var(--profile-modal-z-index); /* stay above content */
    /* Style */
    background: var(--theme-surface-background); /* prevent content from showing through */
}
