/* Constants -------------------------------------------------------------------------------------------------------------------------- */
::deep.modal.profile-modal {
    --profile-tabs-menu-z-index: 10;
    --tab-buttons-height: 50px;
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.modal.profile-modal {
    --modal-min-width: 800px;
    --modal-max-width: 1200px;
    --modal-min-height: 480px;
}

::deep.modal.profile-modal .modal-content-box {
    /* Size: */
    padding: 0;
}

::deep.modal.profile-modal .profile-modal-tab-switch {
    /* Position: */
    position: relative;
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--modal-padding-content-y);
    /* Size: */
    width: 100%;
}

::deep.modal.profile-modal .profile-tab-buttons {
    /* Position: */
    position: sticky;
    top: 0;
    z-index: var(--profile-tabs-menu-z-index);  
    /* Display: */
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 0;
    /* Size: */
    width: calc(100% + 2 * var(--modal-padding-content-x));
    margin: calc(-1 * var(--modal-padding-content-y)) calc(-1 * var(--modal-padding-content-x)) 0;
    height: var(--tab-buttons-height);
    /* Style: */
    background: var(--theme-modal-profile-navigation-background);
}

::deep.modal.profile-modal .profile-tab-button {
    /* Display: */
    display: inline-flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* Size: */
    padding: 10px;
    /* Style: */
    background: none;
    outline: none;
    border: none;
    color: var(--theme-modal-profile-navigation-item-unactive);
    white-space: nowrap;
    font-size: 20px;
    cursor: pointer;
    /* Animations */
    transition-property: color, text-shadow, background-color;
    transition-duration: calc(var(--theme-transition-fast) * 1ms);
    transition-timing-function: ease;
}

::deep.modal.profile-modal .profile-tab-button .tab-text {
    /* Display: */
    display: none;
}

::deep.modal.profile-modal .profile-tab-button.active {
    /* Style: */
    color: var(--theme-modal-profile-navigation-item-active);
    background-color: var(--theme-menu-button-mobile-active-background);
    text-shadow: none;
}

::deep.modal.profile-modal .profile-tab-button:hover,
::deep.modal.profile-modal .profile-tab-button:focus-visible {
    /* Style: */
    color: var(--theme-modal-profile-navigation-item-active);
    text-shadow: 0 0 8px;
}

::deep.modal.profile-modal .profile-tabs { 
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: 100%;
    min-height: calc(100% - var(--tab-buttons-height) - var(--modal-padding-content-y));
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    ::deep.modal.profile-modal .profile-modal-tab-switch {
        /* Display: */
        flex-direction: row;
        gap: var(--modal-padding-content-x);
    }

    ::deep.modal.profile-modal .profile-tab-buttons {
        /* Display: */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* Size */
        width: 200px;
        height: 100%;
        margin: 0;
    }

    ::deep.modal.profile-modal .profile-tab-button .tab-text {
        /* Display: */
        display: inline;
        font-size: 15px;
    }

    ::deep.modal.profile-modal .profile-tab-buttons::after {
        /* Display: */
        display: none;
    }

    ::deep.modal.profile-modal .profile-tab-button {
        /* Display: */
        flex: none;
        justify-content: flex-start;
        /* Size */
        width: 100%;
        padding: 10px 20px 10px 20px;
    }

    ::deep.modal.profile-modal .profile-tabs {
        /* Size: */
        min-height: 100%;
        margin-top: -20px;
    }
}
