@namespace Jumpeno.Client.Pages

@inherits Page

<div class="error-404-page">
    <DocTitle Value="@I18N.T("404 Not found")" />
    <AntIcon Type="frown" Theme="outline" Style="font-size: 130px; margin-bottom: -6px;" />
    <Heading1 Size="TEXT_SIZE.XL" Class="error-page-heading">@I18N.T("Error 404")</Heading1>
    <Paragraph Size="TEXT_SIZE.L" Class="error-page-paragraph">@I18N.T("Sorry, there's nothing at this address.")</Paragraph>
</div>
