/* Variables --------------------------------------------------------------------------------------------------------------------------- */
::deep.progress-circle {
    /* Size: */
    --size: 60px;
    /* Style: */
    --linecap: round;
    /* Use one option to display progress: */
    --progress: unset; /* Example: Write "75" for 75% (0% is marked as empty) */
    --progress-percentage: unset; /* Example: Write "75%" or "75" for 75% (0% is marked with dot) */
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.progress-circle {
    /* Size: */
    width: var(--size);
    height: var(--size);
    /* Transform: */
    transform: rotate(-90deg);
}

::deep.progress-circle circle {
    /* Computed: */
    --dash-array: calc(2 * pi * 42px);
}
::deep.progress-circle circle {
    /* Size: */
    stroke-width: 16px;
    /* Style: */
    stroke-dasharray: var(--dash-array);
    fill: transparent;
}

::deep.progress-circle .progress-circle-background {
    /* Style: */
    stroke: var(--theme-progress-circle-background);
    stroke-dashoffset: 0;
}

::deep.progress-circle .progress-circle-progress {
    /* Style: */
    stroke: var(--theme-progress-circle-color);
    stroke-dashoffset: calc((100 - min(max(var(--progress) * 1, 0), 100)) / 100 * var(--dash-array));
    stroke-dasharray: var(calc(pi * var(--progress-percentage) * 0.84), calc(2 * pi * 42px)), 1000%;
    stroke-linecap: var(--linecap);
}
