@namespace Jumpeno.Client.Components

@inherits BasicComponent

@code {
    // Constants --------------------------------------------------------------------------------------------------------------------------
    public const string CLASS_COLLAPSE_TITLE = "collapse-title";
    public const string CLASS_COLLAPSE_ICON = "collapse-icon";
    
    // Parameters -------------------------------------------------------------------------------------------------------------------------
    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    // Attributes -------------------------------------------------------------------------------------------------------------------------
    public override CSSClass ComputeClass() => base.ComputeClass().Set(CLASS_COLLAPSE_TITLE, Base);
}

<div class="@ComputeClass()" style="@Style">
    <div class="@CLASS_COLLAPSE_ICON">
        <AntIcon Type="down" Theme="outline" />
    </div>
    @ChildContent
</div>
