@namespace Jumpeno.Client.Atoms

@inherits SurfaceComponent

@code {
    // Constants --------------------------------------------------------------------------------------------------------------------------
    public const string CLASS_COLLAPSE_TITLE = "collapse-title";
    public const string CLASS_COLLAPSE_ICON = "collapse-icon";
    
    // Parameters -------------------------------------------------------------------------------------------------------------------------
    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    // Attributes -------------------------------------------------------------------------------------------------------------------------
    protected CSSClass ComputeClass() {
        return ComputeClass(CLASS_COLLAPSE_TITLE);
    }
}

<div class="@ComputeClass()">
    <div class="@CLASS_COLLAPSE_ICON">
        <AntIcon Type="down" Theme="outline" />
    </div>
    @ChildContent
</div>
