/* Variables --------------------------------------------------------------------------------------------------------------------------- */
::deep.collapse-title {
    --collapse-title-icon-size: 24px;
    --collapse-title-icon-svg: 12px;
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.collapse-title {
    /* Display: */
    display: flex;
    align-items: center;
    gap: 6px;
    /* Size: */
    margin: 0;
    /* Style: */
    color: var(--collapse-color);
    /* Content: */
    font-family: var(--theme-font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    word-break: break-word;
}

::deep.collapse-title .collapse-icon {
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    flex-shrink: 0;
    /* Size: */
    width: var(--collapse-title-icon-size);
    height: var(--collapse-title-icon-size);
    /* Style: */
    color: var(--collapse-icon-color);
    background-color: var(--collapse-icon-background);
    border-radius: 50%;
    /* Animations: */
    transition: transform calc(var(--theme-transition-normal) * 1ms) ease;
}

::deep.collapse-title .collapse-icon svg {
    /* Size: */
    width: var(--collapse-title-icon-svg);
    height: var(--collapse-title-icon-svg);
}

::deep.collapse-item.item-collapsed .collapse-title .collapse-icon {
    /* Transform: */
    transform: rotate(-180deg);
}

@media (min-width: 768px) {
    /* Media > Variables --------------------------------------------------------------------------------------------------------------- */
    ::deep.collapse-title {
        --collapse-title-icon-size: 27px;
        --collapse-title-icon-svg: 14px;
    }

    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.collapse-title {
        /* Display: */
        gap: 8px;
        /* Content: */
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    /* Media > Variables --------------------------------------------------------------------------------------------------------------- */
    ::deep.collapse-title {
        --collapse-title-icon-size: 30px;
        --collapse-title-icon-svg: 16px;
    }

    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.collapse-title {
        /* Display: */
        gap: 10px;
        /* Content: */
        font-size: 16px;
    }
}
