/* Variables --------------------------------------------------------------------------------------------------------------------------- */
::deep.image {
    /* Size: */
    --image-width: auto;
    --image-height: auto;
    --image-height-ratio: 0%;
    --image-max-width: 100%;
    /* Position: */
    --image-fit: fill;
    --image-position: center center;
    /* Style: */
    --image-color-loading-light: var(--theme-image-light-color);
    --image-color-loading-dark: var(--theme-image-dark-color);
    --image-color-error: var(--theme-image-error-color);
    --image-icon-color: var(--theme-image-icon-color);
}

/* Keyframes --------------------------------------------------------------------------------------------------------------------------- */
@keyframes image-pulse {
    0% { background-color: var(--image-color-loading-light); }
    50% { background-color: var(--image-color-loading-dark); }
    100% { background-color: var(--image-color-loading-light); }
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.image {
    /* Position: */
    position: relative;
    /* Display: */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: var(--image-width);
    height: var(--image-height);
    max-width: var(--image-max-width);
    /* Content: */
    overflow: hidden;
}

::deep.image .image-ratio {
    /* Position: */
    position: relative;
    /* Display: */
    display: block;
    /* Size: */
    padding-top: var(--image-height-ratio);
    /* Actions: */
    pointer-events: none;
}

::deep.image.loading::after {
    /* Position: */
    position: absolute;
    /* Display: */
    display: block;
    /* Size: */
    inset: 0;
    /* Content: */
    content: "";
    /* Animations: */
    animation: image-pulse 2s infinite;
}

::deep.image::after, ::deep.image.loading.transparent::after {
    /* Content: */
    content: none;
    /* Animations: */
    animation: none;
}

::deep.image .image-element {
    /* Position: */
    position: absolute;
    /* Display: */
    display: block;
    /* Size: */
    width: 100%;
    height: 100%;
    /* Style: */
    opacity: 1;
    /* Content: */
    object-fit: var(--image-fit);
    object-position: var(--image-position);
    /* Animations: */
    transition: opacity calc(var(--theme-transition-fast) * 1ms) ease-in-out;
}

::deep.image.no-transition > .image-element {
    /* Animations: */
    transition: none;
}

::deep.image.loading > .image-element, ::deep.image.error > .image-element {
    /* Style: */
    opacity: 0;
}

::deep.image.error .image-element {
    /* Animations: */
    transition: none;
}

::deep.image.error::before {
    /* Position: */
    position: absolute;
    /* Display: */
    display: block;
    /* Size: */
    inset: 0;
    /* Style: */
    background-color: var(--image-color-error);
    /* Content: */
    content: "";
}

::deep.image.error.transparent::before {
    /* Content: */
    content: none;
}

::deep.image .error-icon-wrapper {
    /* Position: */
    position: absolute;
    /* Display: */
    display: none;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: 100%;
    height: 100%;
}

::deep.image .error-icon {
    /* Position: */
    position: absolute;
    /* Display: */
    display: block;
    /* Size: */
    width: 70%;
    height: 70%;
    max-width: 130px;
    max-height: 130px;
    /* Style: */
    color: var(--image-icon-color);
}

::deep.image .error-icon > svg {
    /* Size: */
    width: 100%;
    height: 100%;
}

::deep.image.error > .error-icon-wrapper {
    /* Display: */
    display: flex;
}
