@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@using JumpenoWebassembly.Client.ExceptionHandling
@inject NavigationManager Navigation

<div class="main">

    <BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

    <Navbar/>

    <div class="content px-4">
        <CustomErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <div class="wrapper-flex">
                    <div class="card card-glass width-75 height-50">
                        <h1>Error</h1>
                        <div class="width-100 height-100">
            
                            <h3>Something went wrong! Please submit this error to us.</h3>
                            <button class="btn btn-info" @onclick="() => HandleError()">Submit</button>

                        </div>
                    </div>
                </div>
            </ErrorContent>
        </CustomErrorBoundary>
    </div>

</div>


@code{
    private CustomErrorBoundary errorBoundary;
    protected override void OnInitialized()
    {
        errorBoundary = new CustomErrorBoundary();
    }

    private void HandleError()
    {
        errorBoundary.Clear();
        Navigation.NavigateTo("/", true);
    }
}
