/* Variables --------------------------------------------------------------------------------------------------------------------------- */
::deep.box {
    --base-size: 1px;
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.box {
    /* Display: */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* Size: */
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding: 24px;
    /* Style: */
    border-radius: 20px;
    background: var(--theme-box-background);
    box-shadow: var(--theme-box-box-shadow);
    /* Base: */
    font-size: var(--base-size);
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.box {
        /* Size: */
        padding: 36px;
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.box {
        /* Size: */
        padding: 50px;
    }
}
