/* Variables --------------------------------------------------------------------------------------------------------------------------- */
::deep.load-area {
    --load-area-transition-duration: calc(var(--theme-transition-fast) * 1ms);
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.load-area {
    /* Position: */
    position: relative;
    /* Display: */
    display: flex;
    /* Size: */
    width: calc(100% + 20px);
    height: auto;
    padding: 10px;
    margin: -10px;
    /* Style: */
    outline: none;
}

::deep.load-area .load-area-content {
    /* Position: */
    position: relative;
    /* Display: */
    display: flex;
    /* Size: */;
    width: 100%;
    height: auto;
    /* Style: */
    opacity: 1;
    /* Animations: */
    transition: opacity var(--load-area-transition-duration) ease;
}

::deep.load-area .load-area-loader-wrap {
    /* Position: */
    position: absolute;
    left: 50%;
    top: 50%;
    /* Transform: */
    transform: translateX(-50%) translateY(-50%) !important;
    /* Style: */
    opacity: 0;
    /* Animations: */
    transition: opacity var(--load-area-transition-duration) ease;
    /* Actions: */
    pointer-events: none;
}

::deep.load-area .loader.load-area-loader {
    /* Size: */
    --size: 44;
}

/* Styles [NoLoader] ------------------------------------------------------------------------------------------------------------------- */
::deep.load-area.no-loader .load-area-loader-wrap {
    display: none;
}

/* State [Loading] --------------------------------------------------------------------------------------------------------------------- */
::deep.load-area.loading .load-area-content {
    /* Style: */
    opacity: 0.3;
}

::deep.load-area.loading .load-area-loader-wrap {
    /* Style: */
    opacity: 1;
}
