/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.os-scrollbar {
    --os-size: 8px;
}

/* Touch actions ----------------------------------------------------------------------------------------------------------------------- */
body.touch-action-auto [data-overlayscrollbars-viewport] {
    touch-action: auto;
}

body.touch-action-none [data-overlayscrollbars-viewport] {
    touch-action: none;
}

body.touch-action-pan [data-overlayscrollbars-viewport] {
    touch-action: pan-x pan-y;
}

body.touch-action-pinch-zoom [data-overlayscrollbars-viewport] {
    touch-action: pinch-zoom;
}

body.touch-action-manipulation [data-overlayscrollbars-viewport] {
    touch-action: manipulation;
}

/* Overscroll -------------------------------------------------------------------------------------------------------------------------- */
body.overscroll-auto [data-overlayscrollbars-viewport] {
    overscroll-behavior: auto;
}

body.overscroll-contain [data-overlayscrollbars-viewport] {
    overscroll-behavior: contain;
}

body.overscroll-none [data-overlayscrollbars-viewport] {
    overscroll-behavior: none;
}

/* Media ------------------------------------------------------------------------------------------------------------------------------- */
@media all and (min-width: 768px) {
    .os-scrollbar {
        --os-size: 10px;
    }
}

@media all and (min-width: 1200px) {
    .os-scrollbar {
        --os-size: 11px;
    }
}
