/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.os-scrollbar {
    --os-size: 8px;
}

.no-display {
    display: none !important;
}

/* Media ------------------------------------------------------------------------------------------------------------------------------- */
@media all and (min-width: 768px) {
    .os-scrollbar {
        --os-size: 10px;
    }
}

@media all and (min-width: 1200px) {
    .os-scrollbar {
        --os-size: 11px;
    }
}
