body.no-theme { opacity: 0; }

@keyframes fade-in-theme { 0% { opacity: 0; } 100% { opacity: 1; }}
.theme-updated .theme-transition-container {
    animation: fade-in-theme calc(var(--transition-extra-slow) * 1ms) forwards;
}
.setting-theme .theme-transition-container {
    display: none !important;
}

body.dark-theme {
    --scroll-theme: OS_THEME_DARK;
    --color-danger: 83, 0, 0;
    --color-danger-highlight: 143, 0, 0;
    --color-danger-surface: 255, 186, 186;
    --color-danger-surface-highlight: 255, 219, 219;
    --color-danger-accent: 255, 0, 0;
    --color-danger-accent-highlight: 253, 118, 118;
    --color-success: 82, 196, 26;
    --color-success-highlight: 0, 255, 0;
    --color-primary: 42, 33, 56;
    --color-primary-highlight: 122, 113, 136;
    --color-primary-accent: 42, 33, 56;
    --color-primary-accent-highlight: 122, 113, 136;
    --color-primary-surface: 255, 255, 83;
    --color-primary-surface-highlight: 225, 225, 53;
    --color-primary-box: 250, 250, 175;
    --color-primary-shade: 220, 220, 220;
    --color-primary-shade-invert: 60, 60, 60;
    --color-primary-shade-strong: 190, 190, 190;
    --color-primary-shade-strong-invert: 90, 90, 90;
    --color-secondary: 236, 240, 241;
    --color-secondary-highlight: 255, 255, 255;
    --color-secondary-accent: 255, 215, 0;
    --color-secondary-accent-highlight: 255, 239, 0;
    --color-secondary-surface: 42, 33, 56;
    --color-secondary-surface-highlight: 72, 63, 86;
    --color-secondary-box: 57, 48, 71;
    --color-secondary-shade: 170, 170, 170;
    --color-secondary-shade-invert: 236, 240, 241;
    --color-secondary-shade-strong: 140, 140, 140;
    --color-secondary-shade-strong-invert: 206, 210, 211;
    --color-floating: 42, 33, 56;
    --color-floating-highlight: 122, 113, 136;
    --color-floating-accent: 42, 33, 56;
    --color-floating-accent-highlight: 122, 113, 136;
    --color-floating-surface: 255, 255, 255;
    --color-floating-surface-highlight: 225, 225, 225;
    --color-floating-box: 245, 245, 245;
    --color-floating-shade: 220, 220, 220;
    --color-floating-shade-invert: 60, 60, 60;
    --color-floating-shade-strong: 190, 190, 190;
    --color-floating-shade-strong-invert: 90, 90, 90;
    --box-shadow-floating-level-1: 0 0 10px rgba(var(--color-base), 0.1);
    --box-shadow-floating-level-2: 0 0 30px 0 rgba(var(--color-base), 0.5);
    --color-selection: 42, 33, 56;
    --color-selection-background: 255, 239, 0;
    --color-base: 0, 0, 0;
    --color-base-highlight: 40, 40, 40;
    --color-base-invert: 255, 255, 255;
    --color-base-invert-highlight: 220, 220, 220;
    --color-base-accent: 255, 215, 0;
    --color-base-accent-highlight: 255, 239, 0;
    --color-base-error: 255, 0, 0;
    --color-base-success: 0, 255, 0;
    --font-primary: Montserrat, sans-serif;
    --size-container-max-width: 1340;
    --size-container-padding-mobile: 16;
    --size-container-padding-tablet: 28;
    --size-container-padding-desktop: 40;
    --size-header-height: 75;
    --size-footer-height-mobile: 170;
    --size-footer-height-tablet: 190;
    --size-footer-height-desktop: 210;
    --transition-bolt: 0;
    --transition-semi-bolt: 50;
    --transition-ultra-fast: 100;
    --transition-semi-ultra-fast: 150;
    --transition-fast: 200;
    --transition-semi-fast: 250;
    --transition-normal: 300;
    --transition-semi-slow: 350;
    --transition-slow: 400;
    --transition-semi-extra-slow: 450;
    --transition-extra-slow: 500;
    --z-index-form-error: 100;
    --z-index-dropdown: 1000;
    --z-index-menu: 1001;
    --z-index-modal: 1002;
    --z-index-page-loader: 1000000;
    --z-index-server-page-loader: 1000001;
    --z-index-notification: 1000002;
    --z-index-console-ui: 1000003;
    --breakpoint-mobile-sm: 480;
    --breakpoint-mobile: 768;
    --breakpoint-tablet-sm: 992;
    --breakpoint-tablet: 1200;
}

body.light-theme {
    --scroll-theme: OS_THEME_DARK;
    --color-danger: 83, 0, 0;
    --color-danger-highlight: 143, 0, 0;
    --color-danger-surface: 255, 186, 186;
    --color-danger-surface-highlight: 255, 219, 219;
    --color-danger-accent: 255, 0, 0;
    --color-danger-accent-highlight: 253, 118, 118;
    --color-success: 82, 196, 26;
    --color-success-highlight: 0, 255, 0;
    --color-primary: 42, 33, 56;
    --color-primary-highlight: 122, 113, 136;
    --color-primary-accent: 42, 33, 56;
    --color-primary-accent-highlight: 122, 113, 136;
    --color-primary-surface: 255, 255, 83;
    --color-primary-surface-highlight: 225, 225, 53;
    --color-primary-box: 250, 250, 175;
    --color-primary-shade: 220, 220, 220;
    --color-primary-shade-invert: 60, 60, 60;
    --color-primary-shade-strong: 190, 190, 190;
    --color-primary-shade-strong-invert: 90, 90, 90;
    --color-secondary: 42, 33, 56;
    --color-secondary-highlight: 122, 113, 136;
    --color-secondary-accent: 235, 195, 0;
    --color-secondary-accent-highlight: 235, 219, 0;
    --color-secondary-surface: 255, 255, 255;
    --color-secondary-surface-highlight: 235, 235, 235;
    --color-secondary-box: 245, 245, 245;
    --color-secondary-shade: 220, 220, 220;
    --color-secondary-shade-invert: 60, 60, 60;
    --color-secondary-shade-strong: 190, 190, 190;
    --color-secondary-shade-strong-invert: 90, 90, 90;
    --color-floating: 42, 33, 56;
    --color-floating-highlight: 122, 113, 136;
    --color-floating-accent: 42, 33, 56;
    --color-floating-accent-highlight: 122, 113, 136;
    --color-floating-surface: 255, 255, 255;
    --color-floating-surface-highlight: 225, 225, 225;
    --color-floating-box: 245, 245, 245;
    --color-floating-shade: 220, 220, 220;
    --color-floating-shade-invert: 60, 60, 60;
    --color-floating-shade-strong: 190, 190, 190;
    --color-floating-shade-strong-invert: 90, 90, 90;
    --box-shadow-floating-level-1: 0 0 10px rgba(var(--color-base), 0.1);
    --box-shadow-floating-level-2: 0 0 30px 0 rgba(var(--color-base), 0.3);
    --color-selection: 42, 33, 56;
    --color-selection-background: 255, 239, 0;
    --color-base: 0, 0, 0;
    --color-base-highlight: 40, 40, 40;
    --color-base-invert: 255, 255, 255;
    --color-base-invert-highlight: 220, 220, 220;
    --color-base-accent: 255, 215, 0;
    --color-base-accent-highlight: 255, 239, 0;
    --color-base-error: 255, 0, 0;
    --color-base-success: 0, 255, 0;
    --font-primary: Montserrat, sans-serif;
    --size-container-max-width: 1340;
    --size-container-padding-mobile: 16;
    --size-container-padding-tablet: 28;
    --size-container-padding-desktop: 40;
    --size-header-height: 75;
    --size-footer-height-mobile: 170;
    --size-footer-height-tablet: 190;
    --size-footer-height-desktop: 210;
    --transition-bolt: 0;
    --transition-semi-bolt: 50;
    --transition-ultra-fast: 100;
    --transition-semi-ultra-fast: 150;
    --transition-fast: 200;
    --transition-semi-fast: 250;
    --transition-normal: 300;
    --transition-semi-slow: 350;
    --transition-slow: 400;
    --transition-semi-extra-slow: 450;
    --transition-extra-slow: 500;
    --z-index-form-error: 100;
    --z-index-dropdown: 1000;
    --z-index-menu: 1001;
    --z-index-modal: 1002;
    --z-index-page-loader: 1000000;
    --z-index-server-page-loader: 1000001;
    --z-index-notification: 1000002;
    --z-index-console-ui: 1000003;
    --breakpoint-mobile-sm: 480;
    --breakpoint-mobile: 768;
    --breakpoint-tablet-sm: 992;
    --breakpoint-tablet: 1200;
}
