body.no-theme { opacity: 0; }

@keyframes fade-in-theme { 0% { opacity: 0; } 100% { opacity: 1; }}
.theme-updated .theme-transition-container {
    animation: fade-in-theme calc(var(--theme-transition-extra-slow) * 1ms) forwards;
}
.setting-theme .theme-transition-container {
    display: none !important;
}

body {
    --theme-font-primary: Montserrat, sans-serif;
    --theme-size-container-max-width: 1340;
    --theme-size-container-padding-mobile: 16;
    --theme-size-container-padding-tablet: 28;
    --theme-size-container-padding-desktop: 40;
    --theme-size-header-height: 75;
    --theme-size-footer-height-mobile: 180;
    --theme-size-footer-height-tablet: 190;
    --theme-size-footer-height-desktop: 210;
    --theme-transition-bolt: 0;
    --theme-transition-semi-bolt: 50;
    --theme-transition-ultra-fast: 100;
    --theme-transition-semi-ultra-fast: 150;
    --theme-transition-fast: 200;
    --theme-transition-semi-fast: 250;
    --theme-transition-normal: 300;
    --theme-transition-semi-slow: 350;
    --theme-transition-slow: 400;
    --theme-transition-semi-extra-slow: 450;
    --theme-transition-extra-slow: 500;
    --theme-z-index-form-error: 100;
    --theme-z-index-dropdown: 1000;
    --theme-z-index-menu: 1001;
    --theme-z-index-modal: 1002;
    --theme-z-index-page-loader: 1000000;
    --theme-z-index-server-page-loader: 1000001;
    --theme-z-index-notification: 1000002;
    --theme-z-index-console-ui: 1000003;
    --theme-breakpoint-mobile-sm: 480;
    --theme-breakpoint-mobile: 768;
    --theme-breakpoint-tablet-sm: 992;
    --theme-breakpoint-tablet: 1200;
    --theme-email-color: rgba(42, 33, 56, 1);
    --theme-email-accent-color: rgba(255, 215, 0, 1);
}

body.light-theme.surface-primary,
body.light-theme .surface-primary {
    --theme-surface-background: rgba(255, 255, 83, 1);
    --theme-status-danger-box-color: rgba(83, 0, 0, 1);
    --theme-status-danger-box-background: rgba(255, 186, 186, 1);
    --theme-status-danger-box-outline-color: rgba(255, 0, 0, 1);
    --theme-status-danger-box-highlight-color: rgba(143, 0, 0, 1);
    --theme-status-danger-box-highlight-background: rgba(255, 219, 219, 1);
    --theme-status-danger-box-highlight-outline-color: rgba(253, 118, 118, 1);
    --theme-status-danger-accent-color: rgba(255, 77, 79, 1);
    --theme-status-danger-accent-highlight-color: rgba(255, 0, 4, 1);
    --theme-status-danger-neon-color: rgba(255, 0, 0, 1);
    --theme-status-success-box-color: rgba(21, 87, 36, 1);
    --theme-status-success-box-background: rgba(212, 237, 218, 1);
    --theme-status-success-box-outline-color: rgba(82, 196, 26, 1);
    --theme-status-success-box-highlight-color: rgba(41, 107, 56, 1);
    --theme-status-success-box-highlight-background: rgba(233, 242, 235, 1);
    --theme-status-success-box-highlight-outline-color: rgba(102, 216, 46, 1);
    --theme-status-success-accent-color: rgba(82, 196, 26, 1);
    --theme-status-success-accent-highlight-color: rgba(72, 217, 0, 1);
    --theme-status-success-neon-color: rgba(0, 255, 0, 1);
    --theme-status-warning-box-color: rgba(135, 92, 5, 1);
    --theme-status-warning-box-background: rgba(247, 225, 183, 1);
    --theme-status-warning-box-outline-color: rgba(250, 173, 20, 1);
    --theme-status-warning-box-highlight-color: rgba(145, 107, 31, 1);
    --theme-status-warning-box-highlight-background: rgba(252, 239, 213, 1);
    --theme-status-warning-box-highlight-outline-color: rgba(255, 191, 0, 1);
    --theme-status-warning-accent-color: rgba(250, 173, 20, 1);
    --theme-status-warning-accent-highlight-color: rgba(255, 191, 0, 1);
    --theme-status-warning-neon-color: rgba(255, 255, 0, 1);
    --theme-status-info-box-color: rgba(12, 63, 110, 1);
    --theme-status-info-box-background: rgba(191, 224, 255, 1);
    --theme-status-info-box-outline-color: rgba(24, 144, 255, 1);
    --theme-status-info-box-highlight-color: rgba(15, 77, 135, 1);
    --theme-status-info-box-highlight-background: rgba(217, 234, 250, 1);
    --theme-status-info-box-highlight-outline-color: rgba(24, 170, 255, 1);
    --theme-status-info-accent-color: rgba(24, 144, 255, 1);
    --theme-status-info-accent-highlight-color: rgba(24, 170, 255, 1);
    --theme-status-info-neon-color: rgba(0, 251, 255, 1);
    --theme-body-background: rgba(255, 255, 255, 1);
    --theme-body-scroll-theme: OS_THEME_DARK;
    --theme-body-selection-color: rgba(42, 33, 56, 1);
    --theme-body-selection-background: rgba(255, 239, 0, 1);
    --theme-body-backdrop: rgba(0, 0, 0, 0.5);
    --theme-qr-code-background: rgba(255, 255, 255, 1);
    --theme-nav-menu-box-shadow: 0 0 20em rgba(0, 0, 0, 0.3);
    --theme-nav-menu-mobile-button-color: rgba(82, 69, 103, 1);
    --theme-nav-menu-mobile-scroll-theme: OS_THEME_DARK;
    --theme-nav-menu-mobile-button-highlight-color: rgba(132, 124, 145, 1);
    --theme-nav-menu-mobile-button-focus-background: rgba(42, 33, 56, 0.08);
    --theme-nav-menu-mobile-button-focus-box-shadow: 0 1em 6em rgba(0, 0, 0, 0.4);
    --theme-game-state-color: rgba(255, 255, 255, 1);
    --theme-game-state-text-shadow: 0.09em 0.045em 0.24em rgba(0, 0, 0, 0.8);
    --theme-game-screen-canvas-background: rgba(0, 0, 0, 1);
    --theme-game-screen-canvas-box-shadow: 0 0.0025em 0.025em 0.01em rgba(0, 0, 0, 0.8);
    --theme-game-screen-control-color: rgba(105, 99, 115, 1);
    --theme-game-screen-control-background: rgba(255, 255, 255, 1);
    --theme-game-screen-control-box-shadow: 0 0.04em 0.16em 0.02em rgba(0, 0, 0, 0.2);
    --theme-game-screen-control-pressed-color: rgba(105, 99, 115, 1);
    --theme-game-screen-control-pressed-background: rgba(255, 255, 255, 0.7);
    --theme-game-screen-control-pressed-box-shadow: 0 0.04em 0.16em 0.02em rgba(0, 0, 0, 0.14);
    --theme-lobby-box-shadow: 0 0.006em 0.018em 0 rgba(0, 0, 0, 0.2);
    --theme-lobby-empty-color: rgba(0, 0, 0, 0.4);
    --theme-lobby-line-background: rgba(255, 215, 0, 0.7);
    --theme-lobby-presence-box-shadow: 0.02em 0.02em 0.05em rgba(0, 0, 0, 0.7);
    --theme-lobby-dash-color: rgba(0, 0, 0, 0.14);
    --theme-manual-color: rgba(255, 255, 255, 1);
    --theme-manual-text-shadow: 0.5em 0.1em 0.53em rgba(0, 0, 0, 0.4);
    --theme-manual-background: rgba(42, 144, 244, 1);
    --theme-manual-background-transition: rgba(73, 175, 255, 1);
    --theme-manual-box-shadow: 0 12em 20em 3em rgba(0, 0, 0, 0.25);
    --theme-button-primary-color: rgba(42, 33, 56, 1);
    --theme-button-primary-background: rgba(255, 255, 255, 1);
    --theme-button-primary-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.35);
    --theme-button-primary-highlight-color: rgba(42, 33, 56, 1);
    --theme-button-primary-highlight-background: rgba(235, 235, 235, 1);
    --theme-button-primary-highlight-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.3);
    --theme-button-secondary-color: rgba(42, 33, 56, 1);
    --theme-button-secondary-background: rgba(255, 215, 0, 1);
    --theme-button-secondary-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.35);
    --theme-button-secondary-highlight-color: rgba(42, 33, 56, 1);
    --theme-button-secondary-highlight-background: rgba(255, 239, 0, 1);
    --theme-button-secondary-highlight-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.3);
    --theme-button-tertiary-color: rgba(42, 33, 56, 1);
    --theme-button-tertiary-background: rgba(230, 230, 230, 1);
    --theme-button-tertiary-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.35);
    --theme-button-tertiary-highlight-color: rgba(42, 33, 56, 1);
    --theme-button-tertiary-highlight-background: rgba(236, 236, 236, 1);
    --theme-button-tertiary-highlight-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.3);
    --theme-button-quaternary-color: rgba(236, 240, 241, 1);
    --theme-button-quaternary-background: rgba(42, 33, 56, 1);
    --theme-button-quaternary-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.35);
    --theme-button-quaternary-highlight-color: rgba(236, 240, 241, 1);
    --theme-button-quaternary-highlight-background: rgba(72, 63, 86, 1);
    --theme-button-quaternary-highlight-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.3);
    --theme-button-danger-color: rgba(255, 255, 255, 1);
    --theme-button-danger-background: rgba(217, 26, 29, 1);
    --theme-button-danger-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.35);
    --theme-button-danger-highlight-color: rgba(255, 255, 255, 1);
    --theme-button-danger-highlight-background: rgba(237, 43, 46, 1);
    --theme-button-danger-highlight-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.3);
    --theme-button-disabled-color: rgba(190, 190, 190, 1);
    --theme-button-disabled-background: rgba(240, 240, 240, 1);
    --theme-button-disabled-box-shadow: 0 2em 2em rgba(0, 0, 0, 0.2);
    --theme-menu-button-color: rgba(42, 33, 56, 1);
    --theme-menu-button-background: rgba(0, 0, 0, 0);
    --theme-menu-button-box-shadow: none;
    --theme-menu-button-highlight-color: rgba(42, 33, 56, 1);
    --theme-menu-button-highlight-background: rgba(42, 33, 56, 0.055);
    --theme-menu-button-highlight-box-shadow: 0em 2em 10em rgba(0, 0, 0, 0.02);
    --theme-menu-button-active-color: rgba(42, 33, 56, 1);
    --theme-menu-button-active-background: rgba(0, 0, 0, 0);
    --theme-menu-button-active-box-shadow: 0em 2em 7em rgba(0, 0, 0, 0.35);
    --theme-menu-button-active-highlight-color: rgba(42, 33, 56, 1);
    --theme-menu-button-active-highlight-background: rgba(0, 0, 0, 0);
    --theme-menu-button-active-highlight-box-shadow: 0em 2em 9em rgba(0, 0, 0, 0.5);
    --theme-menu-button-mobile-color: rgba(42, 33, 56, 1);
    --theme-menu-button-mobile-background: rgba(0, 0, 0, 0);
    --theme-menu-button-mobile-box-shadow: none;
    --theme-menu-button-mobile-hover-color: rgba(122, 113, 136, 1);
    --theme-menu-button-mobile-hover-background: rgba(0, 0, 0, 0);
    --theme-menu-button-mobile-hover-box-shadow: none;
    --theme-menu-button-mobile-focus-color: rgba(42, 33, 56, 1);
    --theme-menu-button-mobile-focus-background: rgba(42, 33, 56, 0.055);
    --theme-menu-button-mobile-focus-box-shadow: 0em 2em 10em rgba(0, 0, 0, 0.02);
    --theme-menu-button-mobile-active-color: rgba(42, 33, 56, 1);
    --theme-menu-button-mobile-active-background: rgba(0, 0, 0, 0);
    --theme-menu-button-mobile-active-box-shadow: 0em 2em 7em rgba(0, 0, 0, 0.35);
    --theme-menu-button-mobile-active-hover-color: rgba(42, 33, 56, 1);
    --theme-menu-button-mobile-active-hover-background: rgba(0, 0, 0, 0);
    --theme-menu-button-mobile-active-hover-box-shadow: 0em 2em 7em rgba(0, 0, 0, 0.35);
    --theme-menu-button-mobile-active-focus-color: rgba(42, 33, 56, 1);
    --theme-menu-button-mobile-active-focus-background: rgba(0, 0, 0, 0);
    --theme-menu-button-mobile-active-focus-box-shadow: 0em 2em 9em rgba(0, 0, 0, 0.5);
    --theme-collapse-text-color: rgba(42, 33, 56, 1);
    --theme-collapse-icon-color: rgba(42, 33, 56, 1);
    --theme-collapse-icon-background: rgba(235, 235, 235, 1);
    --theme-collapse-background: rgba(255, 255, 255, 1);
    --theme-collapse-focus-box-shadow: 0 0 10em rgb(204, 204, 204);
    --theme-dropdown-options-background: rgba(255, 255, 255, 1);
    --theme-dropdown-options-divider-color: rgba(0, 0, 0, 0.1);
    --theme-dropdown-options-box-shadow: 0 0 12em rgba(0, 0, 0, 0.2);
    --theme-dropdown-mark-box-shadow: 0 0 8em 2em rgba(0, 0, 0, 0.2);
    --theme-dropdown-options-highlight-background: rgba(241, 241, 241, 1);
    --theme-dropdown-admin-background: rgba(102, 102, 102, 1);
    --theme-dropdown-admin-border-color: rgba(255, 255, 255, 0.9);
    --theme-dropdown-admin-box-shadow: 0 0 3em 1em rgba(0, 0, 0, 0.5);
    --theme-dropdown-admin-highlight-border-color: rgba(255, 255, 255, 1);
    --theme-dropdown-admin-highlight-box-shadow: 0 0 3em 2em rgba(0, 0, 0, 0.4);
    --theme-dropdown-user-background: rgba(102, 102, 102, 1);
    --theme-dropdown-user-border-color: rgba(255, 255, 255, 0.9);
    --theme-dropdown-user-box-shadow: 0 0 3em 2em rgba(42, 33, 56, 0.5);
    --theme-dropdown-user-highlight-border-color: rgba(255, 255, 255, 1);
    --theme-dropdown-user-highlight-box-shadow: 0 0 3em 3em rgba(0, 0, 0, 0.5);
    --theme-form-primary-color: rgba(42, 33, 56, 1);
    --theme-form-primary-placeholder-color: rgba(182, 178, 189, 1);
    --theme-form-primary-icon-color: rgba(148, 148, 148, 1);
    --theme-form-primary-description-color: rgba(42, 33, 56, 1);
    --theme-form-primary-background: rgba(255, 255, 255, 1);
    --theme-form-primary-border-color: rgba(204, 204, 204, 1);
    --theme-form-primary-text-shadow: none;
    --theme-form-primary-box-shadow: none;
    --theme-form-primary-highlight-color: rgba(42, 33, 56, 1);
    --theme-form-primary-highlight-placeholder-color: rgba(182, 178, 189, 1);
    --theme-form-primary-highlight-icon-color: rgba(148, 148, 148, 1);
    --theme-form-primary-highlight-description-color: rgba(42, 33, 56, 1);
    --theme-form-primary-highlight-background: rgba(255, 255, 255, 1);
    --theme-form-primary-highlight-border-color: rgba(204, 204, 204, 1);
    --theme-form-primary-highlight-text-shadow: none;
    --theme-form-primary-highlight-box-shadow: 0 0 5em rgba(0, 0, 0, 0.4);
    --theme-form-primary-disabled-color: rgba(190, 190, 190, 1);
    --theme-form-primary-disabled-placeholder-color: rgba(190, 190, 190, 1);
    --theme-form-primary-disabled-icon-color: rgba(190, 190, 190, 1);
    --theme-form-primary-disabled-description-color: rgba(180, 180, 180, 1);
    --theme-form-primary-disabled-background: rgba(240, 240, 240, 1);
    --theme-form-primary-disabled-border-color: rgba(214, 214, 214, 1);
    --theme-form-primary-disabled-text-shadow: none;
    --theme-form-primary-disabled-box-shadow: none;
    --theme-form-primary-icon-highlight-color: rgba(70, 70, 70, 1);
    --theme-form-primary-clear-color: rgba(42, 33, 56, 1);
    --theme-form-primary-clear-background: rgba(230, 230, 230, 1);
    --theme-form-primary-clear-box-shadow: none;
    --theme-form-primary-clear-highlight-color: rgba(0, 0, 0, 1);
    --theme-form-primary-clear-highlight-background: rgba(216, 216, 216, 1);
    --theme-form-primary-clear-highlight-box-shadow: none;
    --theme-checkbox-primary-checked-mark-color: rgba(255, 255, 255, 1);
    --theme-checkbox-primary-checked-background: rgba(42, 33, 56, 1);
    --theme-checkbox-primary-disabled-checked-mark-color: rgba(240, 240, 240, 1);
    --theme-checkbox-primary-disabled-checked-background: rgba(180, 180, 180, 1);
    --theme-radio-primary-selected-mark-color: rgba(42, 33, 56, 1);
    --theme-radio-primary-selected-background: rgba(255, 255, 255, 1);
    --theme-radio-primary-disabled-selected-mark-color: rgba(180, 180, 180, 1);
    --theme-radio-primary-disabled-selected-background: rgba(240, 240, 240, 1);
    --theme-radio-button-primary-color: rgba(42, 33, 56, 1);
    --theme-radio-button-primary-background: rgba(255, 255, 255, 1);
    --theme-radio-button-primary-box-shadow: 0 0 6em rgba(0, 0, 0, 0.2);
    --theme-radio-button-primary-selected-color: rgba(40, 40, 40, 1);
    --theme-radio-button-primary-selected-background: rgba(255, 215, 0, 1);
    --theme-radio-button-primary-selected-box-shadow: 0 0 6em 4em rgba(0, 0, 0, 0.3);
    --theme-radio-button-primary-selected-outline-color: rgba(255, 255, 255, 1);
    --theme-radio-button-primary-highlight-color: rgba(20, 20, 20, 1);
    --theme-radio-button-primary-highlight-background: rgba(255, 239, 0, 1);
    --theme-radio-button-primary-highlight-box-shadow: 0 0 6em rgba(0, 0, 0, 0.2);
    --theme-radio-button-primary-highlight-selected-color: rgba(20, 20, 20, 1);
    --theme-radio-button-primary-highlight-selected-background: rgba(255, 239, 0, 1);
    --theme-radio-button-primary-highlight-selected-box-shadow: 0 0 6em 4em rgba(0, 0, 0, 0.3);
    --theme-radio-button-primary-highlight-selected-outline-color: rgba(255, 255, 255, 1);
    --theme-radio-button-primary-disabled-color: rgba(190, 190, 190, 1);
    --theme-radio-button-primary-disabled-background: rgba(240, 240, 240, 1);
    --theme-radio-button-primary-disabled-box-shadow: 0 0 6em rgba(0, 0, 0, 0.15);
    --theme-radio-button-primary-disabled-selected-color: rgba(130, 130, 130, 1);
    --theme-radio-button-primary-disabled-selected-background: rgba(210, 210, 210, 1);
    --theme-radio-button-primary-disabled-selected-box-shadow: 0 0 6em 4em rgba(0, 0, 0, 0.2);
    --theme-radio-button-primary-disabled-selected-outline-color: rgba(255, 255, 255, 1);
    --theme-select-option-color: rgba(42, 33, 56, 1);
    --theme-select-option-background: rgba(255, 255, 255, 1);
    --theme-select-option-divider-color: rgba(233, 233, 233, 1);
    --theme-select-option-highlight-color: rgba(42, 33, 56, 1);
    --theme-select-option-highlight-background: rgba(233, 233, 233, 1);
    --theme-select-option-active-color: rgba(255, 255, 255, 1);
    --theme-select-option-active-background: rgba(148, 148, 148, 1);
    --theme-select-option-active-highlight-color: rgba(255, 255, 255, 1);
    --theme-select-option-active-highlight-background: rgba(170, 170, 170, 1);
    --theme-select-culture-color: rgba(42, 33, 56, 1);
    --theme-select-culture-background: rgba(0, 0, 0, 0);
    --theme-select-culture-border-color: rgba(0, 0, 0, 0.2);
    --theme-select-culture-box-shadow: none;
    --theme-select-culture-highlight-color: rgba(42, 33, 56, 1);
    --theme-select-culture-highlight-background: rgba(0, 0, 0, 0);
    --theme-select-culture-highlight-border-color: rgba(0, 0, 0, 0.2);
    --theme-select-culture-highlight-box-shadow: 0 1em 6em rgba(0, 0, 0, 0.3);
    --theme-select-multi-primary-count-color: rgba(255, 255, 255, 1);
    --theme-select-multi-primary-count-background: rgba(190, 190, 190, 1);
    --theme-select-multi-primary-count-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    --theme-select-multi-primary-count-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
    --theme-select-multi-primary-count-plus-color: rgba(255, 255, 255, 1);
    --theme-select-multi-primary-count-plus-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    --theme-select-multi-primary-disabled-count-color: rgba(240, 240, 240, 1);
    --theme-select-multi-primary-disabled-count-background: rgba(220, 220, 220, 1);
    --theme-select-multi-primary-disabled-count-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    --theme-select-multi-primary-disabled-count-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    --theme-select-multi-primary-disabled-count-plus-color: rgba(240, 240, 240, 1);
    --theme-select-multi-primary-disabled-count-plus-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    --theme-switch-primary-background: rgba(200, 200, 200, 1);
    --theme-switch-primary-bullet-background: rgba(255, 255, 255, 1);
    --theme-switch-primary-checked-background: rgba(42, 33, 56, 1);
    --theme-switch-primary-focus-outline-color: rgba(255, 255, 255, 1);
    --theme-switch-primary-focus-outline-shadow: 0 0 2em rgb(0, 0, 0);
    --theme-switch-primary-disabled-background: rgba(220, 220, 220, 1);
    --theme-switch-primary-disabled-bullet-background: rgba(240, 240, 240, 1);
    --theme-switch-primary-disabled-checked-background: rgba(180, 180, 180, 1);
    --theme-background-light-color: rgba(210, 210, 210, 1);
    --theme-background-dark-color: rgba(180, 180, 180, 1);
    --theme-image-light-color: rgba(210, 210, 210, 1);
    --theme-image-dark-color: rgba(180, 180, 180, 1);
    --theme-image-error-color: rgba(180, 180, 180, 1);
    --theme-image-icon-color: rgba(60, 60, 60, 1);
    --theme-logo-link-color: rgba(42, 33, 56, 1);
    --theme-logo-link-background: rgba(0, 0, 0, 0);
    --theme-logo-link-box-shadow: none;
    --theme-logo-link-focus-color: rgba(42, 33, 56, 1);
    --theme-logo-link-focus-background: rgba(42, 33, 56, 0.08);
    --theme-logo-link-focus-box-shadow: 0 0.05em 0.3em rgba(0, 0, 0, 0.4);
    --theme-loader-color: rgba(42, 33, 56, 1);
    --theme-loader-background: rgba(42, 33, 56, 0.4);
    --theme-page-loader-color: rgba(235, 195, 0, 1);
    --theme-page-loader-background: rgba(0, 0, 0, 0.45);
    --theme-server-page-loader-text-color: rgba(42, 33, 56, 0.9);
    --theme-server-page-loader-color: rgba(235, 195, 0, 1);
    --theme-server-page-loader-background: rgba(0, 0, 0, 0.45);
    --theme-server-page-loader-backdrop: rgba(255, 255, 255, 1);
    --theme-modal-dialog-box-shadow: 0 0 30em 0 rgba(0, 0, 0, 0.3);
    --theme-modal-ending-box-shadow: 0 0 10em rgba(0, 0, 0, 0.1);
    --theme-modal-control-color: rgba(255, 255, 255, 1);
    --theme-modal-control-background: rgba(170, 170, 170, 1);
    --theme-modal-control-box-shadow: none;
    --theme-modal-control-highlight-color: rgba(255, 255, 255, 1);
    --theme-modal-control-highlight-background: rgba(190, 190, 190, 1);
    --theme-modal-control-highlight-box-shadow: none;
    --theme-modal-cookie-button-color: rgba(42, 33, 56, 1);
    --theme-modal-cookie-button-highlight-color: rgba(42, 33, 56, 1);
    --theme-modal-cookie-button-highlight-text-shadow: 0 0 1em rgb(42, 33, 56);
    --theme-modal-profile-avatar-background: rgba(102, 102, 102, 1);
    --theme-modal-profile-avatar-border-color: rgba(255, 255, 255, 1);
    --theme-modal-profile-avatar-box-shadow: 0 1em 8em 1em rgba(0, 0, 0, 0.7);
    --theme-notification-box-shadow: 0 3em 6em -4em rgba(0, 0, 0, 0.12), 0 6em 16em 0 rgba(0, 0, 0, 0.08), 0 9em 28em 8em rgba(0, 0, 0, 0.05);
    --theme-notification-control-color: rgba(42, 33, 56, 0.45);
    --theme-notification-control-highlight-color: rgba(42, 33, 56, 0.7);
    --theme-progress-circle-color: rgba(42, 33, 56, 1);
    --theme-progress-circle-background: rgba(42, 33, 56, 0.4);
    --theme-text-color: rgba(42, 33, 56, 1);
    --theme-text-highlight-color: rgba(122, 113, 136, 1);
    --theme-text-accent-color: rgba(42, 33, 56, 1);
    --theme-text-accent-highlight-color: rgba(122, 113, 136, 1);
    --theme-text-disabled-color: rgba(180, 180, 180, 1);
}
body.light-theme.surface-primary-collapse,
body.light-theme .surface-primary-collapse {
    --theme-surface-background: rgba(255, 255, 255, 1);
}
body.light-theme.surface-primary-box,
body.light-theme .surface-primary-box {
    --theme-surface-background: rgba(250, 250, 175, 1);
    --theme-box-background: rgba(250, 250, 175, 1);
    --theme-box-box-shadow: 0 6em 16em 0 rgba(0, 0, 0, 0.15);
}
body.light-theme.surface-primary-box-collapse,
body.light-theme .surface-primary-box-collapse {
    --theme-surface-background: rgba(255, 255, 255, 1);
}
body.light-theme.surface-primary-glass,
body.light-theme .surface-primary-glass {
    --theme-surface-background: rgba(250, 250, 175, 0.6);
    --theme-box-background: rgba(250, 250, 175, 0.6);
    --theme-box-box-shadow: 0 6em 16em 0 rgba(0, 0, 0, 0.15);
}
body.light-theme.surface-primary-glass-collapse,
body.light-theme .surface-primary-glass-collapse {
    --theme-surface-background: rgba(255, 255, 255, 1);
}
body.light-theme.surface-secondary,
body.light-theme .surface-secondary {
    --theme-surface-background: rgba(255, 255, 255, 1);
    --theme-checkbox-primary-checked-background: rgba(235, 195, 0, 1);
    --theme-switch-primary-checked-background: rgba(235, 195, 0, 1);
    --theme-loader-color: rgba(255, 215, 0, 1);
    --theme-loader-background: rgba(0, 0, 0, 0.45);
    --theme-progress-circle-color: rgba(255, 215, 0, 1);
    --theme-progress-circle-background: rgba(0, 0, 0, 0.45);
    --theme-text-accent-color: rgba(235, 195, 0, 1);
    --theme-text-accent-highlight-color: rgba(235, 219, 0, 1);
}
body.light-theme.surface-floating,
body.light-theme .surface-floating {
    --theme-surface-background: rgba(255, 255, 255, 1);
}
body.light-theme.surface-floating-collapse,
body.light-theme .surface-floating-collapse {
    --theme-surface-background: rgba(241, 241, 241, 1);
    --theme-collapse-icon-background: rgba(220, 220, 220, 1);
    --theme-collapse-background: rgba(241, 241, 241, 1);
    --theme-collapse-focus-box-shadow: 0 0 10em rgb(190, 190, 190);
    --theme-form-primary-disabled-description-color: rgba(160, 160, 160, 1);
    --theme-switch-primary-background: rgba(180, 180, 180, 1);
    --theme-switch-primary-disabled-background: rgba(200, 200, 200, 1);
}
body.light-theme.surface-floating-additional,
body.light-theme .surface-floating-additional {
    --theme-surface-background: rgba(220, 220, 220, 1);
    --theme-form-primary-disabled-description-color: rgba(140, 140, 140, 1);
    --theme-switch-primary-disabled-background: rgba(180, 180, 180, 1);
}
body.light-theme.surface-floating-additional-collapse,
body.light-theme .surface-floating-additional-collapse {
    --theme-surface-background: rgba(241, 241, 241, 1);
    --theme-collapse-icon-background: rgba(220, 220, 220, 1);
    --theme-collapse-background: rgba(241, 241, 241, 1);
    --theme-collapse-focus-box-shadow: 0 0 10em rgb(160, 160, 160);
    --theme-form-primary-disabled-description-color: rgba(160, 160, 160, 1);
    --theme-switch-primary-disabled-background: rgba(200, 200, 200, 1);
}

body.dark-theme.surface-primary,
body.dark-theme .surface-primary {
    --theme-surface-background: rgba(255, 255, 83, 1);
    --theme-status-danger-box-color: rgba(83, 0, 0, 1);
    --theme-status-danger-box-background: rgba(255, 186, 186, 1);
    --theme-status-danger-box-outline-color: rgba(255, 0, 0, 1);
    --theme-status-danger-box-highlight-color: rgba(143, 0, 0, 1);
    --theme-status-danger-box-highlight-background: rgba(255, 219, 219, 1);
    --theme-status-danger-box-highlight-outline-color: rgba(253, 118, 118, 1);
    --theme-status-danger-accent-color: rgba(255, 77, 79, 1);
    --theme-status-danger-accent-highlight-color: rgba(255, 0, 4, 1);
    --theme-status-danger-neon-color: rgba(255, 0, 0, 1);
    --theme-status-success-box-color: rgba(21, 87, 36, 1);
    --theme-status-success-box-background: rgba(212, 237, 218, 1);
    --theme-status-success-box-outline-color: rgba(82, 196, 26, 1);
    --theme-status-success-box-highlight-color: rgba(41, 107, 56, 1);
    --theme-status-success-box-highlight-background: rgba(233, 242, 235, 1);
    --theme-status-success-box-highlight-outline-color: rgba(102, 216, 46, 1);
    --theme-status-success-accent-color: rgba(82, 196, 26, 1);
    --theme-status-success-accent-highlight-color: rgba(72, 217, 0, 1);
    --theme-status-success-neon-color: rgba(0, 255, 0, 1);
    --theme-status-warning-box-color: rgba(135, 92, 5, 1);
    --theme-status-warning-box-background: rgba(247, 225, 183, 1);
    --theme-status-warning-box-outline-color: rgba(250, 173, 20, 1);
    --theme-status-warning-box-highlight-color: rgba(145, 107, 31, 1);
    --theme-status-warning-box-highlight-background: rgba(252, 239, 213, 1);
    --theme-status-warning-box-highlight-outline-color: rgba(255, 191, 0, 1);
    --theme-status-warning-accent-color: rgba(250, 173, 20, 1);
    --theme-status-warning-accent-highlight-color: rgba(255, 191, 0, 1);
    --theme-status-warning-neon-color: rgba(255, 255, 0, 1);
    --theme-status-info-box-color: rgba(12, 63, 110, 1);
    --theme-status-info-box-background: rgba(191, 224, 255, 1);
    --theme-status-info-box-outline-color: rgba(24, 144, 255, 1);
    --theme-status-info-box-highlight-color: rgba(15, 77, 135, 1);
    --theme-status-info-box-highlight-background: rgba(217, 234, 250, 1);
    --theme-status-info-box-highlight-outline-color: rgba(24, 170, 255, 1);
    --theme-status-info-accent-color: rgba(24, 144, 255, 1);
    --theme-status-info-accent-highlight-color: rgba(24, 170, 255, 1);
    --theme-status-info-neon-color: rgba(0, 251, 255, 1);
    --theme-body-background: rgba(42, 33, 56, 1);
    --theme-body-scroll-theme: OS_THEME_DARK;
    --theme-body-selection-color: rgba(42, 33, 56, 1);
    --theme-body-selection-background: rgba(255, 239, 0, 1);
    --theme-body-backdrop: rgba(0, 0, 0, 0.5);
    --theme-qr-code-background: rgba(255, 255, 255, 1);
    --theme-nav-menu-box-shadow: 0 0 20em rgba(0, 0, 0, 0.8);
    --theme-nav-menu-mobile-button-color: rgba(236, 240, 241, 1);
    --theme-nav-menu-mobile-scroll-theme: OS_THEME_LIGHT;
    --theme-nav-menu-mobile-button-highlight-color: rgba(255, 255, 255, 1);
    --theme-nav-menu-mobile-button-focus-background: rgba(236, 240, 241, 0.08);
    --theme-nav-menu-mobile-button-focus-box-shadow: 0 1em 6em rgba(0, 0, 0, 0.4);
    --theme-game-state-color: rgba(255, 255, 255, 1);
    --theme-game-state-text-shadow: 0.09em 0.045em 0.24em rgba(0, 0, 0, 0.8);
    --theme-game-screen-canvas-background: rgba(0, 0, 0, 1);
    --theme-game-screen-canvas-box-shadow: 0 0.0025em 0.025em 0.01em rgba(0, 0, 0, 0.8);
    --theme-game-screen-control-color: rgba(236, 240, 241, 1);
    --theme-game-screen-control-background: rgba(42, 33, 56, 1);
    --theme-game-screen-control-box-shadow: 0 0.04em 0.16em 0.02em rgb(0, 0, 0);
    --theme-game-screen-control-pressed-color: rgba(236, 240, 241, 1);
    --theme-game-screen-control-pressed-background: rgba(42, 33, 56, 0.7);
    --theme-game-screen-control-pressed-box-shadow: 0 0.04em 0.16em 0.02em rgba(0, 0, 0, 0.7);
    --theme-lobby-box-shadow: 0 0.006em 0.018em 0 rgba(0, 0, 0, 0.2);
    --theme-lobby-empty-color: rgba(0, 0, 0, 0.4);
    --theme-lobby-line-background: rgba(255, 215, 0, 0.7);
    --theme-lobby-presence-box-shadow: 0.02em 0.02em 0.05em rgba(0, 0, 0, 0.7);
    --theme-lobby-dash-color: rgba(0, 0, 0, 0.14);
    --theme-manual-color: rgba(255, 255, 255, 1);
    --theme-manual-text-shadow: 0.5em 0.1em 0.53em rgba(0, 0, 0, 0.4);
    --theme-manual-background: rgba(42, 144, 244, 1);
    --theme-manual-background-transition: rgba(73, 175, 255, 1);
    --theme-manual-box-shadow: 0 12em 26em 5em rgba(0, 0, 0, 0.4);
    --theme-button-primary-color: rgba(236, 240, 241, 1);
    --theme-button-primary-background: rgba(42, 33, 56, 1);
    --theme-button-primary-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.55);
    --theme-button-primary-highlight-color: rgba(236, 240, 241, 1);
    --theme-button-primary-highlight-background: rgba(72, 63, 86, 1);
    --theme-button-primary-highlight-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.5);
    --theme-button-secondary-color: rgba(42, 33, 56, 1);
    --theme-button-secondary-background: rgba(255, 215, 0, 1);
    --theme-button-secondary-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.35);
    --theme-button-secondary-highlight-color: rgba(42, 33, 56, 1);
    --theme-button-secondary-highlight-background: rgba(255, 239, 0, 1);
    --theme-button-secondary-highlight-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.3);
    --theme-button-tertiary-color: rgba(42, 33, 56, 1);
    --theme-button-tertiary-background: rgba(230, 230, 230, 1);
    --theme-button-tertiary-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.35);
    --theme-button-tertiary-highlight-color: rgba(42, 33, 56, 1);
    --theme-button-tertiary-highlight-background: rgba(236, 236, 236, 1);
    --theme-button-tertiary-highlight-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.3);
    --theme-button-quaternary-color: rgba(236, 240, 241, 1);
    --theme-button-quaternary-background: rgba(42, 33, 56, 1);
    --theme-button-quaternary-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.55);
    --theme-button-quaternary-highlight-color: rgba(236, 240, 241, 1);
    --theme-button-quaternary-highlight-background: rgba(72, 63, 86, 1);
    --theme-button-quaternary-highlight-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.5);
    --theme-button-danger-color: rgba(255, 255, 255, 1);
    --theme-button-danger-background: rgba(217, 26, 29, 1);
    --theme-button-danger-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.55);
    --theme-button-danger-highlight-color: rgba(255, 255, 255, 1);
    --theme-button-danger-highlight-background: rgba(237, 43, 46, 1);
    --theme-button-danger-highlight-box-shadow: 0 2em 4em rgba(0, 0, 0, 0.5);
    --theme-button-disabled-color: rgba(190, 190, 190, 1);
    --theme-button-disabled-background: rgba(240, 240, 240, 1);
    --theme-button-disabled-box-shadow: 0 2em 2em rgba(0, 0, 0, 0.2);
    --theme-menu-button-color: rgba(236, 240, 241, 1);
    --theme-menu-button-background: rgba(0, 0, 0, 0);
    --theme-menu-button-box-shadow: none;
    --theme-menu-button-highlight-color: rgba(236, 240, 241, 1);
    --theme-menu-button-highlight-background: rgba(236, 240, 241, 0.04);
    --theme-menu-button-highlight-box-shadow: 0em 2em 12em rgba(0, 0, 0, 0.6);
    --theme-menu-button-active-color: rgba(236, 240, 241, 1);
    --theme-menu-button-active-background: rgba(236, 240, 241, 0.15);
    --theme-menu-button-active-box-shadow: 0em 2em 12em rgba(0, 0, 0, 0.6);
    --theme-menu-button-active-highlight-color: rgba(236, 240, 241, 1);
    --theme-menu-button-active-highlight-background: rgba(236, 240, 241, 0.25);
    --theme-menu-button-active-highlight-box-shadow: 0em 2em 12em rgba(0, 0, 0, 1);
    --theme-menu-button-mobile-color: rgba(236, 240, 241, 1);
    --theme-menu-button-mobile-background: rgba(0, 0, 0, 0);
    --theme-menu-button-mobile-box-shadow: none;
    --theme-menu-button-mobile-hover-color: rgba(255, 255, 255, 1);
    --theme-menu-button-mobile-hover-background: rgba(0, 0, 0, 0);
    --theme-menu-button-mobile-hover-box-shadow: none;
    --theme-menu-button-mobile-focus-color: rgba(236, 240, 241, 1);
    --theme-menu-button-mobile-focus-background: rgba(236, 240, 241, 0.04);
    --theme-menu-button-mobile-focus-box-shadow: 0em 2em 12em rgba(0, 0, 0, 0.6);
    --theme-menu-button-mobile-active-color: rgba(236, 240, 241, 1);
    --theme-menu-button-mobile-active-background: rgba(236, 240, 241, 0.15);
    --theme-menu-button-mobile-active-box-shadow: 0em 2em 12em rgba(0, 0, 0, 0.6);
    --theme-menu-button-mobile-active-hover-color: rgba(236, 240, 241, 1);
    --theme-menu-button-mobile-active-hover-background: rgba(236, 240, 241, 0.15);
    --theme-menu-button-mobile-active-hover-box-shadow: 0em 2em 12em rgba(0, 0, 0, 0.6);
    --theme-menu-button-mobile-active-focus-color: rgba(236, 240, 241, 1);
    --theme-menu-button-mobile-active-focus-background: rgba(236, 240, 241, 0.25);
    --theme-menu-button-mobile-active-focus-box-shadow: 0em 2em 12em rgba(0, 0, 0, 1);
    --theme-collapse-text-color: rgba(42, 33, 56, 1);
    --theme-collapse-icon-color: rgba(42, 33, 56, 1);
    --theme-collapse-icon-background: rgba(235, 235, 235, 1);
    --theme-collapse-background: rgba(255, 255, 255, 1);
    --theme-collapse-focus-box-shadow: 0 0 10em rgb(204, 204, 204);
    --theme-dropdown-options-background: rgba(255, 255, 255, 1);
    --theme-dropdown-options-divider-color: rgba(0, 0, 0, 0.1);
    --theme-dropdown-options-box-shadow: 0 0 16em rgba(0, 0, 0, 0.3);
    --theme-dropdown-mark-box-shadow: 0 0 8em 2em rgba(0, 0, 0, 0.2);
    --theme-dropdown-options-highlight-background: rgba(241, 241, 241, 1);
    --theme-dropdown-admin-background: rgba(42, 33, 56, 1);
    --theme-dropdown-admin-border-color: rgba(255, 255, 255, 0.9);
    --theme-dropdown-admin-box-shadow: 0 0 2em 2em rgb(42, 33, 56);
    --theme-dropdown-admin-highlight-border-color: rgba(255, 255, 255, 1);
    --theme-dropdown-admin-highlight-box-shadow: 0 0 2em 2em rgba(255, 255, 255, 0.8);
    --theme-dropdown-user-background: rgba(42, 33, 56, 1);
    --theme-dropdown-user-border-color: rgba(255, 255, 255, 0.9);
    --theme-dropdown-user-box-shadow: 0 0 2em 2em rgb(42, 33, 56);
    --theme-dropdown-user-highlight-border-color: rgba(255, 255, 255, 1);
    --theme-dropdown-user-highlight-box-shadow: 0 0 2em 2em rgba(255, 255, 255, 0.8);
    --theme-form-primary-color: rgba(42, 33, 56, 1);
    --theme-form-primary-placeholder-color: rgba(182, 178, 189, 1);
    --theme-form-primary-icon-color: rgba(148, 148, 148, 1);
    --theme-form-primary-description-color: rgba(42, 33, 56, 1);
    --theme-form-primary-background: rgba(255, 255, 255, 1);
    --theme-form-primary-border-color: rgba(204, 204, 204, 1);
    --theme-form-primary-text-shadow: none;
    --theme-form-primary-box-shadow: none;
    --theme-form-primary-highlight-color: rgba(42, 33, 56, 1);
    --theme-form-primary-highlight-placeholder-color: rgba(182, 178, 189, 1);
    --theme-form-primary-highlight-icon-color: rgba(148, 148, 148, 1);
    --theme-form-primary-highlight-description-color: rgba(42, 33, 56, 1);
    --theme-form-primary-highlight-background: rgba(255, 255, 255, 1);
    --theme-form-primary-highlight-border-color: rgba(204, 204, 204, 1);
    --theme-form-primary-highlight-text-shadow: none;
    --theme-form-primary-highlight-box-shadow: 0 0 5em rgba(0, 0, 0, 0.4);
    --theme-form-primary-disabled-color: rgba(190, 190, 190, 1);
    --theme-form-primary-disabled-placeholder-color: rgba(190, 190, 190, 1);
    --theme-form-primary-disabled-icon-color: rgba(190, 190, 190, 1);
    --theme-form-primary-disabled-description-color: rgba(180, 180, 180, 1);
    --theme-form-primary-disabled-background: rgba(240, 240, 240, 1);
    --theme-form-primary-disabled-border-color: rgba(214, 214, 214, 1);
    --theme-form-primary-disabled-text-shadow: none;
    --theme-form-primary-disabled-box-shadow: none;
    --theme-form-primary-icon-highlight-color: rgba(70, 70, 70, 1);
    --theme-form-primary-clear-color: rgba(42, 33, 56, 1);
    --theme-form-primary-clear-background: rgba(230, 230, 230, 1);
    --theme-form-primary-clear-box-shadow: none;
    --theme-form-primary-clear-highlight-color: rgba(0, 0, 0, 1);
    --theme-form-primary-clear-highlight-background: rgba(216, 216, 216, 1);
    --theme-form-primary-clear-highlight-box-shadow: none;
    --theme-checkbox-primary-checked-mark-color: rgba(255, 255, 255, 1);
    --theme-checkbox-primary-checked-background: rgba(42, 33, 56, 1);
    --theme-checkbox-primary-disabled-checked-mark-color: rgba(240, 240, 240, 1);
    --theme-checkbox-primary-disabled-checked-background: rgba(180, 180, 180, 1);
    --theme-radio-primary-selected-mark-color: rgba(42, 33, 56, 1);
    --theme-radio-primary-selected-background: rgba(255, 255, 255, 1);
    --theme-radio-primary-disabled-selected-mark-color: rgba(180, 180, 180, 1);
    --theme-radio-primary-disabled-selected-background: rgba(240, 240, 240, 1);
    --theme-radio-button-primary-color: rgba(200, 200, 200, 1);
    --theme-radio-button-primary-background: rgba(40, 40, 40, 1);
    --theme-radio-button-primary-box-shadow: 0 0 6em rgba(0, 0, 0, 0.2);
    --theme-radio-button-primary-selected-color: rgba(40, 40, 40, 1);
    --theme-radio-button-primary-selected-background: rgba(255, 215, 0, 1);
    --theme-radio-button-primary-selected-box-shadow: 0 0 6em 4em rgba(0, 0, 0, 0.3);
    --theme-radio-button-primary-selected-outline-color: rgba(255, 255, 255, 1);
    --theme-radio-button-primary-highlight-color: rgba(255, 255, 255, 1);
    --theme-radio-button-primary-highlight-background: rgba(70, 70, 70, 1);
    --theme-radio-button-primary-highlight-box-shadow: 0 0 6em rgba(0, 0, 0, 0.2);
    --theme-radio-button-primary-highlight-selected-color: rgba(20, 20, 20, 1);
    --theme-radio-button-primary-highlight-selected-background: rgba(255, 239, 0, 1);
    --theme-radio-button-primary-highlight-selected-box-shadow: 0 0 6em 2em rgba(0, 0, 0, 0.3);
    --theme-radio-button-primary-highlight-selected-outline-color: rgba(255, 255, 255, 1);
    --theme-radio-button-primary-disabled-color: rgba(220, 220, 220, 1);
    --theme-radio-button-primary-disabled-background: rgba(130, 130, 130, 1);
    --theme-radio-button-primary-disabled-box-shadow: 0 0 6em rgba(0, 0, 0, 0.2);
    --theme-radio-button-primary-disabled-selected-color: rgba(130, 130, 130, 1);
    --theme-radio-button-primary-disabled-selected-background: rgba(220, 220, 220, 1);
    --theme-radio-button-primary-disabled-selected-box-shadow: 0 0 6em 4em rgba(0, 0, 0, 0.3);
    --theme-radio-button-primary-disabled-selected-outline-color: rgba(255, 255, 255, 1);
    --theme-select-option-color: rgba(42, 33, 56, 1);
    --theme-select-option-background: rgba(255, 255, 255, 1);
    --theme-select-option-divider-color: rgba(233, 233, 233, 1);
    --theme-select-option-highlight-color: rgba(42, 33, 56, 1);
    --theme-select-option-highlight-background: rgba(233, 233, 233, 1);
    --theme-select-option-active-color: rgba(255, 255, 255, 1);
    --theme-select-option-active-background: rgba(148, 148, 148, 1);
    --theme-select-option-active-highlight-color: rgba(255, 255, 255, 1);
    --theme-select-option-active-highlight-background: rgba(170, 170, 170, 1);
    --theme-select-culture-color: rgba(236, 240, 241, 1);
    --theme-select-culture-background: rgba(255, 255, 255, 0.08);
    --theme-select-culture-border-color: rgba(0, 0, 0, 0);
    --theme-select-culture-box-shadow: 0 2em 6em rgba(0, 0, 0, 0.4);
    --theme-select-culture-highlight-color: rgba(236, 240, 241, 1);
    --theme-select-culture-highlight-background: rgba(255, 255, 255, 0.18);
    --theme-select-culture-highlight-border-color: rgba(0, 0, 0, 0);
    --theme-select-culture-highlight-box-shadow: 0 2em 10em rgba(0, 0, 0, 0.8);
    --theme-select-multi-primary-count-color: rgba(255, 255, 255, 1);
    --theme-select-multi-primary-count-background: rgba(190, 190, 190, 1);
    --theme-select-multi-primary-count-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    --theme-select-multi-primary-count-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
    --theme-select-multi-primary-count-plus-color: rgba(255, 255, 255, 1);
    --theme-select-multi-primary-count-plus-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    --theme-select-multi-primary-disabled-count-color: rgba(240, 240, 240, 1);
    --theme-select-multi-primary-disabled-count-background: rgba(220, 220, 220, 1);
    --theme-select-multi-primary-disabled-count-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    --theme-select-multi-primary-disabled-count-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    --theme-select-multi-primary-disabled-count-plus-color: rgba(240, 240, 240, 1);
    --theme-select-multi-primary-disabled-count-plus-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    --theme-switch-primary-background: rgba(200, 200, 200, 1);
    --theme-switch-primary-bullet-background: rgba(255, 255, 255, 1);
    --theme-switch-primary-checked-background: rgba(42, 33, 56, 1);
    --theme-switch-primary-focus-outline-color: rgba(255, 255, 255, 1);
    --theme-switch-primary-focus-outline-shadow: 0 0 2em rgb(0, 0, 0);
    --theme-switch-primary-disabled-background: rgba(220, 220, 220, 1);
    --theme-switch-primary-disabled-bullet-background: rgba(240, 240, 240, 1);
    --theme-switch-primary-disabled-checked-background: rgba(180, 180, 180, 1);
    --theme-background-light-color: rgba(210, 210, 210, 1);
    --theme-background-dark-color: rgba(180, 180, 180, 1);
    --theme-image-light-color: rgba(210, 210, 210, 1);
    --theme-image-dark-color: rgba(180, 180, 180, 1);
    --theme-image-error-color: rgba(180, 180, 180, 1);
    --theme-image-icon-color: rgba(60, 60, 60, 1);
    --theme-logo-link-color: rgba(42, 33, 56, 1);
    --theme-logo-link-background: rgba(0, 0, 0, 0);
    --theme-logo-link-box-shadow: none;
    --theme-logo-link-focus-color: rgba(42, 33, 56, 1);
    --theme-logo-link-focus-background: rgba(42, 33, 56, 0.08);
    --theme-logo-link-focus-box-shadow: 0 0.05em 0.3em rgba(0, 0, 0, 0.4);
    --theme-loader-color: rgba(42, 33, 56, 1);
    --theme-loader-background: rgba(42, 33, 56, 0.4);
    --theme-page-loader-color: rgba(255, 215, 0, 1);
    --theme-page-loader-background: rgba(0, 0, 0, 0.45);
    --theme-server-page-loader-text-color: rgba(236, 240, 241, 1);
    --theme-server-page-loader-color: rgba(255, 215, 0, 1);
    --theme-server-page-loader-background: rgba(0, 0, 0, 0.45);
    --theme-server-page-loader-backdrop: rgba(42, 33, 56, 1);
    --theme-modal-dialog-box-shadow: 0 0 30em 0 rgba(0, 0, 0, 0.5);
    --theme-modal-ending-box-shadow: 0 0 10em rgba(0, 0, 0, 0.1);
    --theme-modal-control-color: rgba(255, 255, 255, 1);
    --theme-modal-control-background: rgba(155, 155, 155, 1);
    --theme-modal-control-box-shadow: none;
    --theme-modal-control-highlight-color: rgba(255, 255, 255, 1);
    --theme-modal-control-highlight-background: rgba(175, 175, 175, 1);
    --theme-modal-control-highlight-box-shadow: none;
    --theme-modal-cookie-button-color: rgba(42, 33, 56, 1);
    --theme-modal-cookie-button-highlight-color: rgba(42, 33, 56, 1);
    --theme-modal-cookie-button-highlight-text-shadow: 0 0 1em rgb(42, 33, 56);
    --theme-modal-profile-avatar-background: rgba(42, 33, 56, 1);
    --theme-modal-profile-avatar-border-color: rgba(255, 255, 255, 1);
    --theme-modal-profile-avatar-box-shadow: 0 1em 8em 1em rgba(0, 0, 0, 0.7);
    --theme-notification-box-shadow: 0 3em 6em -4em rgba(0, 0, 0, 0.12), 0 6em 16em 0 rgba(0, 0, 0, 0.08), 0 9em 28em 8em rgba(0, 0, 0, 0.05);
    --theme-notification-control-color: rgba(42, 33, 56, 0.45);
    --theme-notification-control-highlight-color: rgba(42, 33, 56, 0.7);
    --theme-progress-circle-color: rgba(42, 33, 56, 1);
    --theme-progress-circle-background: rgba(42, 33, 56, 0.4);
    --theme-text-color: rgba(42, 33, 56, 1);
    --theme-text-highlight-color: rgba(122, 113, 136, 1);
    --theme-text-accent-color: rgba(42, 33, 56, 1);
    --theme-text-accent-highlight-color: rgba(122, 113, 136, 1);
    --theme-text-disabled-color: rgba(180, 180, 180, 1);
}
body.dark-theme.surface-primary-collapse,
body.dark-theme .surface-primary-collapse {
    --theme-surface-background: rgba(255, 255, 255, 1);
}
body.dark-theme.surface-primary-box,
body.dark-theme .surface-primary-box {
    --theme-surface-background: rgba(250, 250, 175, 1);
    --theme-box-background: rgba(250, 250, 175, 1);
    --theme-box-box-shadow: 0 6em 16em 0 rgba(0, 0, 0, 0.2);
}
body.dark-theme.surface-primary-box-collapse,
body.dark-theme .surface-primary-box-collapse {
    --theme-surface-background: rgba(255, 255, 255, 1);
}
body.dark-theme.surface-primary-glass,
body.dark-theme .surface-primary-glass {
    --theme-surface-background: rgba(250, 250, 175, 0.6);
    --theme-box-background: rgba(250, 250, 175, 0.6);
    --theme-box-box-shadow: 0 6em 16em 0 rgba(0, 0, 0, 0.2);
}
body.dark-theme.surface-primary-glass-collapse,
body.dark-theme .surface-primary-glass-collapse {
    --theme-surface-background: rgba(255, 255, 255, 1);
}
body.dark-theme.surface-secondary,
body.dark-theme .surface-secondary {
    --theme-surface-background: rgba(42, 33, 56, 1);
    --theme-button-disabled-color: rgba(93, 89, 100, 1);
    --theme-button-disabled-background: rgba(140, 140, 140, 1);
    --theme-form-primary-description-color: rgba(236, 240, 241, 1);
    --theme-form-primary-highlight-description-color: rgba(236, 240, 241, 1);
    --theme-form-primary-highlight-box-shadow: 0 0 5em rgb(255, 255, 255);
    --theme-form-primary-disabled-color: rgba(93, 89, 100, 1);
    --theme-form-primary-disabled-placeholder-color: rgba(93, 89, 100, 1);
    --theme-form-primary-disabled-icon-color: rgba(93, 89, 100, 1);
    --theme-form-primary-disabled-background: rgba(140, 140, 140, 1);
    --theme-form-primary-disabled-border-color: rgba(114, 114, 114, 1);
    --theme-checkbox-primary-checked-background: rgba(255, 215, 0, 1);
    --theme-radio-primary-disabled-selected-mark-color: rgba(80, 80, 80, 1);
    --theme-radio-primary-disabled-selected-background: rgba(140, 140, 140, 1);
    --theme-radio-button-primary-background: rgba(0, 0, 0, 1);
    --theme-radio-button-primary-box-shadow: 0 0 6em 4em rgba(120, 120, 120, 0.08);
    --theme-radio-button-primary-selected-box-shadow: 0 0 6em 4em rgba(120, 120, 120, 0.08);
    --theme-radio-button-primary-highlight-box-shadow: 0 0 6em 4em rgba(120, 120, 120, 0.08);
    --theme-radio-button-primary-highlight-selected-box-shadow: 0 0 6em 4em rgba(120, 120, 120, 0.08);
    --theme-select-multi-primary-disabled-count-color: rgba(140, 140, 140, 1);
    --theme-select-multi-primary-disabled-count-background: rgba(113, 109, 120, 1);
    --theme-select-multi-primary-disabled-count-plus-color: rgba(140, 140, 140, 1);
    --theme-switch-primary-background: rgba(85, 79, 97, 1);
    --theme-switch-primary-checked-background: rgba(255, 215, 0, 1);
    --theme-switch-primary-disabled-background: rgba(140, 140, 140, 1);
    --theme-logo-link-color: rgba(236, 240, 241, 1);
    --theme-logo-link-focus-color: rgba(236, 240, 241, 1);
    --theme-logo-link-focus-background: rgba(236, 240, 241, 0.08);
    --theme-loader-color: rgba(255, 215, 0, 1);
    --theme-loader-background: rgba(0, 0, 0, 0.45);
    --theme-modal-cookie-button-color: rgba(236, 240, 241, 1);
    --theme-modal-cookie-button-highlight-color: rgba(255, 255, 255, 1);
    --theme-modal-cookie-button-highlight-text-shadow: 0 0 1em rgb(255, 255, 255);
    --theme-progress-circle-color: rgba(255, 215, 0, 1);
    --theme-progress-circle-background: rgba(0, 0, 0, 0.45);
    --theme-text-color: rgba(236, 240, 241, 1);
    --theme-text-highlight-color: rgba(255, 255, 255, 1);
    --theme-text-accent-color: rgba(255, 215, 0, 1);
    --theme-text-accent-highlight-color: rgba(255, 239, 0, 1);
    --theme-text-disabled-color: rgba(120, 120, 120, 1);
}
body.dark-theme.surface-floating,
body.dark-theme .surface-floating {
    --theme-surface-background: rgba(255, 255, 255, 1);
}
body.dark-theme.surface-floating-collapse,
body.dark-theme .surface-floating-collapse {
    --theme-surface-background: rgba(241, 241, 241, 1);
    --theme-collapse-icon-background: rgba(220, 220, 220, 1);
    --theme-collapse-background: rgba(241, 241, 241, 1);
    --theme-collapse-focus-box-shadow: 0 0 10em rgb(190, 190, 190);
    --theme-form-primary-disabled-description-color: rgba(160, 160, 160, 1);
    --theme-switch-primary-background: rgba(180, 180, 180, 1);
    --theme-switch-primary-disabled-background: rgba(200, 200, 200, 1);
}
body.dark-theme.surface-floating-additional,
body.dark-theme .surface-floating-additional {
    --theme-surface-background: rgba(220, 220, 220, 1);
    --theme-form-primary-disabled-description-color: rgba(130, 130, 130, 1);
    --theme-switch-primary-background: rgba(180, 180, 180, 1);
    --theme-switch-primary-disabled-background: rgba(190, 190, 190, 1);
}
body.dark-theme.surface-floating-additional-collapse,
body.dark-theme .surface-floating-additional-collapse {
    --theme-surface-background: rgba(241, 241, 241, 1);
    --theme-collapse-icon-background: rgba(220, 220, 220, 1);
    --theme-collapse-background: rgba(241, 241, 241, 1);
    --theme-collapse-focus-box-shadow: 0 0 10em rgb(160, 160, 160);
    --theme-form-primary-disabled-description-color: rgba(160, 160, 160, 1);
    --theme-switch-primary-disabled-background: rgba(200, 200, 200, 1);
}
