/* Variables --------------------------------------------------------------------------------------------------------------------------- */
.form-error {
    /* Size: */
    --form-error-width: auto;
    --form-error-height: auto;
    /* Message: */
    --form-error-top: -10px;
    --form-error-margin: 10px;
    --form-error-outline-radius: 6px;
    --form-error-radius: 6px;
    --form-error-padding-vertical: 2px;
    --form-error-padding-horizontal: 8px;
    --form-error-border-size: 2px;
    --form-error-align: flex-start;
    /* Font: */
    --form-error-font-size: 12px;
    --form-error-font-weight: 400;
    --form-error-line-height: 1.5;
    /* Transition: */
    --form-error-transition-duration: calc(var(--transition-fast) * 1ms);
    --form-error-transition-timing: ease;
    /* Focus: */
    --form-error-focus-scale: 1.04;
    /* Cursor: */
    --form-error-cursor: default;
    --form-error-message-cursor: pointer;
    /* Z-Index: */
    --form-error-z-index: var(--z-index-form-error);
    /* Colors: */
    --form-error-color: rgb(var(--color-danger));
    --form-error-color-transition: rgb(var(--color-danger-highlight));
    --form-error-background: rgb(var(--color-danger-surface));
    --form-error-background-transition: rgb(var(--color-danger-surface-highlight));
    --form-error-outline: rgb(var(--color-danger-accent));
    --form-error-outline-transition: rgb(var(--color-danger-accent-highlight));
    /* Disable mark: */
    --form-disabled-cursor-width: 100%;
    --form-disabled-cursor-height: 100%;
    --form-disabled-cursor-margin: 0;
    --form-disabled-cursor-padding: 0;
    --form-disabled-cursor-transform: none;
    --form-disabled-cursor-radius: var(--form-error-outline-radius);
    --form-disabled-cursor-cursor: not-allowed;
    --form-disabled-cursor-z-index: var(--form-error-z-index);
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.form-error {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: var(--form-error-align);
    width: var(--form-error-width);
    height: var(--form-error-height);
    max-width: 100%;
    border-radius: var(--form-error-outline-radius);
    pointer-events: all;
    cursor: var(--form-error-cursor);
    z-index: auto;
}

.form-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: var(--form-error-outline-radius);
}

.form-disabled-cursor {
    position: absolute;
    display: none;
    /* Position: */
    width: var(--form-disabled-cursor-width);
    height: var(--form-disabled-cursor-height);
    margin: var(--form-disabled-cursor-margin);
    padding: var(--form-disabled-cursor-padding);
    transform: var(--form-disabled-cursor-transform);
    border-radius: var(--form-disabled-cursor-radius);
    /* Behavior: */
    cursor: var(--form-disabled-cursor-cursor);
    z-index: var(--form-disabled-cursor-z-index);
}

.form-error-outline {
    position: absolute;
    display: inline-flex;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: 0;
    pointer-events: none;
    border-radius: var(--form-error-outline-radius);
    border: var(--form-error-border-size) solid transparent;
    transition: border-color var(--form-error-transition-duration) var(--form-error-transition-timing);
}

.form-error-message {
    position: absolute;
    background-color: var(--form-error-background);
    border: var(--form-error-border-size) solid var(--form-error-outline);
    color: var(--form-error-color);
    max-width: calc(100% - 2 * var(--form-error-margin));
    border-radius: var(--form-error-radius);
    padding: var(--form-error-padding-vertical) var(--form-error-padding-horizontal);
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: var(--form-error-margin);
    margin-right: var(--form-error-margin);
    top: 100%;
    margin-top: var(--form-error-top);
    font-size: var(--form-error-font-size);
    font-weight: var(--form-error-font-weight);
    line-height: var(--form-error-line-height);
    transition-property: opacity, background-color, border-color, transform;
    transition-duration: var(--form-error-transition-duration);
    transition-timing-function: var(--form-error-transition-timing);
    z-index: var(--form-error-z-index);
    opacity: 0;
    pointer-events: none;
}

.form-error:not(.error-type-passive) .form-error-message {
    cursor: var(--form-error-message-cursor);
}

/* Active ------------------------------------------------------------------------------------------------------------------------------ */
.form-error.error .form-error-outline {
    border-color: var(--form-error-outline);
}
.form-error.error:hover:not(.error-type-passive) .form-error-outline,
.form-error.error:has(:focus-visible):not(.error-type-passive) .form-error-outline {
    border-color: var(--form-error-outline-transition);
}

.form-error.error .form-error-message {
    opacity: 1;
    pointer-events: all;
}

.form-error.error:hover:not(.error-type-passive) .form-error-message,
.form-error.error:has(:focus-visible):not(.error-type-passive) .form-error-message {
    color: var(--form-error-color-transition);
    background-color: var(--form-error-background-transition);
    border-color: var(--form-error-outline-transition);
}
.form-error.error:has(:focus-visible) .form-error-message:focus-visible {
    transform: scale(var(--form-error-focus-scale));
}
.form-error.error:has(:focus-visible).error-type-autohide .form-error-message {
    opacity: 0;
    pointer-events: none;
}
.form-error.error:has(:focus-visible).error-type-autohide .form-error-message:focus-visible {
    opacity: 1;
}
.form-error.error:has(:focus-visible).error-type-autohide .form-error-message:focus {
    pointer-events: all;
}

/* Disabled ---------------------------------------------------------------------------------------------------------------------------- */
.form-error.disabled ::deep .form-error-outline,
.form-error.disabled ::deep .form-error-message {
    display: none !important;
}
.form-error.disabled ::deep .form-disabled-cursor {
    display: flex;
}
.form-error-disabled-transition ::deep .form-content * {
    transition: none !important;
    animation: none !important;
}
