@namespace Jumpeno.Client.Pages

@inherits Page
@attribute [Route(DemoPage.ROUTE_EN)]
@attribute [Route(DemoPage.ROUTE_SK)]

<div class="demo-page">
    <DocTitle Value="Demo" />
    @if (VMPassword.Value != PASSWORD) {
        <div class="demo-form">
            <Heading1 Class="demo-heading">Admin</Heading1>
            <Input ViewModel="VMPassword" Size="INPUT_SIZE.M" Align="INPUT_ALIGN.CENTER" HideLabel />
            <Button Size="BUTTON_SIZE.M" OnClick="Login">
                <Text>Log in</Text>
            </Button>
        </div>
    } else {
        <div>
            <Button Size="BUTTON_SIZE.M" OnClick="Start">
                <Icon><AntIcon Type="play-circle" Theme="outline" /></Icon>
                <Text>Start</Text>
            </Button>
            <Button Variant="BUTTON_VARIANT.SECONDARY" Size="BUTTON_SIZE.M" OnClick="Reset">
                <Icon><AntIcon Type="login" Theme="outline" /></Icon>
                <Text>Reset</Text>
            </Button>
        </div>
        <div>
            <Button Size="BUTTON_SIZE.M" OnClick="Pause">
                <Icon><AntIcon Type="pause" Theme="outline" /></Icon>
                <Text>Pause</Text>
            </Button>
            <Button Size="BUTTON_SIZE.M" OnClick="Resume">
                <Icon><AntIcon Type="caret-right" Theme="outline" /></Icon>
                <Text>Resume</Text>
            </Button>
        </div>
    }
</div>
