@namespace Jumpeno.Client.Components

@inherits BasicComponent

<div id="@ID" class="@ComputeClass()" style="@Style" data-overlayscrollbars-initialize>
    <div class="@CLASS_CONTENT" data-overlayscrollbars-initialize>
        @ChildContent
    </div>
</div>
