@namespace Jumpeno.Client.Components

<div id="@ID" class="@CSSClass()" data-overlayscrollbars-initialize>
    <div class="@CSSContentClass()" data-overlayscrollbars-initialize>
        @ChildContent
    </div>
</div>
