@namespace Jumpeno.Client.Components

@inherits BasicComponent

<div id="@ID" class="@CSSClass()" style="@Style" data-overlayscrollbars-initialize>
    <div class="@CONTENT_CLASS" data-overlayscrollbars-initialize>
        @ChildContent
    </div>
</div>
