/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.text-span {
    /* Display: */
    display: inline;
    /* Size: */
    width: auto;
}

/* Variant [primary] ------------------------------------------------------------------------------------------------------------------- */
::deep.text-span.variant-primary {
    /* Style: */
    color: var(--theme-text-color);
    /* Content: */
    font-weight: 400;
}
