::deep.avatar-tab .avatar-image {
    /* Display: */
    display: flex;
    flex-direction: column;
}

::deep.avatar-tab .avatar-image {
    /* Position: */
    --image-fit: none;
    --image-position: 0 0;
    /* Size: */
    --image-width: 66px;
    --image-height: 78px;
    /* Style */
    cursor: pointer;
}

::deep.avatar-tab .avatar-image.selected {
    /* Transform: */
    transform: translateY(-80px);
}

::deep.avatar-tab .avatar-option {
    /* Size */
    padding: 4px 10px;
    max-width: fit-content;
    width: fit-content;
    /* Style */
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 8px rgba(3, 3, 3, 0.6);
    cursor: pointer;
    /* Animations */
    transition-property: transform, box-shadow;
    transition-duration: calc(var(--theme-transition-fast) * 1ms);
    transition-timing-function: ease;
    /* Base: */
    font-size: 1px;
}

::deep.avatar-tab .avatar-option:hover {
    /* Style */
    transform: translateY(-2px);
    box-shadow: 0 2em 16em rgba(3, 3, 3, 0.6);
}

::deep.avatar-tab .avatar-show {
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 30px;
    /* Size: */
    width: 100%;
    max-width: 530px;
    margin: 1em auto;
}

::deep.avatar-tab .avatar-show .avatar-image {
    /* Size */
    --image-width: 66px;
    --image-height: 78px;
    /* Content */
    --image-fit: none;
    --image-position: 0 0;
}

::deep.avatar-tab .avatar-grid {
    /* Size */
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 20px;
}

::deep.avatar-tab .selected-avatar,
::deep.avatar-tab .current-avatar {
    /* Size: */
    padding: 4px 13px;
    width: fit-content;
    /* Style: */
    box-shadow: var(--theme-modal-profile-avatar-skin-box-shadow);
    border: 2px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}

::deep.avatar-tab .selected-avatar-wrap,
::deep.avatar-tab .current-avatar-wrap {
    /* Display: */
    order: 1;
}

::deep.avatar-tab .button-change-skin-wrap {
    /* Display: */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    order: 2;
    /* Size: */
    width: 100%;
}

@media (min-width: 420px) {
    ::deep.avatar-tab .button-change-skin-wrap {
        /* Display: */
        order: 1;
        /* Size: */
        width: auto;
    }
}

@media (min-width: 768px) {
    ::deep.avatar-tab .avatar-show {
        /* Size: */
        margin-top: 4px;
    }
}
