/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.register-form {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: 100%;
    margin: -30px 0 -20px;
}

::deep.register-form .register-form-content {
    /* Display: */
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    align-items: flex-start;
    /* Size: */
    max-width: 100%;
}

::deep.register-form .password-strength-box {
    /* Display: */
    display: none;
    flex: 1;
    /* Size: */
    padding: 20px;
    padding-top: 30px;
    width: 400px;
    height: 100%;
}

::deep.register-form .password-strength-box-mobile {
    /* Size: */
    width: 100%;
}

::deep.register-form .register-box {
    /* Display: */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* Size: */
    width: 400px;
    max-width: 100%;
}

::deep.register-form .heading.register-heading {
    /* Content: */
    text-align: center;
}

::deep.register-form .register-inputs {
    /* Display: */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Size: */
    width: 100%;
}

::deep.register-form .recaptcha.recaptcha-register {
    /* Size */
    margin: auto;
}

::deep.register-form .recaptcha.recaptcha-register > div {
    /* Size */
    margin: 0 -10px;
}

::deep.register-form .paragraph.register-block {
    /* Size: */
    margin-bottom: -8px;
    /* Content: */
    text-align: center;
}

::deep.register-form .register-success-box {
    /* Display: */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

::deep.register-form .activation-box {
    /* Position: */
    position: relative;
    /* Size: */
    margin-bottom: 20px;
    /* Content: */
    text-align: center;
}

::deep.register-form .register-icon {
    /* Size: */
    margin-top: 10px;
    /* Style: */
    color: var(--theme-status-success-accent-color);
    /* Content: */
    font-size: 76px;
}

::deep.register-form .paragraph.activation-text {
    /* Content: */
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

::deep.register-form .paragraph.activation-text-info {
    /* Content: */
    font-size: 14px;
    text-align: center;
}

::deep.register-form .icon-login {
    /* Position: */
    position: relative;
    /* Size: */
    bottom: -1px !important;
    /* Content: */
    font-size: 17px;
}

::deep.register-form .web-link.register-redirect {
    /* Content: */
    font-size: 15px !important;
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.register-form {
        /* Size: */
        margin: -46px 0 -40px;
    }
}

@media (min-width: 860px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.register-form {
        /* Size: */
        margin: -30px 0 -20px;
    }

    ::deep.register-form .register-form-content {
        /* Display: */
        flex-direction: row;
    }

    ::deep.register-form .password-strength-box {
        /* Display: */
        display: block;
    }

    ::deep.register-form .password-strength-box-mobile {
        /* Display: */
        display: none;
    }

    ::deep.register-form .paragraph.activation-text {
        /* Content: */
        font-size: 17px;
    }

    ::deep.register-form .paragraph.activation-text-info {
        /* Content: */
        font-size: 15px;
    }
}
