/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.modal.credentials-modal {
    /* Size: */
    --modal-min-width: 340px;
}

::deep.modal.credentials-modal .modal-content {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Size: */
    min-width: 100%;
    max-width: 100%;
    padding: 24px;
}

::deep.modal.credentials-modal .paragraph.modal-item {
    /* Content: */
    text-align: center;
}
