@namespace Jumpeno.Client.Components

<AuthView Roles="[ROLE.ADMIN]">
    <Modal
        @ref="@ModalRef"
        Label="@Label"
        NoFooter
        OnAfterClose="ClearModal"
        Class="credentials-modal"
    >
        <Content>
            <div class="modal-content">
                @foreach (var credential in Credentials) {
                    <Paragraph Size="TEXT_SIZE.M" Class="modal-item">@credential</Paragraph>
                }
            </div>
        </Content>
    </Modal>
</AuthView>
