@namespace Jumpeno.Client.Pages

@inherits Page
@code {
    protected override void OnPageInitialized() {
        if (AppEnvironment.IsServer) return;
        ScrollArea.ScrollTo(SCROLLAREA_ID.PAGE, 0, 0);
    }
}

<div class="error-page">
    <DocTitle Value="@I18N.T("404 Not found")" />
    <Heading1 Size="TEXT_SIZE.XL" Class="error-page-heading">@I18N.T("Error 404")</Heading1>
    <Paragraph Size="TEXT_SIZE.L" Class="error-page-paragraph">@I18N.T("Sorry, there's nothing at this address.")</Paragraph>
</div>
