::deep.account-tab {
    /* Display: */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Size: */
    min-width: 100%;
    max-width: 100%;
    padding: 30px 0 40px;
    margin-top: -20px;
}

::deep.account-tab .profile-row,
::deep.account-tab .profile-button-row {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

::deep.account-tab .profile-row {
    /* Size: */
    width: 54%;
    padding-left: 20px;
}

::deep.account-tab .profile-button-row {
    /* Size: */
    width: 46%;
}

::deep.account-tab .user-profile-image-wrap {
    /* Position: */
    position: relative;
    /* Size: */
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
    /* Style: */
    border-radius: 100%;
    background-color: var(--theme-modal-profile-avatar-background);
    border: 6px solid var(--theme-modal-profile-avatar-border-color);
    box-shadow: var(--theme-modal-profile-avatar-box-shadow);
    /* Content: */
    overflow: hidden;
    /* Base: */
    font-size: 1px;
}

::deep.account-tab .image.user-profile-image {
    /* Size: */
    --image-width: 128px;
    --image-height: 128px;
    /* Transform: */
    transform: scale(4) translate(37.2%, 36.8%);
    /* Actions: */
    pointer-events: none;
}

::deep.account-tab .heading.profile-name {
    /* Content: */
    text-align: center;
}

::deep.account-tab .paragraph.profile-email {
    /* Size: */
    margin-top: -10px;
    /* Content: */
    text-align: center;
}

::deep.account-tab .paragraph.profile-activated {
    /* Content: */
    text-align: center;
}

::deep.account-tab .user-activated-icon,
::deep.account-tab .user-not-activated-icon {
    /* Position: */
    position: relative;
    bottom: -2px;
    /* Size: */
    margin: 0 5px 0 -8px;
    /* Content: */
    font-size: 22px;
}

::deep.account-tab .user-activated-icon {
    /* Style: */
    color: var(--theme-status-success-accent-color);
}

::deep.account-tab .user-not-activated-icon {
    /* Style: */
    color: var(--theme-status-danger-accent-color);
}

::deep.account-tab .activated-box {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    /* Size: */
    width: 100%;
    padding-top: 12px;
}

@media (max-width: 600px) {
    ::deep.account-tab {
        /* Display: */
        flex-direction: column;
        gap: 30px;
    }

    ::deep.account-tab .profile-row {
        /* Size: */
        width: 100%;
        padding-left: 0;
    }

    ::deep.account-tab .profile-button-row {
        /* Size: */
        width: 100%;
    }
}
