/* Variables --------------------------------------------------------------------------------------------------------------------------- */
.select-base {
    /* Size: */
    --input-wrap-width: 100%;
    --input-wrap-height: auto;
    --input-label-width: 100%;
    --input-width: 100%;
    --input-height: auto;
    /* Style: */
    --input-padding: 10px;
    --input-border-radius: 6px;
    --input-font-family: var(--font-primary);
    --input-font-size: 16px;
    --input-font-weight: 400;
    --input-line-height: 1;
    --input-icon-size: 16px;
    --input-gap: 4px;
    --input-transform: none;
    --input-transform-transition: none;
    --input-transition-properties: color, background-color, box-shadow;
    --input-transition-duration: calc(var(--transition-fast) * 1ms);
    --input-transition-timing: ease;
    /* Colors: */
    --input-color: rgb(var(--color-primary));
    --input-color-transition: rgb(var(--color-primary));
    --input-background: rgb(var(--color-base-invert));
    --input-background-transition: rgb(var(--color-base-invert));
    --input-border: 1px solid rgba(var(--color-base), 0.2);
    --input-border-transition: 1px solid rgba(var(--color-base), 0.2);
    --input-text-shadow: none;
    --input-text-shadow-transition: none;
    --input-box-shadow: none;
    --input-box-shadow-transition: 0 0 5px rgba(var(--color-base), 0.4);
}

/* Delegation -------------------------------------------------------------------------------------------------------------------------- */
.select-base ::deep .form-wrap {
    --form-wrap-label-width: var(--input-label-width);
    --form-wrap-content-width: var(--input-width);
    --form-wrap-content-height: var(--input-height);
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.select-base {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    width: var(--input-wrap-width);
    height: var(--input-wrap-height);
    max-width: 100%;
}

.select-input {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 100%;
    max-width: 100%;

    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    max-width: 100%;
    overflow: hidden;

    font-family: var(--input-font-family);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    line-height: var(--input-line-height);

    color: var(--input-color);
    background-color: var(--input-background);
    border: var(--input-border);
    text-shadow: var(--input-text-shadow);
    box-shadow: var(--input-box-shadow);

    outline: none;
    cursor: pointer;

    transform: var(--input-transform);
    transition-property: var(--input-transition-properties);
    transition-duration: var(--input-transition-duration);
    transition-timing-function: var(--input-transition-timing);
}
.select-input-empty {
    width: 0;
}
.select-input-text {
    margin-right: var(--input-gap);
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
::deep .select-input-icon svg {
    width: var(--input-icon-size);
    height: var(--input-icon-size);
}

.options {
    display: flex;
    flex-direction: column;
    width: calc(100% + 36px);
    overflow: hidden;
}

.option {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(var(--color-floating));
    text-align: var(--option-align);
    padding: 14px;
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition-property: color, background-color;
    transition-duration: calc(var(--transition-fast) * 1ms);
    transition-timing-function: ease;
}

.option:not(:last-child) {
    border-bottom: 1px solid rgba(var(--color-floating), 0.1);
}

.option.option-selected {
    color: rgb(var(--color-floating-surface));
    background-color: rgba(var(--color-floating), 0.5);
}

.option:not(.option-selected):hover,
.option:not(.option-selected):focus-visible {
    background-color: rgba(var(--color-floating), 0.1);
}
.option.option-selected:hover,
.option.option-selected:focus-visible {
    background-color: rgba(var(--color-floating), 0.4);
}

/* Sizes ------------------------------------------------------------------------------------------------------------------------------- */
.select-base.size-s {
    --input-height: 41px;
    --input-font-size: 16px;
    --input-padding: 10px;
    --input-icon-size: 16px;
}

.select-base.size-m {
    --input-height: 52px;
    --input-font-size: 18px;
    --input-padding: 18px;
    --input-icon-size: 18px;
    --input-border-radius: 8px;
}

.select-base.size-l {
    --input-height: 64px;
    --input-font-size: 24px;
    --input-padding: 26px;
    --input-icon-size: 24px;
    --input-border-radius: 10px;
}

/* Active ------------------------------------------------------------------------------------------------------------------------------ */
::deep .form-error:not(.disabled):hover .select-input,
::deep .form-error:not(.disabled):has(:focus-visible) .select-input {
    color: var(--input-color-transition);
    background-color: var(--input-background-transition);
    border: var(--input-border-transition);
    text-shadow: var(--input-text-shadow-transition);
    box-shadow: var(--input-box-shadow-transition);
    transform: var(--input-transform-transition);
}

/* Error ------------------------------------------------------------------------------------------------------------------------------- */
/* Default style */

/* Disabled ---------------------------------------------------------------------------------------------------------------------------- */
::deep .form-error.disabled {
    background-color: rgba(225, 225, 225, 1.0);
}
.select-base.disabled .select-input {
    opacity: 0.5;
}

/* Media ------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 768px) {
    .option {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    .option {
        font-size: 16px;
    }
}
