/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.manual-page {
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: 100%;
    padding: 0 0 6px;
}

::deep.manual-page .manual-card {
    /* Position: */
    position: relative;
    /* Display: */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    /* Size: */
    width: 100%;
    max-width: 1100px;
}

::deep.manual-page .manual-text-section {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* Size: */
    width: 100%;
    min-height: auto;
    padding: 24px;
    margin: 0;
}

::deep.manual-page .manual-icon {
    /* Display: */
    display: none;
    /* Size: */
    margin-left: auto;
    margin-right: 8%;
    /* Style: */
    color: var(--theme-manual-color);
}
::deep.manual-page .manual-icon svg {
    /* Size: */
    width: 50px;
    height: 50px;
}

::deep.manual-page .heading.manual-heading {
    /* Style: */
    color: var(--theme-manual-color);
}

::deep.manual-page .paragraph.manual-text {
    /* Style: */
    color: var(--theme-manual-color);
    text-shadow: var(--theme-manual-text-shadow);
}

::deep.manual-page .background.manual-background {
    /* Style: */
    --background-color: var(--theme-manual-background);
    --loading-transition-color: var(--theme-manual-background-transition);
    border-radius: 16px;
}
::deep.manual-page .background.manual-background .background-element {
    /* Style: */
    border-radius: 16px;
    box-shadow: var(--theme-manual-box-shadow);
    /* Content: */
    font-size: 1px;
}

::deep.manual-page .manual-image-section {
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: 100%;
    margin: 0;
}

::deep.manual-page .manual-image {
    /* Position: */
    --image-fit: contain;
    /* Size: */
    --image-width: 78%;
    --image-height-ratio: 80%;
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.manual-page {
        /* Size: */
        padding: 30px 0;
    }

    ::deep.manual-page .manual-card {
        /* Display: */
        flex-direction: row;
        gap: 45px;
    }

    ::deep.manual-page .manual-text-section {
        /* Display: */
        gap: 16px;
        /* Size: */
        width: 53%;
        max-width: 540px;
        min-height: 400px;
        padding: 30px;
    }

    ::deep.manual-page .manual-icon {
        /* Display: */
        display: block;
    }

    ::deep.manual-page .manual-image-section {
        /* Size: */
        width: 47%;
    }
}

@media (min-width: 992px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.manual-page .manual-text-section {
        /* Size: */
        min-height: 520px;
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.manual-page {
        /* Size: */
        padding: 40px 0;
    }

    ::deep.manual-page .manual-card {
        /* Display: */
        gap: 65px;
    }

    ::deep.manual-page .manual-text-section {
        /* Display: */
        gap: 20px;
        /* Size: */
        padding: 40px;
    }
}
