/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.user-dropdown {
    position: relative;
    display: inline-flex;
}

.user-dropdown ::deep .dropdown {
    --dropdown-button-width: 40px;
    --dropdown-button-height: 40px;
    --dropdown-button-radius: 100%;
    --dropdown-options-right: -48px;
}

.user-dropdown ::deep .dropdown-button {
    border: 3px solid rgba(var(--color-base-invert), 0.9);
    box-shadow: var(--shadow-user-dropdown-button);
    background-color: rgba(var(--color-profile-background));
    transition: transform calc(var(--transition-slow) * 1ms),
                box-shadow calc(var(--transition-fast) * 1ms);
}

.user-dropdown ::deep .dropdown.displayed .dropdown-button {
    transform: rotate(-360deg);
}

.user-dropdown ::deep .dropdown-button:focus-visible {
    border: 3px solid rgb(var(--color-base-invert));
    box-shadow: var(--shadow-user-dropdown-button-highlight);
}

.user-dropdown ::deep .image-component.user-dropdown-profile-image {
    --image-width: 100%;
    --image-height-ratio: 100%;
    --image-fit: contain;
    --image-position: 0 0;
    transform: scale(-1, 1) scale(4.4) translate(37.2%, 38%);
    pointer-events: none;
}

.user-dropdown ::deep .user-dropdown-icon {
    margin-right: 10px;
}

/* Media ------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 1200px) {
    .user-dropdown ::deep .dropdown {
        --dropdown-button-width: 44px;
        --dropdown-button-height: 44px;
        --dropdown-options-right: -8px;
    }
}
