/* All themes -------------------------------------------------------------------------------------------------------------------------- */
.surface-primary {
    --button-color: rgb(var(--color-primary));
    --button-color-transition: rgb(var(--color-primary-highlight));
}
.surface-secondary {
    --button-color: rgb(var(--color-secondary));
    --button-color-transition: rgb(var(--color-secondary-highlight));
}
.surface-floating {
    --button-color: rgb(var(--color-floating));
    --button-color-transition: rgb(var(--color-floating-highlight));
}
/* Light theme ------------------------------------------------------------------------------------------------------------------------- */
.light-theme .surface-secondary {
    --button-color-transition: rgb(var(--color-secondary));
}
.light-theme .surface-floating {
    --button-color-transition: rgb(var(--color-secondary));
}

/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.cookie-button {
    display: inline;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: var(--button-color);
    transition-property: color, text-shadow;
    transition-duration: calc(var(--transition-fast) * 1ms);
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.cookie-button:hover,
.cookie-button:focus-visible {
    color: var(--button-color-transition);
    text-shadow: 0 0 1px var(--button-color-transition);
}
