/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.home-page {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Size: */
    width: 100%;
    padding: 10px 0 26px;
}

::deep.home-page .home-image-section {
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* Size: */
    width: 100%;
    padding: 0 20px;
}

::deep.home-page .image.home-image {
    /* Position: */
    --image-fit: contain;
    --image-position: center center;
    /* Size: */
    --image-width: 100%;
    --image-max-width: 320px;
    --image-height: auto;
    --image-height-ratio: 100%;
}

::deep.home-page .home-text-section {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* Size: */
    width: 100%;
    max-width: 540px;
    margin: 0;
}

::deep.home-page .heading.main-heading {
    /* Content: */
    text-align: center;
}

::deep.home-page .paragraph.main-text {
    /* Content: */
    text-align: center;
}

::deep.home-page .paragraph.feedback-text {
    /* Content: */
    text-align: center;
}

::deep.home-page .paragraph.contact-text {
    /* Size: */
    font-size: 14px;
    padding-bottom: 10px;
    margin-top: -16px;
    /* Content: */
    text-align: center;
}
::deep.home-page .paragraph.contact-text * {
    /* Content: */
    font-size: 14px;
}
::deep.home-page .paragraph.contact-text .contact-icon svg {
    /* Size: */
    margin-bottom: -3px;
    margin-right: 8px;
    /* Content: */
    font-size: 20px;
}

::deep.home-page .action-buttons {
    /* Display: */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

::deep.home-page .action-buttons .button-component.button {
    /* Size: */
    width: 100%;
}

@media (min-width: 400px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.home-page {
        /* Size: */
        padding: 10px 0 40px;
    }

    ::deep.home-page .action-buttons .button-component.button {
        /* Size: */
        width: auto;
    }
} 

@media (min-width: 500px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.home-page {
        /* Size: */
        padding: 10px 0 60px;
    }

    ::deep.home-page .home-image-section {
        /* Size: */
        padding: 0 20px 4px;
    }
}

@media (min-width: 900px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.home-page {
        /* Display: */
        flex-direction: row;
        /* Size: */
        padding: 80px 0;
    }

    ::deep.home-page .home-image-section {
        /* Display: */
        justify-content: flex-end;
        /* Size: */
        width: 45%;
        padding: 0 40px;
    }

    ::deep.home-page .image.home-image {
        /* Position: */
        --image-fit: contain;
        --image-position: center center;
        /* Size: */
        --image-width: 380px;
        --image-height: 380px;
        --image-max-width: 100%;
    }

    ::deep.home-page .home-text-section {
        /* Size: */
        width: 55%;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.home-page .home-text-section {
        /* Size: */
        max-width: 500px;
    }
}
