/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.collapse-content {
    /* Display: */
    display: block;
    /* Size: */
    margin: 0;
    /* Style: */
    color: var(--collapse-color);
    /* Content: */
    font-family: var(--theme-font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    word-break: break-word;
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.collapse-content {
        /* Content: */
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.collapse-content {
        /* Content: */
        font-size: 14px;
    }
}
