@namespace Jumpeno.Client.Components

@inherits BasicComponent

@code {
    // Constants --------------------------------------------------------------------------------------------------------------------------
    public const string CLASS = "collapse-content";
    
    // Parameters -------------------------------------------------------------------------------------------------------------------------
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    // Attributes -------------------------------------------------------------------------------------------------------------------------
    public override CSSClass ComputeClass() => base.ComputeClass().Set(CLASS, Base);
}

<p class="@ComputeClass()" style="@Style">
    @ChildContent
</p>
