/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.error-401-page {
    /* Position: */
    position: relative;
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Size: */
    width: 100%;
    padding: 40px 0;
}

::deep.error-401-page .heading.error-page-heading {
    /* Size: */
    width: 100%;
    /* Content: */
    text-align: center;
}

::deep.error-401-page .paragraph.error-page-paragraph {
    /* Size: */
    width: 100%;
    /* Content: */
    text-align: center;
}

@media (min-width: 768px) {
    /* Media > Styles ---------------------------------------------------------------------------------------------------------------------- */
    ::deep.error-401-page {
        /* Size: */
        padding: 60px 0;
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ---------------------------------------------------------------------------------------------------------------------- */
    ::deep.error-401-page {
        /* Size: */
        padding: 80px 0;
    }
}
