/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.game-button {
    /* Size: */
    padding: 0;
    margin: 0;
    /* Style: */
    background: transparent;
    border: none;
    outline: none;
    /* Actions: */
    cursor: pointer;
}
