@namespace Jumpeno.Client.Components

@inherits BasicComponent

<button
    class="@ComputeClass()"
    style="@Style"
    type="@BUTTON_TYPE.BUTTON.String()"
    @onmousedown="PressStart" @ontouchstart="PressStart"
    @onmouseleave="MouseLeave"
    @onmouseup="PressEnd" @ontouchend="PressEnd"
    @ontouchstart:preventDefault @ontouchend:preventDefault
    @ontouchstart:stopPropagation @ontouchend:stopPropagation
    tabindex="-1"
>
    @ChildContent
</button>
