@page "/errors"
@attribute [Authorize]
@inject ErrorService _errorService


<div class="wrapper-flex">
    <div class="card card-glass width-75 height-50">
        <h1>Error List</h1>
        
        @ErrorLogs
        </div>
</div>

@code {
    public string ErrorLogs{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        ErrorLogs = _errorService.ReceiveErrorLog().Result;
    }
}