@namespace Jumpeno.Client.Components

@inherits ServiceComponent<ModalProvider>

<div class="@CLASSNAME_MODAL_PROVIDER_CONTENT" inert="@(ModalList.Count > 0)">
    @ChildContent
</div>
@for (var i = 0; i < ModalList.Count; i++) {
    <ModalElement Modal="@ModalList[i]" Inert="@(i < ModalList.Count - 1)" />
}
