/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.modal.cookie-modal {
    /* Size: */
    --modal-min-width: 600px;
    --modal-max-width: 600px;
}

::deep.modal.cookie-modal .consent-container {
    /* Display: */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

::deep.modal.cookie-modal .consent-container .cookie-title {
    /* Display: */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    /* Size: */
    width: 100%;
}

::deep.modal.cookie-modal .consent-container .paragraph.cookie-paragraph {
    /* Size: */
    max-width: 400px;
    margin: auto;
    /* Content: */
    text-align: center;
}

::deep.modal.cookie-modal .consent-footer {
    /* Display: */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 8px;
    /* Size: */
    width: 100%;
}

::deep.modal.cookie-modal .consent-footer .button-component.button {
    /* Display: */
    flex-shrink: 1;
    /* Size: */
    width: 100%;
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.modal.cookie-modal .consent-container .cookie-title {
        /* Display: */
        gap: 10px;
    }

    ::deep.modal.cookie-modal .consent-footer {
        /* Display: */
        flex-direction: row;
        gap: 16px;
    }
}

@media (min-width: 1200px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.modal.cookie-modal .consent-container .cookie-title {
        /* Display: */
        gap: 12px;
    }
}
