.surface-primary {
    color: rgb(var(--color-primary));
}

.surface-secondary {
    color: rgb(var(--color-secondary));
}

.surface-all {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

::deep svg {
    width: 23px;
    height: 23px;
}

::deep .switch-component.surface-all {
    --width-small: 30px;
}
