/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
.nav-menu-close-button {
    position: absolute;
    top: 19px;
    right: calc(var(--size-container-padding-mobile) * 1px);
    margin-top: -4px;
    display: flex;
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.92;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
    padding: 5px;
    cursor: pointer;
    z-index: 2;
    transition-property: color, background-color, box-shadow, opacity;
    transition-duration: calc(var(--transition-fast) * 1ms);
    transition-timing-function: ease;
}

.nav-menu-close-button-line {
    display: block;
    position: absolute;
    width: calc(100% - 10px);
    height: 4px;
    background-color: rgb(var(--color-secondary));
    border-radius: 100px;
    transition-property: background-color, filter;
    transition-duration: calc(var(--transition-fast) * 1ms);
}
.light-theme .nav-menu-close-button:not(:hover):not(:focus-visible) .nav-menu-close-button-line {
    filter: brightness(1.6);
}
.nav-menu-close-button-line:first-child {
    transform: rotate(45deg);
}
.nav-menu-close-button-line:last-child {
    transform: rotate(-45deg);
}

.closing .nav-menu-close-button {
    display: none;
}

/* State ------------------------------------------------------------------------------------------------------------------------------- */
.nav-menu-close-button:hover .nav-menu-close-button-line,
.nav-menu-close-button:focus-visible .nav-menu-close-button-line {
    background-color: rgb(var(--color-secondary-highlight));
}

.nav-menu-close-button:focus-visible {
    background-color: rgba(var(--color-secondary), 0.08);
    box-shadow: 0 1px 6px rgba(var(--color-base), 0.4);
}

/* Media ------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 280px) {
    .nav-menu-close-button {
        margin-right: -8px;
    }
}

@media (min-width: 768px) {
    .nav-menu-close-button {
        right: calc(var(--size-container-padding-tablet) * 1px);
    }
}
