/* Styles ------------------------------------------------------------------------------------------------------------------------------ */
::deep.nav-menu-close-button {
    /* Position: */
    position: absolute;
    top: 19px;
    right: calc(var(--theme-size-container-padding-mobile) * 1px);
    z-index: 2;
    /* Display: */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* Size: */
    width: 46px;
    height: 46px;
    padding: 5px;
    margin-top: -4px;
    /* Style: */
    background: transparent;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
    opacity: 0.92;
    /* Content: */
    font-size: 1px;
    /* Actions: */
    cursor: pointer;
    /* Animations: */
    transition-property: color, background, box-shadow, opacity;
    transition-duration: calc(var(--theme-transition-fast) * 1ms);
    transition-timing-function: ease;
}

::deep.nav-menu-close-button-line {
    /* Position: */
    position: absolute;
    /* Display: */
    display: block;
    /* Size: */
    width: calc(100% - 10px);
    height: 4px;
    /* Style: */
    background: var(--theme-nav-menu-mobile-button-color);
    border-radius: 100px;
    /* Animations: */
    transition-property: background;
    transition-duration: calc(var(--theme-transition-fast) * 1ms);
}
::deep.nav-menu-close-button-line:first-child {
    /* Transform: */
    transform: rotate(45deg);
}
::deep.nav-menu-close-button-line:last-child {
    /* Transform: */
    transform: rotate(-45deg);
}

::deep.nav-menu-mobile.closing .nav-menu-close-button {
    /* Display: */
    display: none;
}

/* Styles [highlight] ------------------------------------------------------------------------------------------------------------------ */
::deep.nav-menu-close-button:hover .nav-menu-close-button-line,
::deep.nav-menu-close-button:focus-visible .nav-menu-close-button-line {
    /* Style: */
    background: var(--theme-nav-menu-mobile-button-highlight-color);
}

::deep.nav-menu-close-button:focus-visible {
    /* Style: */
    background: var(--theme-nav-menu-mobile-button-focus-background);
    box-shadow: var(--theme-nav-menu-mobile-button-focus-box-shadow);
}

@media (max-width: 280px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.nav-menu-close-button {
        /* Size: */
        margin-right: -8px;
    }
}

@media (min-width: 768px) {
    /* Media > Styles ------------------------------------------------------------------------------------------------------------------ */
    ::deep.nav-menu-close-button {
        /* Position: */
        right: calc(var(--theme-size-container-padding-tablet) * 1px);
    }
}
